@import 'variables';

/* data-table */
.data-table {
	&::before {
		content: '';
		display: block;
		position: relative;
		top: 0;
		right: 0;
		left: 0;
		height: 0.0625rem;
		background-color: $color-base-030;
	}
	&.type-a {
		table {
			tbody {
				th,
				td {
					text-align: center;
				}
			}
		}
	}
	&.type-b {
		table {
			thead {
				@include hidden;
			}
		}
	}

	
	table {
		table-layout: fixed;
		width: 100%;
		border-spacing: 0;
		border-collapse: collapse;

		caption {
			overflow: hidden;
			margin: -1px;
			padding: 0;
			width: 1px;
			height: 1px;
			line-height: 1px;
			font-size: 1px;
			color: transparent;
			border: 0;
			clip: rect(0,0,0,0);
		}
		
		tbody {
			th, td {
				vertical-align: top;
				border-style: solid;
				border-color: $color-base-030;
				border-width: 0 0 1px 0;
				color: $color-base-070;
			}
			th {
				word-break: break-all;
				font-weight: normal;
				text-align: left;
				background-color: $color-base-010;
			}
			td {
				
				.para {
					margin: 0;
					& + .para {
						margin-top: 1.5em;
					}
				}
			}
		}
	}

	&.small {
		tbody {
			th, td {
				padding: 0.75rem;
				@include font-body(x-small);
			}
		}
	}

	&.medium {
		tbody {
			th, td {
				padding: 1rem;
				@include font-body(small);
			}
		}
	}
	
	&.large {
		tbody {
			th, td {
				padding: 1.5rem;
				@include font-body(small);
			}
		}
	}
}

.data-table.style-a {
	table {
		tbody {
			th, td {
				border-width: 1px;
			}
		}
	}
}

/* data-table */
.data-table.style-b {
	table {
		tbody {
			th {
				color: $color-base-060;
			}
		}
	}
}


/* data-table */
.data-table.style-c {
	&::before {background-color: $color-base-090;}

	&.type-a {
		table {
			th {color: $color-base-090;}
			thead {
				th {
					font-weight: 400;
					background-color: $color-base-010;
					border-bottom: 1px solid $color-base-030;
				}
			}
		}
	}

	table {
		tbody {
			th, td {
				vertical-align: middle;
			}
			th {
				color: $color-base-090;
			}
	
			td {
				.para {
					& + .para {
						margin-top: 1em;
					}
				}

				.titl {
					margin: 1rem 0 0.5rem 0;
				}
			}
		}
	}

	&.medium {
		tbody {
			th, td {
				@include font-body(x-small);
			}
		}
	}
	
	&.large {
		thead {
			th, td {
				padding: 1.25rem 0;
			}
		}
	}
}

/* data-table */
.data-table.style-d {
	position: relative;

	&::before {
		position: absolute;
		background-color: $color-base-090;
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 0.0625rem;
		background-color: $color-base-030;
	}

	table {
		tbody {
			th, td {border-bottom-width: 0;}
			th {
				color: $color-base-090;
				background-color: transparent;
			}
		}
	}


	&.small {
		padding: 0.5rem 0;
		tbody {
			th, td {
				padding: 0.25rem 0;
			}
		}
	}
	
	&.medium,
	&.large {
		padding: 1rem 0;
		tbody {
			th, td {
				padding: 0.5rem 0;
			}
		}
	}
	&.medium {
		tbody {
			th, td {
				@include font-body(x-small);
			}
		}
	}
}