@import 'variables';
@import 'mixin';

// 공간, 테마, 매장안내
.main-space,
.main-theme,
.main-store {
	h5,	p {
		margin: 0;
		padding: 0;
	}
	a {color: #1c1814;}

	.section-head {
		margin-bottom: 1.5rem !important;

		.section-name {padding-bottom: 1rem;}
		p {
			display: inline-block;
			font-size: 1.5em;
		}
	}
}
.color-primary {color:#00b076 !important}
.main-theme {
	.more-btn {
		position: absolute;
		right: 0;
		font-size: .875rem;
		line-height: 20px;

		a {
			color: rgba(28, 24, 20, .6);
		}

		& a::after {
			content: '';
			display: inline-block;
			vertical-align: sub;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 100% auto;
			width: 1rem;
			height: 1rem;
			background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' style='fill: rgba(30,198,140,1)'><path d='M9.6,17.8c-0.3,0.3-0.7,0.3-0.9,0c-0.2-0.2-0.3-0.6-0.1-0.8l0.1-0.1l5-4.9l-5-4.9C8.5,6.9,8.4,6.5,8.6,6.3l0.1-0.1C8.9,6,9.3,5.9,9.5,6.1l0.1,0.1l5.9,5.8C15.5,12,9.6,17.8,9.6,17.8z'/></svg>")
		}
	}
}

// 공간
.main-space {
	.section-head {
		display: flex;
		justify-content: space-between;

		.section-title {
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
		}
	}
	.data-list {
		display: flex;
		justify-content: space-between;

		.data-item {
			position: relative;
			width: 158px;
			height: 260px;
			text-align: center;
			border-radius: .25rem;
			transition: all .4s ease-out;

			&:not(:last-child) {border-right: none;}
			&.active {
				width: 322px;
	
				span {background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.4) 100%) !important;}
			}

			a {
				display: block;
				width: 100%;
				height: 100%;
				color: #ffffff;
				font-size: 1.2rem;
				background-repeat: no-repeat;
				background-size: 100%;
				border-radius: .25rem;
				overflow: hidden;

				img {
					display: block;
					min-width: 100%;
					height: 100%;
				}
			}

			span {
				display: flex;
				justify-content: center;
				align-items: flex-end;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				color: #ffffff;
				text-align: center;
				background: rgba(0, 0, 0, 0.6);
				border-radius: .25rem;

				p {
					padding-bottom: .875rem;
				}
			}
		}
	}
}

// 테마
.main-theme {
	width: 1312px;
	height: 858px;
	background-color: #f8f8f8;
	.more-btn {
		bottom: 0;
	}

	&::before {
		content: '';
		display: block;
		position: absolute;
		z-index: -1;
		top: 0;
		right: -100vw;
		bottom: 0;
		left: -100vw;
		background-color: #f8f8f8;
	}

	.section-head {
		position: relative;
		padding-top: 4rem;
		margin-bottom: 0;
	}

	.data-list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		li.data-item {
			width: 416px;
			height: 292px;
			background-color: #f8f8f8;

			&:nth-child(-n+3) {margin-bottom: 2rem;}

			a {
				display: block;

				.data-area {
					width: 416px;

					.image-wrap {
						height: 180px;
						padding-left: 0;
						overflow: hidden;
						border-top-left-radius: .25rem;
						border-top-right-radius: .25rem;
						display: flex;
						justify-content: center;
						align-items: center;

						img {
							display: block;
							width: 100%;
						}
					}

					div {
						padding-left: 1rem;
						height: 112px;
						background-color: #ffffff;
						color: #1c1814;

						h5 {
							font-size: 1.125rem;
						}
					}
				}
			}
		}
	}
}

.main-chip {
	display: inline-block;
	margin: 17px 0 9px 0;
	padding: 1px 8px;
	color: #00B076;
	font-size: 12px;
	border-radius: 10px;
	border: 1px solid #00b076;
	box-sizing: border-box;
}

.color-display .color-name {
	font-size: .75rem !important;
	text-align: right;
	line-height: 1.8 !important;
	flex-direction: column;

	span:first-child {line-height: 1;}
}

// 매장안내
.main-store {
	.swiper-container {
		left: -1.5rem;
		padding-right: 1.5rem;
		padding-left: 1.5rem;
		width: 100%;

		&::before {
			content: '';
			display: block;
			position: absolute;
			z-index: 10;
			top: 0;
			bottom: 0;
			left: 0;
			width: 3rem;
			background: linear-gradient(90deg, #fff 0, rgba(255, 255, 255, 0) 50%);
		}

		.swiper-button-next, .swiper-button-prev {
			display: block;
			position: absolute;
			top: 11.3125rem;
			z-index: 20;
			width: 3rem;
			height: 3rem;
			border-radius: 50%;
			background-color: #fff;
			box-shadow: 0 .125rem .25rem 0 rgba(0, 0, 0, .08), inset 0 0 0 .0625rem #e8e8e8;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 50% 50%;

			&.swiper-button-disabled {display: none;}
		}
		.swiper-button-prev {
			left: .125rem;
			background-image: svgIcon(chevron-left, #1c1814);

			// &.swiper-button-disabled {background-image: svgIcon(chevron-left, #d2d1d0);}
		}
		.swiper-button-next {
			right: .125rem;
			background-image: svgIcon(chevron-right, #1c1814);

			// &.swiper-button-disabled {background-image: svgIcon(chevron-right, #d2d1d0);}
		}
		.swiper-button-lock {display: none}
	}
	.swiper-slide {
		width: 416px;
		height: 416px;
		background-color: #ffffff;
		border-radius: 4px;

		.data-area {
			display: flex;
			flex-direction: column;
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
		}

		.store-infor-wrap {
			position: relative;
			height: 184px;
			padding: 0 1.5rem;
			box-sizing: border-box;

			h5 {
				font-size: 1.125rem;
				font-weight: 700;
			}
			strong {
				display: block;
				margin: .2rem 0 1rem;
				color: #00b076;
			}
			p {
				font-size: 1rem;
				line-height: 1.5rem;
			}
			.more-btn {
				position: absolute;
				top: 3.25rem;
				right: 1rem;
				font-size: .75rem;
			}
			.more-btn::after {
				content: '';
				display: inline-block;
				vertical-align: sub;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 100% auto;
				width: 1rem;
				height: 1rem;
				background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' style='fill: rgba(30,198,140,1)'><path d='M9.6,17.8c-0.3,0.3-0.7,0.3-0.9,0c-0.2-0.2-0.3-0.6-0.1-0.8l0.1-0.1l5-4.9l-5-4.9C8.5,6.9,8.4,6.5,8.6,6.3l0.1-0.1C8.9,6,9.3,5.9,9.5,6.1l0.1,0.1l5.9,5.8C15.5,12,9.6,17.8,9.6,17.8z'/></svg>")
			}
		}
	}
}

// 추천 브랜드
// .recommend-brand .brand-list {
// 	display: flex;
// 	justify-content: space-between;

// 	.brand-logo a {
// 		display: block;
// 		width: 100%;
// 		height: 100%;
// 		color: #605d5b;
// 		font-size: 1rem;
// 		text-align: center;

// 		img {
// 			display: block;
// 			width: 10rem;
// 			height: 10rem;
// 			border: 1px solid #e8e8e8;
// 			border-radius: 50%;
// 			box-sizing: border-box;
// 		}
// 	}
// 	.brand-title {margin-top: 1rem;}
// }


// 카테고리 설정

// variables
$category-color : (
	'handle':		#1EC68C, /* 손잡이 */
	'hinge':		#00A6CC, /* 철물·하드웨어 */
	'tool':			#028BE8, /* 공구·도구 */
	'wood':			#2173D3, /* 목재·유리·몰딩·DIY */
	'paint':		#5966DF, /* 페인트·스테인 */
	'socket':		#694CDC, /* 전기·스위치·콘센트 */
	'lighting':		#A54CDC, /* 조명 */
	'kitchen':		#B743AC, /* 주방수전·싱크대 */
	'faucet':		#B74366, /* 욕실수전·위생도기 */
	'tile':			#B74343, /* 타일·파벽돌 */
	'floor':		#7C6969, /* 바닥재·장판 */
	'wallpaper':	#B47F61, /* 벽지 */
	'sheet':		#E0954F, /* 시트지·필름 */
	'furniture':	#DEB13C, /* 가구 */
	'outdoor':		#8AAA5B, /* 캠핑용품 */
	'living':		#5BAA76, /* 리빙·라이프스타일 */
	'fabric':		#5BC3B1, /* 홈패브릭 */
	'office':		#3C7BB6, /* 사무용품·문구·완구 */
	'appliances':	#4660B2, /* 가전·디지털 */
);

.section.category {
	.section-name {
		padding-bottom: 0;
	}
}
.category-list-wrap {
	display:none;
	position: fixed;
	top:170px;
	z-index: 10;
	margin-left:-59px;

	.btn-setting {
		display: block;
		width: 100%;
		padding:4px 0 26px;
		font-size: 0.75rem;
		line-height: 1.125rem;
		letter-spacing: -0.25px;
		text-align: center;
		background-image: svgIcon2(setting-icon, $color-primary-070);
		background-repeat: no-repeat;
		background-position: center calc(100% - 8px);
		background-color: $color-base-010;
		border-radius: 0px 0px 4px 4px;
		border-color:$color-base-030;
		border-style: solid;
		border-width: 0 1px 1px 1px;
		color: $color-base-070;
		cursor: pointer;
	}
}
.category-list {
	margin:0;
	padding:0;
	list-style: none;
	background: $color-base-000;

	.category-name {
		display: block;
		width:100%;
		line-height: 2.25rem;
		text-decoration: none;
		color: $color-base-070;
		background: $color-base-000;
		cursor: pointer;

		&::before {
			content: '';
			display: inline-block;
			width: 36px;
			height: 1.25rem;
			background-image: inherit;
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: center center;
			vertical-align: sub;
			margin-right: 14px;
		}

		@each $name, $color in $category-color {
			&.#{$name}::before {background-image: svgIcon(#{$name}, $color-base-070)}
		}
	}

	&.type1 {// 카테고리 탭
		width: 36px;
		border: 1px solid $color-base-030;
		border-radius: 4px 4px 0 0;
		
		.category-name {
			overflow: hidden;
			white-space: nowrap;
	
			&:hover, &.active {
				@each $name, $color in $category-color {
					&.#{$name} {background-color: $color;}
					&.#{$name}::before {background-image: svgIcon(#{$name}, $color-base-000)}
				}
			}
			
			&:hover {
				width: 187px;
				color:$color-base-000;
				border-radius: 0px 4px 4px 0px;
			}
		}
	}
	&.type2 {// 카테고리 설정
		max-height: calc(100vh - 329px);
		overflow-y: auto;
		padding:0 16px;
		//counter-reset: categorylist;

		&::-webkit-scrollbar {width: .375rem;}
		&::-webkit-scrollbar-thumb {
			border-radius: .25rem;
			background-color: #d2d1d0;
		}
		&::-webkit-scrollbar-track {
			border-radius: .25rem;
			background-color: #f4f4f4;
		}

		.category-item {
			position: relative;
			display: flex;
			align-items: center;
			border-top:1px solid $color-base-030;
			padding:0 5px 0 0;

			&:first-child {border-top-width: 0;}
			&::before {
				@include font-body(small);

				left:5px;
				// counter-increment: categorylist;
				// content: counter(categorylist);
				width:20px;
				text-align: right;
				color: #605D5B;
			}
			&::after {
				content:'';
				right:5px;
				display: inline-block;
				width: 16px;
				height: 14px;
				background-image: svgIcon2(move-icon, #A5A5A5, 16, 14);				
				background-repeat: no-repeat;
			}
			&.unenabled {
				background-color: #F3F3F3;
				opacity: 0.6;
				
				.category-name {background-color: inherit;}
			}

			input[type="checkbox"] {
				width:24px;
				height: 24px;
				appearance: none;
				background-image: svgIcon2(checked-icon, #D2D1D0, 12, 9);
				background-repeat: no-repeat;
				background-position: center center;
			}
			
			input[type="checkbox"]:checked {
				background-image: svgIcon2(checked-icon, #1EC68C, 12, 9);
			}
			input[type="checkbox"]:disabled {opacity: 0.3;}
		}
		.category-name {
			&::before {margin-right: 0;}
		}

		.ui-sortable-helper {
			/*color: rgba(96, 93, 91, 0.6);

			@each $name, $color in $category-color {
				&.#{$name}::before {background-image: svgIcon(#{$name}, #A09E9D)}
			}*/
			opacity: 0.6;
		}
	}
}

// 카테고리 설정
.category-layer {
	display: none;
	position: absolute;
	top: 0;
    left: calc(100% + 8px);
	width:275px;
	background: $color-base-000;
	border: 1px solid $color-base-090;
	box-sizing: border-box;
	border-radius: 4px;
	overflow: hidden;

	.category-title {
		background: $color-base-010;
		padding:17px 8px 15px 15px;

		.title {
			@include font-body(small);

			display: block;
			font-weight: 700;
			color:$color-base-090;
		}
		.description {
			@include font-body(x-small);

			display: block;
			margin-top: 6px;
			color:#74726F;
		}
	}
	
	.btn-reset {
		@include font-body(x-small);

		position: absolute;
		top:15px;
		right:8px;
		padding:0;
		color:#74726F;

		&::before {
			content: '';
			display: inline-block;
			width: 1rem;
			height: 1rem;
			vertical-align: sub;
			margin-right: 6px;
			background-image: svgIcon(reset, #74726F);
			background-repeat: no-repeat;
			background-size: 24px;
			background-position: center center;
		}
	}

	.btn-wrap {
		display: flex;

		[class^=btn-] {
			position: relative;
			width:50%;
			font-size: 0.875rem;
			line-height: 1.25rem;
			letter-spacing: -0.25px;
			text-align: center;
			line-height: 59px;
			background: #F8F8F8;

			&:not(:first-child)::before {
				content:'';
				position: absolute;
				width: 1px;
				height: 20px;
				top:50%;
				left:0;
				transform: translateY(-50%);
				background: #E8E8E8;
			}
		}
		.btn-confirm {color: $color-primary-080;}
	}
}

#category-wrap, #category-wrap-loading {
	.category-inner {
		margin-top:48px;
		padding:32px 0;
		border-top:2px solid $color-base-090;
		border-bottom:1px solid $color-base-030;

		&.loading {
			position: relative;	
			overflow: hidden;

			&::after{
				content: '';
				width: 82rem;
				height: 34.4375rem;
				position: absolute;
				background-repeat: no-repeat;
				background-image: linear-gradient(#f1f3f5 100%, transparent 0),linear-gradient(#f1f3f5 100%, transparent 0),linear-gradient(#f1f3f5 100%, transparent 0),linear-gradient(#f1f3f5 100%, transparent 0),linear-gradient(#f1f3f5 100%, transparent 0),linear-gradient(#f1f3f5 100%, transparent 0),linear-gradient(#f1f3f5 100%, transparent 0),linear-gradient(#f1f3f5 100%, transparent 0),linear-gradient(#f1f3f5 100%, transparent 0),linear-gradient(#f1f3f5 100%, transparent 0),linear-gradient(#f1f3f5 100%, transparent 0),linear-gradient(#f1f3f5 100%, transparent 0),linear-gradient(#f1f3f5 100%, transparent 0),linear-gradient(#f1f3f5 100%, transparent 0),linear-gradient(#f1f3f5 100%, transparent 0),linear-gradient(#f1f3f5 100%, transparent 0),linear-gradient(#f1f3f5 100%, transparent 0),linear-gradient(#f1f3f5 100%, transparent 0),linear-gradient(#f1f3f5 100%, transparent 0),linear-gradient(#f1f3f5 100%, transparent 0),linear-gradient(#f1f3f5 100%, transparent 0),linear-gradient(#f1f3f5 100%, transparent 0),linear-gradient(#f1f3f5 100%, transparent 0),linear-gradient(#f1f3f5 100%, transparent 0),linear-gradient(#f1f3f5 100%, transparent 0),linear-gradient(#f1f3f5 100%, transparent 0);
				background-size: 13.875rem 100%, 19rem 100%, 10rem 10rem, 10rem 10rem,10rem 10rem,10rem 10rem,10rem 10rem,10rem 10rem,10rem 10rem,10rem 10rem, 10rem 1.6875rem,10rem 1.6875rem,10rem 1.6875rem,10rem 1.6875rem,10rem 1.6875rem,10rem 1.6875rem,10rem 1.6875rem,10rem 1.6875rem,10rem 1.6875rem,10rem 1.6875rem,10rem 1.6875rem,10rem 1.6875rem,10rem 1.6875rem,10rem 1.6875rem,10rem 1.6875rem,10rem 1.6875rem;
				background-position: 0px 0px, 16.25rem 0px, 37.5rem 0px, 37.5rem 17.625rem, 49rem 0px,49rem 17.625rem,60.5rem 0px, 60.5rem 17.625rem, 72rem 0px, 72rem 17.625rem, 37.5rem 10.375rem, 37.5rem 12.4375rem,37.5rem 28rem, 37.5rem 30.0625rem,49rem 10.375rem, 49rem 12.4375rem,49rem 28rem, 49rem 30.0625rem, 60.5rem 10.375rem, 60.5rem 12.4375rem, 60.5rem 28rem, 60.5rem 30.0625rem, 72rem 10.375rem, 72rem 12.4375rem, 72rem 28rem, 72rem 30.0625rem;
				background-color: #fff;
			}
			.bar {display: block;}
			.goods-list {overflow: hidden;}
		}
		@at-root .indicator, .bar {
			height: 34.4375rem;
		}
		@at-root .indicator {
			width: 0;
			box-shadow: 0 0 75px 75px #fff;
		}

		.bar {
			display: none;
			width: 100%;
			position: absolute;
			z-index: 1;
			animation-name: skeleton;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			animation-timing-function: ease-in;
		}

	}
	.category-title {
		margin:0 0 15px 0;
		font-size: 2rem;
		font-weight: 700;
		line-height: 2.5rem;
		letter-spacing: -2px;
		word-break: keep-all;
	}

	@each $name, $color in $category-color {
		[id=cate-#{$name}] .category-title {color: $color;}
	}

	.btn-more {
		@include font-body(small);
		
		color: rgba(28, 24, 20, 0.6);
		text-decoration: none;

		&::after {			
			content: '';
			display: inline-block;
			width: 1rem;
			height: 1rem;
			vertical-align: middle;
			background-image: svgIcon(chevron-right, $color-base-090);
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: center center;
		}
	}
}

//230+32+300+38+712=1312
.category-inner {
	display: flex;
}
.category-title-wrap {
	position: relative;
	width:230px;
}
.keyword-wrap {
	position: absolute;
	bottom: 0;
	left:0;
	width: 100%;

	.keyword-title {
		@include font-head(x-small);
		
		margin:10px 0;
		color: $color-base-090;
		font-weight: 700;
	}
	.keyword-list {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		align-content: flex-start;
		margin:-4px;
		height:242px;
		// min-height: 242px;
		// max-height: 380px;
		overflow: hidden;
	
		.keyword-item {
			@include font-body(small);
			@include elli;
			
			height: 40px;
			padding:9px 20px 10px;
			margin:4px;
			color: $color-base-070;
			text-align: center;
			border: 1px solid $color-base-030;
			box-sizing: border-box;
			border-radius: 20px;
	
			/*&:hover {
				color:$color-base-000;
				background-color: $color-primary-070;
				border-color: $color-primary-070;
			}*/
		}
	}

}
.category-banner-wrap {
	width:300px;
	height: 548px;
	margin-left:32px;
	overflow: hidden;
}
.category-banner-list {
	position: relative;
	height: 100%;

	.slick-list, .slick-track {height: 100%;}
	a {
		position: relative;
		display: block;
		height: 100%;
		background-color:transparent;
		background-size: 100%;
		background-repeat:no-repeat;
	}
	.txt-wrap {
		position: absolute;
		left:0;
		bottom:0;
		display: flex;
		width:100%;
		height:144px;
		padding:20px;
		background: rgba(0, 0, 0, 0.7);
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		box-sizing: border-box;

		@at-root .category-inner:not(.hide):nth-of-type(2n) & {
			background: rgba(255, 255, 255, 0.7);
			
			.tit, .txt {color: #1C1814;}
		}

		.tit, .txt {color: #fff;}
		.tit {
			@include font-head(small);
			
			font-weight: 700;
		}
		.txt {@include font-body(medium)}
		.wbr {display: block;}
	}
	.slick-dots {
		display: flex;
		width: 100%;
		position: absolute;
		bottom:160px;
		justify-content: center;

		button {			
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;

			width: 12px;
			height: 12px;
			border-radius: 100%;
			background: #1C1814;
			mix-blend-mode: normal;
			opacity: 0.1;
			vertical-align: bottom;
			margin:0 4px;
			padding:0;
		}
		.slick-active {
			button {
				background: rgba(28, 24, 20, 0.6);
				opacity: 1;
			}
		}
	}
}
$categroy-padding:24px;
.category-inner {
	.goods-display.medium {
		margin-left:38px;
		width:712px;
		height: 548px;

		.goods-list, .slick-list {
			width: 100%;
			height: 100%;
			//flex-direction: unset !important;
		}
		.goods-item {
			width:calc(100% / 4);
			height: 266px;
			padding:0 0 0 $categroy-padding;
			box-sizing: border-box;
		}
		.slick-slide > div {margin-left:-#{$categroy-padding};}
		.slick-slide > div:last-child {margin-top:12px;}

		.goods-list:hover {
			//.slick-prev, .slick-next {display: block !important;}
			.slick-disabled {display: none !important;}
		}
		.slick-prev, .slick-next {
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			
			//display: none !important;
			position: absolute;
			top:50%;
			z-index: 1;
			width:48px;
			height:48px;
			background: #FFFFFF;
			border: 1px solid #E8E8E8;
			border-radius: 100%;
			box-sizing: border-box;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
			transform: translateY(-50%);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 50% 50%;
			padding:0;
		}
		.slick-prev {
			left:-24px;
			background-image: svgIcon(chevron-left, #1C1814);
		}
		.slick-next {
			right:-24px;
			background-image: svgIcon(chevron-right, #1C1814);
		}
		.slick-disabled {display: none !important;}

		.goods-name {height: 40px;}
		.goods-inform {margin-top: 0.25rem !important;}
		.goods-type .data-item {font-weight: 400 !important;}
	}
}

@keyframes skeleton {
	0% {
		transform: translateX(0);
		opacity: 0;
	}
	20% {opacity: 0.25;}
	50% {opacity: 1;}
	80% {opacity: 0.5;}
	100% {
		transform: translateX(100%);
		opacity: 0;
	}
}


.favorite-category-wrap {
	display: flex;
	justify-content: space-between;

	.section.favorite-category {
		width: 720px;
		.sort-list {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			.sort-item {
				position: relative;
				width: initial !important;
				margin: 0!important;

				&:nth-child(n + 6) {
					margin: 20px 0 0 0 !important;
				}

				.sort-name {
					&::before {
						width: 80px;
						height: 80px;
						background-color: #f8f8f8;
						background-size: 50%;
					}
					@each $name, $color in $category-color {
						&.#{$name}::before {background-image: svgIcon(#{$name}, $color-base-070)}
					}
				}
				.sort-name.more::before {
					background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' style='fill: rgba(96,93,91,1)'><path d='M7.2,12c0,1.4-1.2,2.6-2.6,2.6C3.2,14.6,2,13.4,2,12s1.2-2.6,2.6-2.6C6,9.4,7.2,10.6,7.2,12z M19.4,9.4c-1.4,0-2.6,1.2-2.6,2.6s1.2,2.6,2.6,2.6c1.4,0,2.6-1.2,2.6-2.6S20.8,9.4,19.4,9.4z M12,9.4c-1.4,0-2.6,1.2-2.6,2.6s1.2,2.6,2.6,2.6s2.6-1.2,2.6-2.6S13.4,9.4,12,9.4z'/></svg>");
				}
			}
		}
	}
	.section.moongori-brand {
		width: 505px;
		.brand-list {
			display: flex;
			justify-content: space-between;

			.brand:not(:last-child) {
				margin-right: 11px;
			}
		}
	}
}
