<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>goods style-c</title>
	<link rel="stylesheet" type="text/css" href="./../../assets/css/posts_new.css">
	<link rel="stylesheet" type="text/css" href="./../../assets/css/module.global.css">
	<script type="text/javascript" src="./../../assets/js/module.all.js"></script>
	<script type="text/javascript" src="./../../assets/js/module.bui.js"></script>
	<script type="text/javascript" defer="" src="./../../assets/js/module.bui.template.js"></script>
</head>
<body>
	<div id="page">
		<div class="page-body">
			<h1>goods style-c</h1>
			<h2>type-a</h2>
			<!--goods-display-->
			<div class="goods-display style-c type-a">
				<ul class="goods-list">
					<!--goods-item-->
					<li class="goods-item" data-bui-fold="freeCuttingGoods"><!--20201123 수정-->
						<div class="goods-area">
							<div class="goods-figure">
								<span class="goods-thumbnail" style="background-image: url(./../../assets/images/@temporary/img_product_wood_01_01.png);"></span>
								<span class="goods-thumbnail-magnify"><img class="image" src="./../../assets/images/@temporary/img_product_wood_thumb01_01.png" alt="" onerror="imgError(this);"></span>
							</div>
							<div class="goods-inform">
								<div class="goods-head">
									<div class="goods-title"><span class="goods-name">스프러스 집성목</span></div>
									<div class="keyword-area">
										<span class="keyword theme-a style-b type-a x-small normal-05" href="#"><span class="keyword-text">친환경</span></span>
										<span class="keyword theme-a style-b type-a x-small normal-05" href="#"><span class="keyword-text">저렴</span></span>
										<span class="keyword theme-a style-b type-a x-small normal-05" href="#"><span class="keyword-text">인테리어 마감재</span></span>
										<span class="keyword theme-a style-b type-a x-small normal-05" href="#"><span class="keyword-text">수축</span></span>
										<span class="keyword theme-a style-b type-a x-small normal-05" href="#"><span class="keyword-text">팽창</span></span>
										<span class="keyword theme-a style-b type-a x-small normal-05" href="#"><span class="keyword-text">옹이 제거가능</span></span>
									</div>
								</div>
								<div class="goods-body">
									<ul class="data-display">
										<li class="data-item">
											<a class="data-area" href="#">
												<span class="data-head"><span class="data-name">24T</span>  <span class="mark theme-a style-b type-b accent-02 xxx-small">최다판매</span></span></span>
												<span class="data-body">
													<span class="goods-price"><span class="price-sale"><span class="value">225</span> <span class="unit">원</span> <span class="calc">/ cm²</span></span></span>
												</span>
											</a>
										</li>
										<li class="data-item">
											<a class="data-area" href="#">
												<span class="data-head"><span class="data-name">18T</span></span>
												<span class="data-body">
													<span class="goods-price"><span class="price-sale"><span class="value">180</span> <span class="unit">원</span> <span class="calc">/ cm²</span></span></span>
												</span>
											</a>
										</li>
										<li class="data-item">
											<a class="data-area" href="#">
												<span class="data-head"><span class="data-name">15T</span></span>
												<span class="data-body">
													<span class="goods-price"><span class="price-sale"><span class="value">165</span> <span class="unit">원</span> <span class="calc">/ cm²</span></span></span>
												</span>
											</a>
										</li>
										<li class="data-item">
											<a class="data-area" href="#">
												<span class="data-head"><span class="data-name">24T</span>  <span class="mark theme-a style-b type-b accent-02 xxx-small">최다판매</span></span></span>
												<span class="data-body">
													<span class="goods-price"><span class="price-sale"><span class="value">225</span> <span class="unit">원</span> <span class="calc">/ cm²</span></span></span>
												</span>
											</a>
										</li>
										<li class="data-item">
											<a class="data-area" href="#">
												<span class="data-head"><span class="data-name">18T</span></span>
												<span class="data-body">
													<span class="goods-price"><span class="price-sale"><span class="value">180</span> <span class="unit">원</span> <span class="calc">/ cm²</span></span></span>
												</span>
											</a>
										</li>
										<li class="data-item">
											<a class="data-area" href="#">
												<span class="data-head"><span class="data-name">15T</span></span>
												<span class="data-body">
													<span class="goods-price"><span class="price-sale"><span class="value">165</span> <span class="unit">원</span> <span class="calc">/ cm²</span></span></span>
												</span>
											</a>
										</li>
									</ul>
									<!-- 게시물이 4개 이상일때 추가 20201123 수정 -->
									<div class="more-data"></div>
								</div>
							</div>
						</div>
					</li>
					<!--goods-item-->
					<!--goods-item-->
					<li class="goods-item" data-bui-fold="freeCuttingGoods"><!--20201123 수정-->
						<div class="goods-area">
							<div class="goods-figure">
								<span class="goods-thumbnail" style="background-image: url(./../../assets/images/@temporary/img_product_wood_01_02.png);"></span>
								<span class="goods-thumbnail-magnify"><img class="image" src="./../../assets/images/@temporary/img_product_wood_thumb01_02.png" alt="" onerror="imgError(this);"></span>
							</div>
							<div class="goods-inform">
								<div class="goods-head">
									<div class="goods-title"><span class="goods-name">삼나무 집성목</span></div>
									<div class="keyword-area">
										<span class="keyword theme-a style-b type-a x-small normal-05" href="#"><span class="keyword-text">친환경</span></span>
										<span class="keyword theme-a style-b type-a x-small normal-05" href="#"><span class="keyword-text">저렴</span></span>
										<span class="keyword theme-a style-b type-a x-small normal-05" href="#"><span class="keyword-text">인테리어 마감재</span></span>
									</div>
								</div>
								<div class="goods-body">
									<ul class="data-display">
										<li class="data-item">
											<a class="data-area" href="#">
												<span class="data-head"><span class="data-name">24T</span></span>
												<span class="data-body">
													<span class="goods-price"><span class="price-sale"><span class="value">165</span> <span class="unit">원</span> <span class="calc">/ cm²</span></span></span>
												</span>
											</a>
										</li>
										<li class="data-item">
											<a class="data-area" href="#">
												<span class="data-head"><span class="data-name">18T</span></span>
												<span class="data-body">
													<span class="goods-price"><span class="price-sale"><span class="value">135</span> <span class="unit">원</span> <span class="calc">/ cm²</span></span></span>
												</span>
											</a>
										</li>
										<li class="data-item">
											<a class="data-area" href="#">
												<span class="data-head"><span class="data-name">15T</span></span>
												<span class="data-body">
													<span class="goods-price"><span class="price-sale"><span class="value">120</span> <span class="unit">원</span> <span class="calc">/ cm²</span></span></span>
												</span>
											</a>
										</li>
									</ul>
									<!-- 게시물이 4개 이상일때 추가 20201123 수정 -->
									<!-- <div class="more-data"></div> -->
								</div>
							</div>
						</div>
					</li>
					<!--goods-item-->
					<!--goods-item-->
					<li class="goods-item" data-bui-fold="freeCuttingGoods"><!--20201123 수정-->
						<div class="goods-area">
							<div class="goods-figure">
								<span class="goods-thumbnail" style="background-image: url(./../../assets/images/@temporary/img_product_wood_01_03.png);"></span>
								<span class="goods-thumbnail-magnify"><img class="image" src="./../../assets/images/@temporary/img_product_wood_thumb01_03.png" alt="" onerror="imgError(this);"></span>
							</div>
							<div class="goods-inform">
								<div class="goods-head">
									<div class="goods-title"><span class="goods-name">미송 합판</span></div>
									<div class="keyword-area">
										<span class="keyword theme-a style-b type-a x-small normal-05" href="#"><span class="keyword-text">수축</span></span>
										<span class="keyword theme-a style-b type-a x-small normal-05" href="#"><span class="keyword-text">팽창</span></span>
										<span class="keyword theme-a style-b type-a x-small normal-05" href="#"><span class="keyword-text">옹이 제거가능</span></span>
									</div>
								</div>
								<div class="goods-body">
									<ul class="data-display">
										<li class="data-item">
											<a class="data-area" href="#">
												<span class="data-head"><span class="data-name">16T</span></span>
												<span class="data-body">
													<span class="goods-price"><span class="price-sale"><span class="value">90</span> <span class="unit">원</span> <span class="calc">/ cm²</span></span></span>
												</span>
											</a>
										</li>
										<li class="data-item">
											<a class="data-area" href="#">
												<span class="data-head"><span class="data-name">12T</span></span>
												<span class="data-body">
													<span class="goods-price"><span class="price-sale"><span class="value">75</span> <span class="unit">원</span> <span class="calc">/ cm²</span></span></span>
												</span>
											</a>
										</li>
										<li class="data-item">
											<a class="data-area" href="#">
												<span class="data-head"><span class="data-name">99.0T</span></span>
												<span class="data-body">
													<span class="goods-price"><span class="price-sale"><span class="value">999,000</span> <span class="unit">원</span> <span class="calc">/ cm²</span></span></span>
												</span>
											</a>
										</li>
									</ul>
									<!-- 게시물이 4개 이상일때 추가 20201123 수정 -->
									<!-- <div class="more-data"></div> -->
								</div>
							</div>
						</div>
					</li>
					<!--goods-item-->
				</ul>
			</div>
			<!--//goods-display-->
		</div>
	</div>
	<script stype="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
		
	});
	</script>
</body>
</html>