<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>goods style-g</title>
	<link rel="stylesheet" type="text/css" href="./../../assets/css/posts_new.css">
	<link rel="stylesheet" type="text/css" href="./../../assets/css/module.global.css">
	<script type="text/javascript" src="./../../assets/js/module.all.js"></script>
	<script type="text/javascript" src="./../../assets/js/module.bui.js"></script>
	<script type="text/javascript" defer="" src="./../../assets/js/module.bui.template.js"></script>
</head>
<body>
	<div id="page">
		<div class="page-body">
			<h1>goods style-g</h1>
			<h2>type-a</h2>
			<!--goods-display-->
			<div class="goods-display style-g type-a">
				<!--goods-list-->
				<ul class="goods-list">
					<li class="goods-item">
						<div class="goods-area">
							<div class="goods-figure">
								<a class="goods-thumbnail" href="#"><img class="image" src="./../../assets/images/@temporary/image-thumbnail-01@3x.png" alt="" onerror="imgError(this);"></a>
							</div>
						</div>
					</li>
					<li class="goods-item">
						<div class="goods-area">
							<div class="goods-figure">
								<a class="goods-thumbnail" href="#"><img class="image" src="./../../assets/images/@temporary/image-thumbnail-01@3x.png" alt="" onerror="imgError(this);"></a>
							</div>
						</div>
					</li>
					<li class="goods-item">
						<div class="goods-area">
							<div class="goods-figure">
								<a class="goods-thumbnail" href="#"><img class="image" src="./../../assets/images/@temporary/image-thumbnail-01@3x.png" alt="" onerror="imgError(this);"></a>
							</div>
						</div>
					</li>
				</ul>
				<!--//goods-list-->

				<!--button-area-->
				<div class="button-area more-data">
					<a class="btn" href="#">+24</a>
				</div>
				<!--//button-area-->
			</div>
			<!--goods-display-->
		</div>
	</div>
	<script stype="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
		
		});
	</script>
</body>
</html>