<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>goods style-e</title>
	<link rel="stylesheet" type="text/css" href="./../../assets/css/posts_new.css">
	<link rel="stylesheet" type="text/css" href="./../../assets/css/module.global.css">
	<script type="text/javascript" src="./../../assets/js/module.all.js"></script>
	<script type="text/javascript" src="./../../assets/js/module.bui.js"></script>
	<script type="text/javascript" defer="" src="./../../assets/js/module.bui.template.js"></script>
</head>
<body>
	<div id="page">
		<div class="page-body">
			<h1>goods style-e</h1>
			<h2>type-b</h2>
			<!--goods-display-->
			<div class="goods-display style-e type-b">
				<ul class="goods-list">
					<li class="goods-item" data-bui-fold="precision-machining">
						<div class="goods-area">
							<div class="goods-select"><label class="form theme-a style-a type-a"><input class="form-elem" type="checkbox"></label></div>
							<div class="goods-figure"><span class="goods-thumbnail"><img class="image" src="./../../assets/images/goods/img_custom_wood_01_01.png" alt=""></span></div>
							<div class="goods-inform">
								<div class="goods-head">
									<div class="goods-title">
										<span class="goods-name">모서리 둥글리기</span>
									</div>
								</div>
								<div class="goods-data">
									<span class="goods-amount">
										<span class="head">추가금액</span>
										<span class="body">+2,000원</span>
									</span>
								</div>
							</div>
						</div>
						<div class="goods-side">
							<!--custom-guide-->
							<div class="custom-guide">
								<div class="custom-sample"><img class="image" src="./../../assets/images/goods/img_custom_wood_guide_01_01.png" alt=""></div>
								<ul class="data-list style-a type-a">
									<li class="data-item"><span class="data-name">모서리는 모두 지름 50mm로 가공됩니다.</span></li>
								</ul>
							</div>
							<!--//custom-guide-->
							<!--submit-form-->
							<div class="submit-form theme-a style-a type-b">
								<fieldset class="form-list">
									<legend>가공 정보 서식</legend>
									<div class="form-item">
										<div class="form-head"><span class="form-name">가공 위치 선택</span></div>
										<div class="form-body">
											<div class="select-list style-a type-a">
												<span class="select-item"><label class="form theme-a style-a type-b"><input class="form-elem" type="checkbox" checked="checked"><span class="form-label">A</span></label></span>
												<span class="select-item"><label class="form theme-a style-a type-b"><input class="form-elem" type="checkbox" checked="checked"><span class="form-label">B</span></label></span>
												<span class="select-item"><label class="form theme-a style-a type-b"><input class="form-elem" type="checkbox"><span class="form-label">C</span></label></span>
												<span class="select-item"><label class="form theme-a style-a type-b"><input class="form-elem" type="checkbox"><span class="form-label">D</span></label></span>
											</div>
											<div class="form-noti invalid">가공위치를 선택하세요.</div>
										</div>
									</div>
								</fieldset>
							</div>
							<!--//submit-form-->
						</div>
					</li>
					<li class="goods-item" data-bui-fold="precision-machining">
						<div class="goods-area">
							<div class="goods-select"><label class="form theme-a style-a type-a"><input class="form-elem" type="checkbox"></label></div>
							<div class="goods-figure"><span class="goods-thumbnail"><img class="image" src="./../../assets/images/goods/img_custom_wood_01_02.png" alt=""></span></div>
							<div class="goods-inform">
								<div class="goods-head">
									<div class="goods-title">
										<span class="goods-name">측면 45˚ 컷팅</span>
									</div>
								</div>
								<div class="goods-data">
									<span class="goods-amount">
										<span class="head">추가금액</span>
										<span class="body">+2,000원</span>
									</span>
								</div>
							</div>
						</div>
						<div class="goods-side">
							<!--custom-guide-->
							<div class="custom-guide">
								<div class="custom-sample"><img class="image" src="./../../assets/images/goods/img_custom_wood_guide_01_02.png" alt=""></div>
								<ul class="data-list style-a type-a">
									<li class="data-item"><span class="data-name">A면의 폭은 200mm 이하, C면의 길이는 200mm 이상인 목재만 가공이 가능합니다.</span></li>
								</ul>
							</div>
							<!--//custom-guide-->
							<!--submit-form-->
							<div class="submit-form theme-a style-a type-b">
								<fieldset class="form-list">
									<legend>가공 정보 서식</legend>
									<div class="form-item">
										<div class="form-head"><span class="form-name">가공면 선택</span></div>
										<div class="form-body">
											<div class="select-list style-a type-a">
												<span class="select-item"><label class="form theme-a style-a type-b"><input class="form-elem" type="checkbox" checked="checked"><span class="form-label">A면</span></label></span>
												<span class="select-item"><label class="form theme-a style-a type-b"><input class="form-elem" type="checkbox"><span class="form-label">B면</span></label></span>
											</div>
											<div class="form-noti invalid">가공면을 선택하세요.</div>
										</div>
									</div>
								</fieldset>
							</div>
							<!--//submit-form-->
						</div>
					</li>
				</ul>
			</div>
			<!--//goods-display-->
		</div>
	</div>
	<script stype="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
		
		});
	</script>
</body>
</html>