<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Posts style-f</title>
	<link rel="stylesheet" type="text/css" href="./../../assets/css/posts_new.css">
	<link rel="stylesheet" type="text/css" href="./../../assets/css/module.global.css">
	<script type="text/javascript" src="./../../assets/js/module.all.js"></script>
	<script type="text/javascript" src="./../../assets/js/module.bui.js"></script>
	<script type="text/javascript" defer="" src="./../../assets/js/module.bui.template.js"></script>
</head>
<body style="background-color: #f4f4f4;">
	<div id="page">
		<div class="page-body">
			<h1>Posts style-f</h1>
			<h2>type-a</h2>
			<h3>x-large attr-landscape</h3>
			<!--posts-display-->
			<div class="posts-display style-f type-a x-large attr-landscape">
				<!--posts-list-->
				<ul class="posts-list">
					<li class="posts-item">
						<div class="posts-area">
							<div class="posts-figure">
								<a href="#" class="posts-thumbnail type-image"><img class="image" src="./../../assets/images/@temporary/image-thumbnail-01@3x.png" alt=""></a>
							</div>
							<!--posts-inform-->
							<div class="posts-inform">
								<!--posts-type-->
								<div class="posts-type">
									<div class="data-list">
										<span class="data-item sort"><span class="head">분류</span> <span class="body">활동</span></span>
									</div>
								</div>
								<!--//posts-type-->
								<!--posts-head-->
								<div class="posts-head">
									<div class="posts-title">
										<a class="posts-name" href="#">사진 베스트 선정</a>
										<span class="mark theme-a style-c type-a accent-02 xxxxx-small">new</span>
									</div>
								</div>
								<!--//posts-head-->
								<!--posts-body-->
								<div class="posts-body">
									<p class="posts-summary"><a href="#">주문하신 상품 <span class="em style-a accent-01">인더프레임 마이스터 6인 테이블</span>이 구매확정되어 <span class="em style-a accent-01">1,138 포인트</span>가 적립되었습니다. 리뷰를 작성하시면 최대 150 포인트를 더 드립니다.</a></p>
								</div>
								<!--//posts-body-->
								<!--posts-data-->
								<div class="posts-data">
									<div class="data-list">
										<span class="data-item date"><span class="head">등록일</span> <span class="body">2020.07.06</span></span>
									</div>
								</div>
								<!--//posts-data-->
							</div>
							<!--//posts-inform-->
						</div>
					</li>
					<li class="posts-item">
						<div class="posts-area">
							<!--posts-inform-->
							<div class="posts-inform">
								<!--posts-type-->
								<div class="posts-type">
									<div class="data-list">
										<span class="data-item sort"><span class="head">분류</span> <span class="body">쇼핑</span></span>
									</div>
								</div>
								<!--//posts-type-->
								<!--posts-head-->
								<div class="posts-head">
									<div class="posts-title">
										<a class="posts-name" href="#">스토리 베스트 선정</a>
										<span class="mark theme-a style-c type-a accent-02 xxxxx-small">new</span>
									</div>
								</div>
								<!--//posts-head-->
								<!--posts-body-->
								<div class="posts-body">
									<p class="posts-summary"><a href="#">주문하신 상품 <span class="em style-a accent-01">인더프레임 마이스터 6인 테이블</span>이 구매확정되어 <span class="em style-a accent-01">1,138 포인트</span>가 적립되었습니다. 리뷰를 작성하시면 최대 150 포인트를 더 드립니다.</a></p>
								</div>
								<!--//posts-body-->
								<!--posts-data-->
								<div class="posts-data">
									<div class="data-list">
										<span class="data-item date"><span class="head">등록일</span> <span class="body">2020.07.06</span></span>
									</div>
								</div>
								<!--//posts-data-->
							</div>
							<!--//posts-inform-->
						</div>
					</li>
					<li class="posts-item checked">
						<div class="posts-area">
							<div class="posts-figure">
								<a href="#" class="posts-thumbnail type-image"><img class="image" src="./../../assets/images/@temporary/image-thumbnail-01@3x.png" alt=""></a>
							</div>
							<!--posts-inform-->
							<div class="posts-inform">
								<!--posts-type-->
								<div class="posts-type">
									<div class="data-list">
										<span class="data-item sort"><span class="head">분류</span> <span class="body">이벤트</span></span>
									</div>
								</div>
								<!--//posts-type-->
								<!--posts-head-->
								<div class="posts-head">
									<div class="posts-title">
										<a class="posts-name" href="#">고수님 도와주세요 채택</a>
									</div>
								</div>
								<!--//posts-head-->
								<!--posts-body-->
								<div class="posts-body">
									<p class="posts-summary"><a href="#">주문하신 상품 <span class="em style-a accent-01">인더프레임 마이스터 6인 테이블</span>이 구매확정되어 <span class="em style-a accent-01">1,138 포인트</span>가 적립되었습니다. 리뷰를 작성하시면 최대 150 포인트를 더 드립니다.</a></p>
								</div>
								<!--//posts-body-->
								<!--posts-data-->
								<div class="posts-data">
									<div class="data-list">
										<span class="data-item date"><span class="head">등록일</span> <span class="body">2020.07.06</span></span>
									</div>
								</div>
								<!--//posts-data-->
							</div>
							<!--//posts-inform-->
						</div>
					</li>
				</ul>
				<!--//posts-list-->
			</div>
			<!--//posts-display-->
		</div>
	</div>
	<script stype="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
		});
	</script>
</body>
</html>