<!--tooltip-->
<div class="tooltip style-b type-b normal-03" id="cartAlarm" data-bui-tooltip="openTooltipAlarm">
	<div class="tooltip-area">
		<div class="tooltip-body">
			<p class="para normal-01 small">상품이 장바구니에 담겼습니다.</p>
			<a class="em style-a accent-01 small symbol-rtl-chevron-right" href="#">장바구니 바로가기</a>
		</div>
	</div>
</div>
<!--//tooltip-->