<!--layer-popup-->
<div class="layer-popup style-a type-a large" id="drawingUserGuide" data-bui-toggle="openPopup">
	<div class="popup-page-body">
		<!--popup-local-->
		<div class="popup-local">
			<!--popup-local-head-->
			<div class="popup-local-head">
				<div class="popup-local-title"><h2 class="popup-local-name">이용방법안내</h2></div>
			</div>
			<!--//popup-local-head-->
			<!--popup-local-body-->
			<div class="popup-local-body">
				<div class="popup-content">
					<!--popup-content-body-->
					<div class="popup-content-body">
						<img src="./../../assets/images/goods/img_user_guide_01.png" alt="">
					</div>
					<!--//popup-content-body-->
				</div>
			</div>
			<!--//popup-local-body-->
		</div>
		<!--//popup-local-->
	</div>
</div>
<!--//layer-popup-->
