<!--tooltip-->
<div class="tooltip style-b type-b normal-03" id="discountMembershipLevels" data-bui-tooltip="openTooltipInfo">
	<div class="tooltip-area">
		<!--tooltip-head-->
		<div class="tooltip-head">
			<div class="tooltip-title"><h2 class="tooltip-name">회원등급할인</h2></div>
		</div>
		<!--//tooltip-head-->
		<!--tooltip-body-->
		<div class="tooltip-body">
			<!--data-display-->
			<div class="data-display style-a type-c attr-membership-levels">
				<ul class="data-list">
					<!--개인회원-->
					<li class="data-item level-person-friends">
						<div class="data-area">
							<span class="data-head"><span class="data-name">FRIENDS</span></span>
							<span class="data-body">0%</span>
						</div>
					</li>
					<li class="data-item level-person-family">
						<div class="data-area">
							<span class="data-head"><span class="data-name">FAMILY</span></span>
							<span class="data-body">0%</span>
						</div>
					</li>
					<li class="data-item level-person-vip">
						<div class="data-area">
							<span class="data-head"><span class="data-name">VIP</span></span>
							<span class="data-body">2%</span>
						</div>
					</li>
					<li class="data-item level-person-vvip">
						<div class="data-area">
							<span class="data-head"><span class="data-name">VVIP <span class="current-class">회원님의 등급</span></span></span>
							<span class="data-body"><span class="em style-a accent-01">3%</span></span>
						</div>
					</li>
					<!--//개인회원-->
					<!--기업회원-->
					<li class="data-item level-corporate-bronze">
						<div class="data-area">
							<span class="data-head"><span class="data-name">BRONZE</span></span>
							<span class="data-body">1%</span>
						</div>
					</li>
					<li class="data-item level-corporate-silver">
						<div class="data-area">
							<span class="data-head"><span class="data-name">SILVER</span></span>
							<span class="data-body">2%</span>
						</div>
					</li>
					<li class="data-item level-corporate-gold">
						<div class="data-area">
							<span class="data-head"><span class="data-name">GOLD</span></span>
							<span class="data-body">2%</span>
						</div>
					</li>
					<li class="data-item level-corporate-vip">
						<div class="data-area">
							<span class="data-head"><span class="data-name">VIP <span class="current-class">회원님의 등급</span></span></span>
							<span class="data-body"><span class="em style-a accent-01">3%</span></span>
						</div>
					</li>
					<!--//기업회원-->
				</ul>
			</div>
			<!--//data-display-->
		</div>
		<!--//tooltip-body-->
	</div>
</div>
<!--//tooltip-->