<!--layer-popup-->
<div class="layer-popup style-a type-a small" id="savedPoints" data-bui-toggle="openPopup">
	<div class="popup-page-body">
		<!--popup-local-->
		<div class="popup-local">
			<!--popup-local-head-->
			<div class="popup-local-head">
				<div class="popup-local-title"><h2 class="popup-local-name">FRIENDS 회원적립</h2></div>
			</div>
			<!--//popup-local-head-->
			<!--popup-local-body-->
			<div class="popup-local-body">
				<div class="popup-content">
					<!--popup-content-body-->
					<div class="popup-content-body">
						<!--data-display-->
						<div class="data-display style-c type-c">
							<ul class="data-list">
								<li class="data-item">
									<div class="data-area">
										<span class="data-head"><span class="data-name">구매확정 시 <span class="em style-a accent-01">3%</span></span></span>
										<span class="data-body"><span class="em accent-01">1,138P</span></span>
									</div>
								</li>
								<li class="data-item">
									<div class="data-area">
										<span class="data-head"><span class="data-name">일반리뷰 작성 시</span></span>
										<span class="data-body"><span class="em accent-01">50P</span></span>
									</div>
								</li>
								<li class="data-item">
									<div class="data-area">
										<span class="data-head"><span class="data-name">포토/영상리뷰 작성 시</span></span>
										<span class="data-body"><span class="em accent-01">150P</span></span>
									</div>
								</li>
							</ul>
						</div>
						<!--//data-display-->
					</div>
					<!--//popup-content-body-->
				</div>
			</div>
			<!--//popup-body-->
		</div>
		<!--//popup-local-->
	</div>
</div>
<!--//layer-popup-->