<!--layer-popup-->
<div class="layer-popup style-a type-a small" id="buyInBulkPoints" data-bui-toggle="openPopup">
	<div class="popup-page-body">
		<!--popup-local-->
		<div class="popup-local">
			<!--popup-local-head-->
			<div class="popup-local-head">
				<div class="popup-local-title"><h2 class="popup-local-name">대량구매</h2></div>
			</div>
			<!--//popup-local-head-->
			<!--popup-local-body-->
			<div class="popup-local-body">
				<div class="popup-content">
					<!--popup-content-body-->
					<div class="popup-content-body">
						<!--data-display-->
						<div class="data-display style-c type-c">
							<ul class="data-list">
								<li class="data-item">
									<div class="data-area">
										<span class="data-head"><span class="data-name">3개 이상 구매 시</span></span>
										<span class="data-body"><span class="em accent-01">5%</span> 할인</span>
									</div>
								</li>
								<li class="data-item">
									<div class="data-area">
										<span class="data-head"><span class="data-name">10개 이상 구매 시</span></span>
										<span class="data-body"><span class="em accent-01">15%</span> 할인</span>
									</div>
								</li>
								<li class="data-item">
									<div class="data-area">
										<span class="data-head"><span class="data-name">50개 이상 구매 시</span></span>
										<span class="data-body"><span class="em accent-01">25%</span> 할인</span>
									</div>
								</li>
								<li class="data-item">
									<div class="data-area">
										<span class="data-head"><span class="data-name">100개 이상 구매 시</span></span>
										<span class="data-body"><span class="em accent-01">30%</span> 할인</span>
									</div>
								</li>
							</ul>
						</div>
						<!--//data-display-->
					</div>
					<!--//popup-content-body-->
				</div>
			</div>
			<!--//popup-body-->
		</div>
		<!--//popup-local-->
	</div>
</div>
<!--//layer-popup-->