<!--tooltip-->
<div class="tooltip style-b type-b normal-03" id="savedPoints" data-bui-tooltip="openTooltipInfo">
	<div class="tooltip-area">
		<!--tooltip-head-->
		<div class="tooltip-head">
			<div class="tooltip-title"><h2 class="tooltip-name">최대 적립 포인트</h2></div>
		</div>
		<!--//tooltip-head-->
		<!--tooltip-body-->
		<div class="tooltip-body">
			<!--data-display-->
			<div class="data-display style-c type-c">
				<ul class="data-list">
					<li class="data-item">
						<div class="data-area">
							<span class="data-head"><span class="data-name">구매 확정 시</span></span>
							<span class="data-body">1,138P</span>
						</div>
					</li>
					<li class="data-item">
						<div class="data-area">
							<span class="data-head"><span class="data-name">일반 리뷰 작성 시</span></span>
							<span class="data-body">+50P</span>
						</div>
					</li>
					<li class="data-item">
						<div class="data-area">
							<span class="data-head"><span class="data-name">포토/영상 리뷰 작성 시</span></span>
							<span class="data-body">+150P</span>
						</div>
					</li>
				</ul>
			</div>
			<!--//data-display-->
		</div>
		<!--//tooltip-body-->
	</div>
</div>
<!--//tooltip-->