<!--layer-popup-->
<div class="layer-popup style-a type-a medium" id="termsOfMembers" data-bui-toggle="openPopup">
	<div class="popup-page-body">
		<!--popup-local-->
		<div class="popup-local">
			<!--popup-local-head-->
			<div class="popup-local-head">
				<div class="popup-local-title"><h2 class="popup-local-name">회원약관</h2></div>
			</div>
			<!--//popup-local-head-->
			<!--popup-local-body-->
			<div class="popup-local-body">
				<div class="popup-content">
					<!--popup-content-body-->
					<div class="popup-content-body">
						<!--section-->
						<div class="section">
							<div class="section-head"><div class="section-title"><h3 class="section-title">section name</h3></div></div>
							<div class="section-body">
								<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
							</div>
						</div>
						<!--//section-->
					</div>
					<!--//popup-content-body-->
				</div>
			</div>
			<!--//popup-body-->
		</div>
		<!--//popup-local-->
	</div>
</div>
<!--//layer-popup-->