<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.head.front.ejs', {
	pageStyle: 'page.mypage.css',
	pageJavascript: ''
}) %>
</head>
<body>
	<div id="page">
<%-include('../_templates/_header.front.ejs') %>
		<!--page-body-->
		<div class="page-body" id="local">
			<!--local-head-->
			<div class="local-head">
				<h2 class="local-title"><span class="local-name">마이페이지</span></h2>
				<!--local-control-->
				<div class="local-control">
					<span class="control-item">
						<a class="control-name" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>이전으로</title><path d="M10.8,5.2c0.2,0.2,0.3,0.6,0.1,0.9l-0.1,0.1l-5.3,5.2l14.8,0c0.3,0,0.6,0.3,0.6,0.6c0,0.3-0.2,0.5-0.5,0.6l-0.1,0l-14.8,0l5.3,5.2c0.2,0.2,0.3,0.6,0.1,0.9l-0.1,0.1c-0.2,0.2-0.6,0.3-0.9,0.1l-0.1-0.1L3,12l6.8-6.8C10.1,4.9,10.5,4.9,10.8,5.2z"></path></svg></a>
					</span>
					<span class="control-item">
						<a class="control-name" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>검색</title><path d="M20.8,19.9l-4.4-4.4c1.1-1.3,1.8-3,1.8-4.9c0-4.2-3.4-7.6-7.6-7.6C6.4,3,3,6.4,3,10.6c0,4.2,3.4,7.6,7.6,7.6c1.9,0,3.6-0.7,4.9-1.8l4.4,4.4l0.1,0.1c0.3,0.2,0.6,0.2,0.8-0.1C21.1,20.6,21.1,20.1,20.8,19.9z M10.6,17c-3.5,0-6.4-2.9-6.4-6.4c0-3.5,2.9-6.4,6.4-6.4c3.5,0,6.4,2.9,6.4,6.4C17,14.1,14.1,17,10.6,17z"></path></svg></a>
						<a class="control-name" href="#">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>장바구니</title><path d="M21,19.1l-1.6-9.8l0-0.1C19.2,8.5,18.6,8,17.8,8h-2.2V6.6l0-0.2C15.5,4.5,13.9,3,12,3c-2,0-3.6,1.6-3.6,3.6l0,1.4H6.2C5.5,8,4.8,8.6,4.7,9.3l-1.6,9.8c0,0.1,0,0.2,0,0.3c0,0.9,0.7,1.6,1.6,1.6h14.8c0.1,0,0.2,0,0.3,0C20.6,20.8,21.1,20,21,19.1z M9.6,6.6l0-0.2c0.1-1.3,1.1-2.3,2.4-2.3c1.3,0,2.4,1.1,2.4,2.4V8H9.6V6.6z M19.5,19.8L19.5,19.8l-14.8,0c-0.2,0-0.4-0.2-0.4-0.4v0l1.6-9.8l0-0.1c0.1-0.2,0.2-0.3,0.4-0.3l2.2,0V11h1.2V9.2h4.8V11h1.2V9.2l2.2,0h0c0.2,0,0.4,0.1,0.4,0.3l1.6,9.8C19.9,19.6,19.7,19.8,19.5,19.8z"></path></svg>
							<span class="count">99</span>
						</a>
					</span>
				</div>
				<!--//local-control-->
			</div>
			<!--//local-head-->
			<!--local-body-->
			<div class="local-body mypage-intro" id="content">
				<!--content-head-->
				<div class="content-head">
					<div class="content-title"><h3 class="content-name">나의 활동내역</h3></div>
				</div>
				<!--//content-head-->
				<!--content-body-->
				<div class="content-body">
					<!--account-area-->
					<div class="account-area">
						<div class="account-figure"><span class="thumbnail"><img src="./../../assets/images/@temporary/img-profile-01.png" src=""></span></div>
						<div class="account-inform">
							<div class="account-head">
								<div class="account-title"><strong class="account-name">달콤새콤솜사탕</strong></div>
								<div class="account-intro"><p class="summary">프로필에 보여질 나의 한줄소개와 SNS 채널을 등록해보세요.</p></div>
								<div class="account-tier">
									<span class="mark theme-a style-c type-b accent-02 xxx-small">서포터즈</span>
									<a class="btn style-text type-a normal-02 xxx-small symbol-rtl-chevron-right" href="#">FRIENDS &middot; 등급혜택</a>
								</div>
							</div>
							<div class="account-body">
								<div class="sns-channels">
									<div class="button-area">
										<a class="btn style-text type-c normal-02 xxx-small" href="#">한줄소개 및 SNS 채널 등록하기</a>
									</div>
									<ul class="data-list">
										<li class="data-item"><a class="data-name" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>인스타그램</title><path d="M12,8.4c-2,0-3.6,1.6-3.6,3.6s1.6,3.6,3.6,3.6s3.6-1.6,3.6-3.6S14,8.4,12,8.4z M12,14.4c-1.3,0-2.4-1.1-2.4-2.4s1.1-2.4,2.4-2.4s2.4,1.1,2.4,2.4S13.3,14.4,12,14.4z M16.4,8.2C16.4,8.6,16,9,15.6,9c-0.4,0-0.8-0.4-0.8-0.8s0.4-0.8,0.8-0.8C16,7.4,16.4,7.8,16.4,8.2z M15.3,5.1H8.7c-2,0-3.6,1.6-3.6,3.6v6.6c0,2,1.6,3.6,3.6,3.6h6.6c2,0,3.6-1.6,3.6-3.6V8.7C18.9,6.7,17.3,5.1,15.3,5.1z M17.7,15.3c0,1.3-1.1,2.4-2.4,2.4H8.7c-1.3,0-2.4-1.1-2.4-2.4V8.7c0-1.3,1.1-2.4,2.4-2.4h6.6c1.3,0,2.4,1.1,2.4,2.4V15.3z"></path></svg></a></li>
										<li class="data-item"><a class="data-name" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>페이스북</title><path d="M13.7,19v-7h2.1L16,9.6h-2.3l0-1.2c0-0.6,0.1-1,1-1H16V5h-2.1c-2.5,0-3.4,1.2-3.4,3.1v1.4H9V12h1.6v7C10.6,19,13.7,19,13.7,19z"></path></svg></a></li>
										<li class="data-item"><a class="data-name" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>유튜브</title><path d="M10.4,9.7l4,2.3l-4,2.3V9.7L10.4,9.7z M20.9,11.8v0.3c0,0.4,0,2.8-0.4,4.1c-0.2,0.9-1,1.6-1.9,1.9c-1.3,0.3-5.5,0.4-6.5,0.4h-0.3c-1,0-5.2,0-6.5-0.4c-0.9-0.2-1.6-1-1.9-1.9c-0.3-1.1-0.4-3.3-0.4-3.9v-0.4c0-0.7,0.1-2.8,0.4-3.9C3.7,7,4.4,6.2,5.3,6c1.2-0.3,4.9-0.4,6.3-0.4h0.8c1.3,0,5.1,0.1,6.2,0.4c0.9,0.2,1.6,1,1.9,1.9C20.9,9,20.9,11.1,20.9,11.8z M19.4,8.2L19.4,8.2c-0.1-0.5-0.5-0.9-1-1c-1-0.3-4.9-0.3-6.3-0.3c-1.4,0-5.3,0.1-6.3,0.3c-0.5,0.1-0.9,0.5-1,1C4.3,9.4,4.3,12,4.3,12c0,0,0,2.6,0.3,3.8c0.1,0.5,0.5,0.9,1,1c1,0.3,4.9,0.3,6.3,0.3c1.4,0,5.3-0.1,6.3-0.3c0.5-0.1,0.9-0.5,1-1c0.3-1.2,0.3-3.8,0.3-3.8C19.7,12,19.7,9.4,19.4,8.2z"></path></svg></a></li>
										<li class="data-item"><a class="data-name" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>네이버 블로그</title><path d="M18.6,4.5c1.3,0,2.4,1.1,2.4,2.4v7.9c0,1.3-1.1,2.4-2.4,2.4H14l-1.6,3.7l0,0l0,0l0,0c0,0.1-0.1,0.2-0.3,0.3l0,0l0,0c-0.2,0-0.3-0.2-0.3-0.2l0,0l0,0l0,0l-1.6-3.7H5.4c-1.3,0-2.4-1.1-2.4-2.4V6.9c0-1.3,1.1-2.4,2.4-2.4H18.6z M17.8,10c-0.2-0.2-0.4-0.3-0.6-0.4l0,0l0,0l0,0l0,0l0,0l0,0h-0.1l-0.1,0c-0.7,0.1-1.1,0.4-1.3,0.8l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0.1l0,0l0,0.1l0,0l0,0.1l0,0.1v0.5c0,0.6,0.3,1,0.7,1.2l0,0c0,0,0.1,0,0.1,0l0,0l0,0l0,0l0,0l0,0l0.1,0l0.1,0l0,0l0,0l0.1,0l0,0c0.5,0,0.7-0.1,0.9-0.2l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0v0c0,0.6-0.2,0.8-0.4,0.9l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0h-0.3v1h0.5c0.8,0,1.2-0.4,1.4-0.8l0,0l0-0.1l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0-0.1l0-0.1l0-0.1l0,0l0-0.1V9.7h-1.1C17.8,9.7,17.8,10,17.8,10z M13,9.6c-1,0-1.8,0.7-1.8,1.6c0,0.9,0.8,1.6,1.8,1.6s1.8-0.7,1.8-1.6C14.8,10.4,14,9.6,13,9.6L13,9.6z M6.3,10V8.3l-0.5,0l-0.3,0H5.3l-0.1,0l0,0l0,0v4.4h1.1v-0.3l0,0l0,0l0,0l0,0l0,0l0,0c0.1,0.1,0.4,0.2,0.7,0.3l0,0l0,0l0.1,0l0.1,0l0.1,0l0.1,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0c0.4-0.2,0.7-0.5,0.7-1.2l0,0l0,0l0-0.1v0l0-0.1l0-0.1l0-0.1l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0-0.1l0-0.1l0-0.1l0-0.1C8.4,10.1,8,9.7,7.3,9.6l0,0h0l0,0l0,0l-0.1,0l0,0l0,0l0,0l-0.1,0l-0.1,0C6.6,9.7,6.4,9.8,6.3,10C6.3,10,6.3,10,6.3,10z M9,8.2v1.1l0,0l0,0l0,0l0,0l0,0l0,0c0.1,0.1,0.3,0.2,0.3,0.4l0,0v3h1.1v-3l0,0v0l0,0l0,0l0,0l0-0.1l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0C10.2,8.6,9.8,8.2,9,8.2L9,8.2z M13,10.6c0.4,0,0.7,0.3,0.7,0.7c0,0.4-0.3,0.7-0.7,0.7s-0.7-0.3-0.7-0.7S12.7,10.6,13,10.6z M17.1,10.6c0.4,0,0.7,0.3,0.7,0.7c0,0.4-0.3,0.7-0.7,0.7c-0.4,0-0.7-0.3-0.7-0.7C16.5,10.9,16.8,10.6,17.1,10.6L17.1,10.6z M6.9,10.7c0.3,0,0.6,0.3,0.6,0.6c0,0.3-0.3,0.6-0.6,0.6s-0.6-0.3-0.6-0.6C6.3,10.9,6.6,10.7,6.9,10.7z"></path></svg></a></li>
										<li class="data-item"><a class="data-name" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>기타 URL</title><path d="M15.4,14.5c0,0.5-0.4,0.9-0.9,0.9s-0.9-0.4-0.9-0.9s0.4-0.9,0.9-0.9S15.4,14,15.4,14.5z M21.9,10.8c-0.1,0.1-0.3,0.2-0.5,0.2H20v8.2c0,1.8-1.5,1.8-2,1.8H6c-0.5,0-2,0-2-1.8V11H2.6c-0.1,0-0.3,0-0.4-0.1l-0.1-0.1c-0.2-0.2-0.2-0.6,0-0.8l0.1-0.1L12,2l9.8,7.9C22,10.1,22.1,10.5,21.9,10.8z M16.6,14.5c0-1.2-0.9-2.1-2.1-2.1s-2.1,0.9-2.1,2.1s0.9,2.1,2.1,2.1S16.6,15.7,16.6,14.5z"></path></svg></a></li>
									</ul>
								</div>
								<div class="button-area style-a">
									<a class="btn theme-a style-b type-b small normal-03" href="#"><span class="btn-text">회원정보 수정</span></a>
								</div>
							</div>
						</div>
					</div>
					<!--//account-area-->
					<!--tab-display-->
					<div class="tab-display style-c type-a" data-bui-tab="normal">
						<ul class="tab-list">
							<li class="tab-item current"><a class="tab-name" href="#shoppingInfo">쇼핑</a></li>
							<li class="tab-item"><a class="tab-name" href="#communityInfo">커뮤니티</a></li>
						</ul>
					</div>
					<!--//tab-display-->
					<!--section-->
					<div class="section shopping-info" id="shoppingInfo">
						<div class="section-head">
							<div class="section-title"><h4 class="section-name">쇼핑</h4></div>
						</div>
						<div class="section-body">
							<!--subsection-->
							<div class="subsection my-wallet">
								<div class="subsection-head">
									<div class="subsection-title"><h5 class="subsection-name">포인트 및 예치금</h5></div>
								</div>
								<div class="subsection-body">
									<!--data-list-->
									<ul class="data-list">
										<li class="data-item"><a class="data-area" href="#"><span class="data-head">쿠폰</span> <span class="data-body">3</span></a></li>
										<li class="data-item"><a class="data-area" href="#"><span class="data-head">포인트</span> <span class="data-body">11,100</span></a></li>
										<li class="data-item"><a class="data-area" href="#"><span class="data-head">예치금</span> <span class="data-body">156,000</span></a></li>
									</ul>
									<!--//data-list-->
								</div>
							</div>
							<!--//subsection-->
							<!--subsection-->
							<div class="subsection default order-delivery">
								<div class="subsection-head">
									<div class="subsection-title">
										<h5 class="subsection-name">주문배송현황</h5>
										<p class="subsection-data">최근3개월</p>
									</div>
								</div>
								<div class="subsection-body">
									<!--data-list-->
									<ul class="data-list">
										<li class="data-item"><a class="data-area" href="#"><span class="data-head">주문접수</span> <span class="data-body">0</span></a></li>
										<li class="data-item"><a class="data-area" href="#"><span class="data-head">결제완료</span> <span class="data-body">0</span></a></li>
										<li class="data-item active"><a class="data-area" href="#"><span class="data-head">상품준비</span> <span class="data-body">2</span></a></li>
										<li class="data-item active"><a class="data-area" href="#"><span class="data-head">배송중</span> <span class="data-body">1</span></a></li>
										<li class="data-item active"><a class="data-area" data-bui-tooltip-button="writeReview" href="#"><span class="data-head">배송완료</span> <span class="data-body">3</span></a></li>
									</ul>
									<!--//data-list-->
									<div class="tooltip style-b type-a accent-02 active" id="writeReview" data-bui-tooltip="info-tooltip"><a class="tooltip-body" href="#">리뷰 작성 시 최대 300P 적립</a></div>
								</div>
							</div>
							<!--//subsection-->
							<!--subsection-->
							<div class="subsection default my-shopping">
								<div class="subsection-head">
									<div class="subsection-title"><h5 class="subsection-name">나의 쇼핑</h5></div>
								</div>
								<div class="subsection-body">
									<!--data-list-->
									<ul class="data-list">
										<li class="data-item"><a class="data-area" href="#"><span class="data-head">주문배송 조회</span> <span class="data-body">0</span></a></li>
										<li class="data-item"><a class="data-area" href="#"><span class="data-head">상품리뷰</span> <span class="data-body">0</span></a></li>
										<li class="data-item"><a class="data-area" href="#"><span class="data-head">배송지/환불계좌 관리</span></a></li>
										<li class="data-item"><a class="data-area" href="#"><span class="data-head">개인결제</span> <span class="data-body">1</span></a></li>
									</ul>
									<!--//data-list-->
								</div>
							</div>
							<!--//subsection-->
							<!--subsection-->
							<div class="subsection default my-interest">
								<div class="subsection-head">
									<div class="subsection-title"><h5 class="subsection-name">나의 관심</h5></div>
								</div>
								<div class="subsection-body">
									<!--data-list-->
									<ul class="data-list">
										<li class="data-item"><a class="data-area" href="#"><span class="data-head">재입고 알림</span></a></li>
										<li class="data-item"><a class="data-area" href="#"><span class="data-head">관심 스토어</span> <span class="data-body">17</span></a></li>
										<li class="data-item"><a class="data-area" href="#"><span class="data-head">위시리스트</span> <span class="data-body">36</span></a></li>
									</ul>
									<!--//data-list-->
									<!--posts-display-->
									<div class="posts-display style-c type-d medium">
										<!--posts-list-->
										<ul class="posts-list">
											<li class="posts-item"><div class="posts-area"><div class="posts-figure"><a href="#" class="posts-thumbnail type-image"><img class="image" src="./../../assets/images/@temporary/image-thumbnail-01@3x.png" alt=""></a></div></div></li>
											<li class="posts-item"><div class="posts-area"><div class="posts-figure"><a href="#" class="posts-thumbnail type-image"><img class="image" src="./../../assets/images/@temporary/image-thumbnail-02@3x.png" alt=""></a></div></div></li>
											<li class="posts-item"><div class="posts-area"><div class="posts-figure"><a href="#" class="posts-thumbnail type-image"><img class="image" src="./../../assets/images/@temporary/image-thumbnail-01@3x.png" alt=""></a></div></div></li>
											<li class="posts-item"><div class="posts-area"><div class="posts-figure"><a href="#" class="posts-thumbnail type-image"><img class="image" src="./../../assets/images/@temporary/image-thumbnail-02@3x.png" alt=""></a></div></div></li>
											<li class="posts-item"><div class="posts-area"><div class="posts-figure"><a href="#" class="posts-thumbnail type-image"><img class="image" src="./../../assets/images/@temporary/image-thumbnail-01@3x.png" alt=""></a></div></div></li>
											<li class="posts-item"><div class="posts-area"><div class="posts-figure"><a href="#" class="posts-thumbnail type-image"><img class="image" src="./../../assets/images/@temporary/image-thumbnail-02@3x.png" alt=""></a></div></div></li>
										</ul>
										<!--//posts-list-->
										<!--button-area-->
										<div class="button-area more-data">
											<a class="btn" href="#">+24</a>
										</div>
										<!--//button-area-->
									</div>
									<!--//posts-display-->
								</div>
							</div>
							<!--//subsection-->
							<!--subsection-->
							<div class="subsection default my-inquiry">
								<div class="subsection-head">
									<div class="subsection-title"><h5 class="subsection-name">나의 문의</h5></div>
								</div>
								<div class="subsection-body">
									<!--data-list-->
									<ul class="data-list">
										<li class="data-item"><a class="data-area" href="#"><span class="data-head">1:1 문의</span></a></li>
										<li class="data-item"><a class="data-area" href="#"><span class="data-head">상품 Q&amp;A</span></a></li>
									</ul>
									<!--//data-list-->
								</div>
							</div>
							<!--//subsection-->
						</div>
					</div>
					<!--//section-->
					<!--section-->
					<div class="section community-info" id="communityInfo">
						<div class="section-head">
							<div class="section-title"><h4 class="section-name">커뮤니티</h4></div>
						</div>
						<div class="section-body">
							<!--tab-display-->
							<div class="tab-display style-a type-a" data-bui-tab="normal">
								<ul class="tab-list">
									<li class="tab-item current"><a class="tab-name" href="#communityPosts01">내가 쓴 글 17</a></li>
									<li class="tab-item"><a class="tab-name" href="#communityPosts02">스크랩 21</a></li>
									<li class="tab-item"><a class="tab-name" href="#communityPosts03">댓글 단 글 235</a></li>
								</ul>
							</div>
							<!--//tab-display-->
							<!--subsection-->
							<div class="subsection" id="communityPosts01">
								<div class="subsection-head">
									<div class="subsection-title"><h5 class="subsection-name">내가 쓴 글</h5></div>
								</div>
								<div class="subsection-body">
									<!--info-board-->
									<div class="info-board style-b type-b attr-write no-data">
										<p class="board-body">
											<span class="wbr">작성한 글이 없습니다.</span>
										</p>
									</div>
									<!--//info-board-->
									<!--shortcut-area-->
									<div class="shortcut-area">

									</div>
									<!--//shortcut-area-->
									<!--posts-display-->
									<div class="posts-display style-c type-a large">
										<!--posts-list-->
										<ul class="posts-list">
											<li class="posts-item">
												<div class="posts-area">
													<div class="posts-figure">
														<a href="#" class="posts-thumbnail type-image"><img class="image" src="./../../assets/images/@temporary/image-thumbnail-01@3x.png" alt=""></a>
													</div>
													<!--posts-inform-->
													<div class="posts-inform">
														<!--posts-type-->
														<div class="posts-type">
															<div class="data-list">
																<span class="data-item category"><span class="head">분류</span> <span class="body">고수님 도와주세요</span></span>
															</div>
														</div>
														<!--//posts-type-->
														<!--posts-head-->
														<div class="posts-head">
															<div class="posts-title">
																<a class="posts-name" href="#">화장실 줄눈 시공했는데 문제가 있는거 같아요</a>
															</div>
															<!--posts account-->
															<div class="posts-account">
																<span class="head">글쓴이</span>
																<span class="body">
																	<a class="default-pic" href="#"><img class="image" src="./../../assets/images/@temporary/img-profile-01.png" alt=""></a>
																	<a class="default-nic" href="#">몽실둥블리네</a>
																</span>
															</div>
															<!--//posts account-->
														</div>
														<!--//posts-head-->
														<!--posts-data-->
														<div class="posts-data">
															<div class="data-list">
																<span class="data-item likey"><span class="head">좋아요</span> <span class="body">48</span></span>
																<span class="data-item reply"><span class="head">댓글수</span> <span class="body">32</span></span>
																<span class="data-item view"><span class="head">조회수</span> <span class="body">1.252</span></span>
															</div>
														</div>
														<!--//posts-data-->
													</div>
													<!--//posts-inform-->
												</div>
											</li>
											<li class="posts-item">
												<div class="posts-area">
													<div class="posts-figure">
														<a href="#" class="posts-thumbnail type-image"><img class="image" src="./../../assets/images/@temporary/image-thumbnail-01@3x.png" alt=""></a>
													</div>
													<!--posts-inform-->
													<div class="posts-inform">
														<!--posts-type-->
														<div class="posts-type">
															<div class="data-list">
																<span class="data-item category"><span class="head">분류</span> <span class="body">사진</span></span>
															</div>
														</div>
														<!--//posts-type-->
														<!--posts-head-->
														<div class="posts-head">
															<div class="posts-title">
																<a class="posts-name" href="#">우드 가구로 채워진 우리 집 안방!</a>
															</div>
															<!--posts account-->
															<div class="posts-account">
																<span class="head">글쓴이</span>
																<span class="body">
																	<a class="default-pic" href="#"><img class="image" src="./../../assets/images/@temporary/img-profile-01.png" alt=""></a>
																	<a class="default-nic" href="#">몽실둥블리네</a>
																</span>
															</div>
															<!--//posts account-->
														</div>
														<!--//posts-head-->
														<!--posts-data-->
														<div class="posts-data">
															<div class="data-list">
																<span class="data-item likey"><span class="head">좋아요</span> <span class="body">48</span></span>
																<span class="data-item reply"><span class="head">댓글수</span> <span class="body">32</span></span>
																<span class="data-item view"><span class="head">조회수</span> <span class="body">1.252</span></span>
															</div>
														</div>
														<!--//posts-data-->
													</div>
													<!--//posts-inform-->
												</div>
											</li>
											<li class="posts-item">
												<div class="posts-area">
													<div class="posts-figure">
														<a href="#" class="posts-thumbnail type-image"><img class="image" src="./../../assets/images/@temporary/image-thumbnail-01@3x.png" alt=""></a>
													</div>
													<!--posts-inform-->
													<div class="posts-inform">
														<!--posts-type-->
														<div class="posts-type">
															<div class="data-list">
																<span class="data-item category"><span class="head">분류</span> <span class="body">스토리</span></span>
															</div>
														</div>
														<!--//posts-type-->
														<!--posts-head-->
														<div class="posts-head">
															<div class="posts-title">
																<a class="posts-name" href="#">노네임 페인트로 셀프 인테리어 쌉가능!</a>
															</div>
															<!--posts account-->
															<div class="posts-account">
																<span class="head">글쓴이</span>
																<span class="body">
																	<a class="default-pic" href="#"><img class="image" src="./../../assets/images/@temporary/img-profile-01.png" alt=""></a>
																	<a class="default-nic" href="#">몽실둥블리네</a>
																</span>
															</div>
															<!--//posts account-->
														</div>
														<!--//posts-head-->
														<!--posts-data-->
														<div class="posts-data">
															<div class="data-list">
																<span class="data-item likey"><span class="head">좋아요</span> <span class="body">48</span></span>
																<span class="data-item reply"><span class="head">댓글수</span> <span class="body">32</span></span>
																<span class="data-item view"><span class="head">조회수</span> <span class="body">1.252</span></span>
															</div>
														</div>
														<!--//posts-data-->
													</div>
													<!--//posts-inform-->
												</div>
											</li>
											<li class="posts-item">
												<div class="posts-area">
													<div class="posts-figure">
														<a href="#" class="posts-thumbnail type-video"><img class="image" src="./../../assets/images/@temporary/image-thumbnail-01@3x.png" alt=""></a>
													</div>
													<!--posts-inform-->
													<div class="posts-inform">
														<!--posts-type-->
														<div class="posts-type">
															<div class="data-list">
																<span class="data-item category"><span class="head">분류</span> <span class="body">셀프가이드</span></span>
															</div>
														</div>
														<!--//posts-type-->
														<!--posts-head-->
														<div class="posts-head">
															<div class="posts-title">
																<a class="posts-name" href="#">화장실에서도 끄떡없는 식물키우는 방법</a>
															</div>
														</div>
														<!--//posts-head-->
														<!--posts-data-->
														<div class="posts-data">
															<div class="data-list">
																<span class="data-item likey"><span class="head">좋아요</span> <span class="body">48</span></span>
																<span class="data-item reply"><span class="head">댓글수</span> <span class="body">32</span></span>
																<span class="data-item view"><span class="head">조회수</span> <span class="body">1.252</span></span>
															</div>
														</div>
														<!--//posts-data-->
													</div>
													<!--//posts-inform-->
												</div>
											</li>
											<li class="posts-item">
												<div class="posts-area">
													<div class="posts-figure">
														<a href="#" class="posts-thumbnail type-image"><img class="image" src="./../../assets/images/@temporary/image-thumbnail-01@3x.png" alt=""></a>
													</div>
													<!--posts-inform-->
													<div class="posts-inform">
														<!--posts-type-->
														<div class="posts-type">
															<div class="data-list">
																<span class="data-item category"><span class="head">분류</span> <span class="body">트렌드&amp;아이디어</span></span>
															</div>
														</div>
														<!--//posts-type-->
														<!--posts-head-->
														<div class="posts-head">
															<div class="posts-title">
																<a class="posts-name" href="#">마감이 주는 힘 '콘크리트&amp;스톤'</a>
															</div>
														</div>
														<!--//posts-head-->
														<!--posts-data-->
														<div class="posts-data">
															<div class="data-list">
																<span class="data-item likey"><span class="head">좋아요</span> <span class="body">48</span></span>
																<span class="data-item reply"><span class="head">댓글수</span> <span class="body">32</span></span>
																<span class="data-item view"><span class="head">조회수</span> <span class="body">1.252</span></span>
															</div>
														</div>
														<!--//posts-data-->
													</div>
													<!--//posts-inform-->
												</div>
											</li>
										</ul>
										<!--//posts-list-->
										<!--button-area-->
										<div class="button-area style-a type-a">
											<button class="btn theme-a style-b type-a large normal-05 flex" type="button"><span class="btn-text">더보기 <span class="total-pages"><strong class="current">21</strong><span class="part">/</span><span class="total">52</span></span></span></button>
										</div>
										<!--//button-area-->
									</div>
									<!--//posts-display-->
								</div>
							</div>
							<!--subsection-->
							<!--subsection-->
							<div class="subsection" id="communityPosts02">
								<div class="subsection-head">
									<div class="subsection-title"><h5 class="subsection-name">스크랩</h5></div>
								</div>
								<div class="subsection-body">
									<!--info-board-->
									<div class="info-board style-b type-b attr-scrap no-data">
										<p class="board-body">
											<span class="wbr">스크랩한 글이 없습니다.</span>
										</p>
									</div>
									<!--//info-board-->
									<!--shortcut-area-->
									<div class="shortcut-area">

									</div>
									<!--//shortcut-area-->
									<!--posts-display-->
									<div class="posts-display style-c type-c large">
										<!--posts-list-->
										<ul class="posts-list">
											<li class="posts-item">
												<div class="posts-area">
													<div class="posts-figure">
														<a href="#" class="posts-thumbnail type-image"><img class="image" src="./../../assets/images/@temporary/image-thumbnail-01@3x.png" alt=""></a>
													</div>
													<!--posts-inform-->
													<div class="posts-inform">
														<!--posts-type-->
														<div class="posts-type">
															<div class="data-list">
																<span class="data-item category"><span class="head">분류</span> <span class="body">고수님 도와주세요</span></span>
															</div>
														</div>
														<!--//posts-type-->
														<!--posts-head-->
														<div class="posts-head">
															<div class="posts-title">
																<a class="posts-name" href="#">화장실 줄눈 시공했는데 문제가 있는거 같아요</a>
															</div>
															<!--posts account-->
															<div class="posts-account">
																<span class="head">글쓴이</span>
																<span class="body">
																	<a class="default-pic" href="#"><img class="image" src="./../../assets/images/@temporary/img-profile-01.png" alt=""></a>
																	<a class="default-nic" href="#">몽실둥블리네</a>
																</span>
															</div>
															<!--//posts account-->
														</div>
														<!--//posts-head-->
														<!--posts-data-->
														<div class="posts-data">
															<div class="data-list">
																<span class="data-item likey"><span class="head">좋아요</span> <span class="body">48</span></span>
																<span class="data-item reply"><span class="head">댓글수</span> <span class="body">32</span></span>
																<span class="data-item view"><span class="head">조회수</span> <span class="body">1.252</span></span>
															</div>
														</div>
														<!--//posts-data-->
													</div>
													<!--//posts-inform-->
												</div>
											</li>
											<li class="posts-item">
												<div class="posts-area">
													<div class="posts-figure">
														<a href="#" class="posts-thumbnail type-image"><img class="image" src="./../../assets/images/@temporary/image-thumbnail-01@3x.png" alt=""></a>
													</div>
													<!--posts-inform-->
													<div class="posts-inform">
														<!--posts-type-->
														<div class="posts-type">
															<div class="data-list">
																<span class="data-item category"><span class="head">분류</span> <span class="body">사진</span></span>
															</div>
														</div>
														<!--//posts-type-->
														<!--posts-head-->
														<div class="posts-head">
															<div class="posts-title">
																<a class="posts-name" href="#">우드 가구로 채워진 우리 집 안방!</a>
															</div>
															<!--posts account-->
															<div class="posts-account">
																<span class="head">글쓴이</span>
																<span class="body">
																	<a class="default-pic" href="#"><img class="image" src="./../../assets/images/@temporary/img-profile-01.png" alt=""></a>
																	<a class="default-nic" href="#">몽실둥블리네</a>
																</span>
															</div>
															<!--//posts account-->
														</div>
														<!--//posts-head-->
														<!--posts-data-->
														<div class="posts-data">
															<div class="data-list">
																<span class="data-item likey"><span class="head">좋아요</span> <span class="body">48</span></span>
																<span class="data-item reply"><span class="head">댓글수</span> <span class="body">32</span></span>
																<span class="data-item view"><span class="head">조회수</span> <span class="body">1.252</span></span>
															</div>
														</div>
														<!--//posts-data-->
													</div>
													<!--//posts-inform-->
												</div>
											</li>
											<li class="posts-item">
												<div class="posts-area">
													<div class="posts-figure">
														<a href="#" class="posts-thumbnail type-image"><img class="image" src="./../../assets/images/@temporary/image-thumbnail-01@3x.png" alt=""></a>
													</div>
													<!--posts-inform-->
													<div class="posts-inform">
														<!--posts-type-->
														<div class="posts-type">
															<div class="data-list">
																<span class="data-item category"><span class="head">분류</span> <span class="body">스토리</span></span>
															</div>
														</div>
														<!--//posts-type-->
														<!--posts-head-->
														<div class="posts-head">
															<div class="posts-title">
																<a class="posts-name" href="#">노네임 페인트로 셀프 인테리어 쌉가능!</a>
															</div>
															<!--posts account-->
															<div class="posts-account">
																<span class="head">글쓴이</span>
																<span class="body">
																	<a class="default-pic" href="#"><img class="image" src="./../../assets/images/@temporary/img-profile-01.png" alt=""></a>
																	<a class="default-nic" href="#">몽실둥블리네</a>
																</span>
															</div>
															<!--//posts account-->
														</div>
														<!--//posts-head-->
														<!--posts-data-->
														<div class="posts-data">
															<div class="data-list">
																<span class="data-item likey"><span class="head">좋아요</span> <span class="body">48</span></span>
																<span class="data-item reply"><span class="head">댓글수</span> <span class="body">32</span></span>
																<span class="data-item view"><span class="head">조회수</span> <span class="body">1.252</span></span>
															</div>
														</div>
														<!--//posts-data-->
													</div>
													<!--//posts-inform-->
												</div>
											</li>
											<li class="posts-item">
												<div class="posts-area">
													<div class="posts-figure">
														<a href="#" class="posts-thumbnail type-video"><img class="image" src="./../../assets/images/@temporary/image-thumbnail-01@3x.png" alt=""></a>
													</div>
													<!--posts-inform-->
													<div class="posts-inform">
														<!--posts-type-->
														<div class="posts-type">
															<div class="data-list">
																<span class="data-item category"><span class="head">분류</span> <span class="body">셀프가이드</span></span>
															</div>
														</div>
														<!--//posts-type-->
														<!--posts-head-->
														<div class="posts-head">
															<div class="posts-title">
																<a class="posts-name" href="#">화장실에서도 끄떡없는 식물키우는 방법</a>
															</div>
														</div>
														<!--//posts-head-->
														<!--posts-data-->
														<div class="posts-data">
															<div class="data-list">
																<span class="data-item likey"><span class="head">좋아요</span> <span class="body">48</span></span>
																<span class="data-item reply"><span class="head">댓글수</span> <span class="body">32</span></span>
																<span class="data-item view"><span class="head">조회수</span> <span class="body">1.252</span></span>
															</div>
														</div>
														<!--//posts-data-->
													</div>
													<!--//posts-inform-->
												</div>
											</li>
											<li class="posts-item">
												<div class="posts-area">
													<div class="posts-figure">
														<a href="#" class="posts-thumbnail type-image"><img class="image" src="./../../assets/images/@temporary/image-thumbnail-01@3x.png" alt=""></a>
													</div>
													<!--posts-inform-->
													<div class="posts-inform">
														<!--posts-type-->
														<div class="posts-type">
															<div class="data-list">
																<span class="data-item category"><span class="head">분류</span> <span class="body">트렌드&amp;아이디어</span></span>
															</div>
														</div>
														<!--//posts-type-->
														<!--posts-head-->
														<div class="posts-head">
															<div class="posts-title">
																<a class="posts-name" href="#">마감이 주는 힘 '콘크리트&amp;스톤'</a>
															</div>
														</div>
														<!--//posts-head-->
														<!--posts-data-->
														<div class="posts-data">
															<div class="data-list">
																<span class="data-item likey"><span class="head">좋아요</span> <span class="body">48</span></span>
																<span class="data-item reply"><span class="head">댓글수</span> <span class="body">32</span></span>
																<span class="data-item view"><span class="head">조회수</span> <span class="body">1.252</span></span>
															</div>
														</div>
														<!--//posts-data-->
													</div>
													<!--//posts-inform-->
												</div>
											</li>
										</ul>
										<!--//posts-list-->
										<!--button-area-->
										<div class="button-area style-a type-a">
											<button class="btn theme-a style-b type-a large normal-05 flex" type="button"><span class="btn-text">더보기 <span class="total-pages"><strong class="current">21</strong><span class="part">/</span><span class="total">52</span></span></span></button>
										</div>
										<!--//button-area-->
									</div>
									<!--//posts-display-->
								</div>
							</div>
							<!--subsection-->
							<!--subsection-->
							<div class="subsection" id="communityPosts03">
								<div class="subsection-head">
									<div class="subsection-title"><h5 class="subsection-name">댓글 단 글</h5></div>
								</div>
								<div class="subsection-body">
									<!--info-board-->
									<div class="info-board style-b type-b attr-qna no-data">
										<p class="board-body">
											<span class="wbr">작성한 댓글이 없습니다.</span>
										</p>
									</div>
									<!--//info-board-->
									<!--shortcut-area-->
									<div class="shortcut-area">

									</div>
									<!--//shortcut-area-->
									<!--posts-display-->
									<div class="posts-display style-c type-c large">
										<!--posts-list-->
										<ul class="posts-list">
											<li class="posts-item">
												<div class="posts-area">
													<div class="posts-figure">
														<a href="#" class="posts-thumbnail type-image"><img class="image" src="./../../assets/images/@temporary/image-thumbnail-01@3x.png" alt=""></a>
													</div>
													<!--posts-inform-->
													<div class="posts-inform">
														<!--posts-type-->
														<div class="posts-type">
															<div class="data-list">
																<span class="data-item category"><span class="head">분류</span> <span class="body">고수님 도와주세요</span></span>
															</div>
														</div>
														<!--//posts-type-->
														<!--posts-head-->
														<div class="posts-head">
															<div class="posts-title">
																<a class="posts-name" href="#">화장실 줄눈 시공했는데 문제가 있는거 같아요</a>
															</div>
															<!--posts account-->
															<div class="posts-account">
																<span class="head">글쓴이</span>
																<span class="body">
																	<a class="default-pic" href="#"><img class="image" src="./../../assets/images/@temporary/img-profile-01.png" alt=""></a>
																	<a class="default-nic" href="#">몽실둥블리네</a>
																</span>
															</div>
															<!--//posts account-->
														</div>
														<!--//posts-head-->
														<!--posts-data-->
														<div class="posts-data">
															<div class="data-list">
																<span class="data-item likey"><span class="head">좋아요</span> <span class="body">48</span></span>
																<span class="data-item reply"><span class="head">댓글수</span> <span class="body">32</span></span>
																<span class="data-item view"><span class="head">조회수</span> <span class="body">1.252</span></span>
															</div>
														</div>
														<!--//posts-data-->
													</div>
													<!--//posts-inform-->
												</div>
											</li>
											<li class="posts-item">
												<div class="posts-area">
													<div class="posts-figure">
														<a href="#" class="posts-thumbnail type-image"><img class="image" src="./../../assets/images/@temporary/image-thumbnail-01@3x.png" alt=""></a>
													</div>
													<!--posts-inform-->
													<div class="posts-inform">
														<!--posts-type-->
														<div class="posts-type">
															<div class="data-list">
																<span class="data-item category"><span class="head">분류</span> <span class="body">사진</span></span>
															</div>
														</div>
														<!--//posts-type-->
														<!--posts-head-->
														<div class="posts-head">
															<div class="posts-title">
																<a class="posts-name" href="#">우드 가구로 채워진 우리 집 안방!</a>
															</div>
															<!--posts account-->
															<div class="posts-account">
																<span class="head">글쓴이</span>
																<span class="body">
																	<a class="default-pic" href="#"><img class="image" src="./../../assets/images/@temporary/img-profile-01.png" alt=""></a>
																	<a class="default-nic" href="#">몽실둥블리네</a>
																</span>
															</div>
															<!--//posts account-->
														</div>
														<!--//posts-head-->
														<!--posts-data-->
														<div class="posts-data">
															<div class="data-list">
																<span class="data-item likey"><span class="head">좋아요</span> <span class="body">48</span></span>
																<span class="data-item reply"><span class="head">댓글수</span> <span class="body">32</span></span>
																<span class="data-item view"><span class="head">조회수</span> <span class="body">1.252</span></span>
															</div>
														</div>
														<!--//posts-data-->
													</div>
													<!--//posts-inform-->
												</div>
											</li>
											<li class="posts-item">
												<div class="posts-area">
													<div class="posts-figure">
														<a href="#" class="posts-thumbnail type-image"><img class="image" src="./../../assets/images/@temporary/image-thumbnail-01@3x.png" alt=""></a>
													</div>
													<!--posts-inform-->
													<div class="posts-inform">
														<!--posts-type-->
														<div class="posts-type">
															<div class="data-list">
																<span class="data-item category"><span class="head">분류</span> <span class="body">스토리</span></span>
															</div>
														</div>
														<!--//posts-type-->
														<!--posts-head-->
														<div class="posts-head">
															<div class="posts-title">
																<a class="posts-name" href="#">노네임 페인트로 셀프 인테리어 쌉가능!</a>
															</div>
															<!--posts account-->
															<div class="posts-account">
																<span class="head">글쓴이</span>
																<span class="body">
																	<a class="default-pic" href="#"><img class="image" src="./../../assets/images/@temporary/img-profile-01.png" alt=""></a>
																	<a class="default-nic" href="#">몽실둥블리네</a>
																</span>
															</div>
															<!--//posts account-->
														</div>
														<!--//posts-head-->
														<!--posts-data-->
														<div class="posts-data">
															<div class="data-list">
																<span class="data-item likey"><span class="head">좋아요</span> <span class="body">48</span></span>
																<span class="data-item reply"><span class="head">댓글수</span> <span class="body">32</span></span>
																<span class="data-item view"><span class="head">조회수</span> <span class="body">1.252</span></span>
															</div>
														</div>
														<!--//posts-data-->
													</div>
													<!--//posts-inform-->
												</div>
											</li>
											<li class="posts-item">
												<div class="posts-area">
													<div class="posts-figure">
														<a href="#" class="posts-thumbnail type-video"><img class="image" src="./../../assets/images/@temporary/image-thumbnail-01@3x.png" alt=""></a>
													</div>
													<!--posts-inform-->
													<div class="posts-inform">
														<!--posts-type-->
														<div class="posts-type">
															<div class="data-list">
																<span class="data-item category"><span class="head">분류</span> <span class="body">셀프가이드</span></span>
															</div>
														</div>
														<!--//posts-type-->
														<!--posts-head-->
														<div class="posts-head">
															<div class="posts-title">
																<a class="posts-name" href="#">화장실에서도 끄떡없는 식물키우는 방법</a>
															</div>
														</div>
														<!--//posts-head-->
														<!--posts-data-->
														<div class="posts-data">
															<div class="data-list">
																<span class="data-item likey"><span class="head">좋아요</span> <span class="body">48</span></span>
																<span class="data-item reply"><span class="head">댓글수</span> <span class="body">32</span></span>
																<span class="data-item view"><span class="head">조회수</span> <span class="body">1.252</span></span>
															</div>
														</div>
														<!--//posts-data-->
													</div>
													<!--//posts-inform-->
												</div>
											</li>
											<li class="posts-item">
												<div class="posts-area">
													<div class="posts-figure">
														<a href="#" class="posts-thumbnail type-image"><img class="image" src="./../../assets/images/@temporary/image-thumbnail-01@3x.png" alt=""></a>
													</div>
													<!--posts-inform-->
													<div class="posts-inform">
														<!--posts-type-->
														<div class="posts-type">
															<div class="data-list">
																<span class="data-item category"><span class="head">분류</span> <span class="body">트렌드&amp;아이디어</span></span>
															</div>
														</div>
														<!--//posts-type-->
														<!--posts-head-->
														<div class="posts-head">
															<div class="posts-title">
																<a class="posts-name" href="#">마감이 주는 힘 '콘크리트&amp;스톤'</a>
															</div>
														</div>
														<!--//posts-head-->
														<!--posts-data-->
														<div class="posts-data">
															<div class="data-list">
																<span class="data-item likey"><span class="head">좋아요</span> <span class="body">48</span></span>
																<span class="data-item reply"><span class="head">댓글수</span> <span class="body">32</span></span>
																<span class="data-item view"><span class="head">조회수</span> <span class="body">1.252</span></span>
															</div>
														</div>
														<!--//posts-data-->
													</div>
													<!--//posts-inform-->
												</div>
											</li>
										</ul>
										<!--//posts-list-->
										<!--button-area-->
										<div class="button-area style-a type-a">
											<button class="btn theme-a style-b type-a large normal-05 flex" type="button"><span class="btn-text">더보기 <span class="total-pages"><strong class="current">21</strong><span class="part">/</span><span class="total">52</span></span></span></button>
										</div>
										<!--//button-area-->
									</div>
									<!--//posts-display-->
								</div>
							</div>
							<!--subsection-->
						</div>
					</div>
					<!--//section-->
				</div>
				<!--//content-body-->
				<!--widget-->
				<div class="widget tab-bars">
					<ul class="navi-list">
						<li class="navi-item home"><a class="navi-name" href="#">홈</a></li>
						<li class="navi-item category"><a class="navi-name" href="#">카테고리</a></li>
						<li class="navi-item mypage"><a class="navi-name" href="#">마이페이지</a></li>
						<li class="navi-item community"><a class="navi-name" href="#">커뮤니티</a></li>
						<li class="navi-item more"><a class="navi-name" href="#">더보기</a></li>
					</ul>
				</div>
				<!--//widget-->

			</div>
			<!--//local-body-->
		</div>
		<!--//page-body-->
<%-include('../_templates/_footer.front.ejs') %>
	</div>
	<script stype="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
			// 리뷰 작성 포인트 툴팁
			var reviewTooltip = new buiToggle('[data-bui-tooltip="info-tooltip"]', {
				mode: 'tooltip',
				event: 'none',
				tooltipPosition: 'absolute',
				tooltipContainer: '.order-delivery .subsection-body',
				tooltipArrow: true,
			});

			// 툴팁 초기화
			document.querySelector('[href="#shoppingInfo"]').addEventListener('click', function() {
				reviewTooltip.active('writeReview');
			});
		});
	</script>
</body>
</html>