<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.head.front.ejs', {
	pageStyle: 'page.mypage.css',
	pageJavascript: ''
}) %>
</head>
<body>
	<div id="page">
		<div style="padding: 1.25rem;">
			<div class="button-area style-b">
				<a class="btn theme-a style-b type-b normal-01 medium" href="#creditCardSalesSlip" data-bui-toggle-button="creditCardSalesSlip"><span class="btn-text">신용카드 매출전표</span></a>
			</div>
		</div>
	</div>

	<!--layer-popup-->
	<div class="layer-popup style-a type-a" id="creditCardSalesSlip" data-bui-toggle="open-popup">
		<div class="popup-item">
			<div class="popup-head">
				<div class="popup-title"><h2 class="popup-name">신용카드 매출전표</h2></div>
			</div>
			<div class="popup-body">

			</div>
		</div>
	</div>
	<!--//layer-popup-->
	<script stype="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {		
			openPopup.toggle('creditCardSalesSlip');
		});
	</script>
</body>
</html>