<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.head.front.ejs', {
	pageStyle: 'page.mypage.css',
	pageJavascript: ''
}) %>
</head>
<body>
	<div id="page">
<%-include('../_templates/_header.front.ejs') %>
		<!--page-body-->
		<div class="page-body" id="local">
			<!--local-head-->
			<div class="local-head">
				<h2 class="local-title"><span class="local-name">마이페이지</span></h2>
				<!--local-control-->
				<div class="local-control">
					<span class="control-item"><a class="control-name" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>이전으로</title><path d="M10.8,5.2c0.2,0.2,0.3,0.6,0.1,0.9l-0.1,0.1l-5.3,5.2l14.8,0c0.3,0,0.6,0.3,0.6,0.6c0,0.3-0.2,0.5-0.5,0.6l-0.1,0l-14.8,0l5.3,5.2c0.2,0.2,0.3,0.6,0.1,0.9l-0.1,0.1c-0.2,0.2-0.6,0.3-0.9,0.1l-0.1-0.1L3,12l6.8-6.8C10.1,4.9,10.5,4.9,10.8,5.2z"></path></svg></a></span>
					<span class="control-item"><a class="control-name" data-toggle-button="#pageBaseline" href="#pageBaseline"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>메인으로</title><path d="M21.8,10.2L21.8,10.2l-8.1-6.6c-0.9-0.8-2.3-0.8-3.3,0l-8.1,6.6C2,10.4,1.9,10.8,2.1,11c0.2,0.3,0.6,0.3,0.8,0.1l1-0.8v7.1 c0,2,1.6,3.6,3.6,3.6h8.8c2,0,3.6-1.6,3.6-3.6v-7.1l1,0.8c0.1,0.1,0.2,0.1,0.4,0.1c0.2,0,0.3-0.1,0.5-0.2 C22.1,10.8,22,10.4,21.8,10.2z M18.8,17.4L18.8,17.4c0,1.3-1.1,2.4-2.4,2.4H7.6c-1.3,0-2.4-1.1-2.4-2.4V9.3l5.9-4.8 c0.5-0.4,1.3-0.4,1.8,0l5.9,4.8V17.4z M15,16c1.1,0,2-0.9,2-2c0-1.1-0.9-2-2-2s-2,0.9-2,2C13,15.1,13.9,16,15,16z M15,13.2 c0.4,0,0.8,0.4,0.8,0.8c0,0.4-0.4,0.8-0.8,0.8c-0.4,0-0.8-0.4-0.8-0.8C14.2,13.5,14.6,13.2,15,13.2z"></path></svg></a></span>
				</div>
				<!--//local-control-->
			</div>
			<!--//local-head-->
			<!--local-body-->
			<div class="local-body restock-notification" id="content">
				<!--content-head-->
				<div class="content-head">
					<div class="content-title"><h3 class="content-name">재입고 알림</h3></div>
				</div>
				<!--//content-head-->
				<!--content-body-->
				<div class="content-body">
					<!--info-board-->
					<div class="info-board style-b type-b attr-alram no-data">
						<p class="board-body">
							<span class="wbr">재입고 알림 내역이 없습니다.</span>
						</p>
						<div class="button-area style-a type-b">
							<a class="btn theme-a style-b type-c accent-01 large" href="#"><span class="btn-text">쇼핑 계속하기</span></a>
						</div>
					</div>
					<!--//info-board-->
					<!--goods-display-->
					<div class="goods-display style-a type-c small">
						<!--data-util-->
						<div class="data-util">
							<div class="util-item">
								<span class="data-total">
									<span class="head">재입고</span> <span class="body">총 2건</span>
								</span>
							</div>
							<div class="util-item">
								<span class="button-area">
									<button class="btn style-text type-b xxx-small normal-02" type="button">전체삭제</button>
								</span>
							</div>
						</div>
						<!--//data-util-->
						<ul class="goods-list">
							<li class="goods-item">
								<div class="goods-lamp"><strong class="em style-a normal-01 xx-small">신청일 2020.07.30</strong></div>
								<div class="goods-area">
									<div class="goods-figure"><a class="goods-thumbnail" href="#"><img class="image" src="./../../assets/images/@temporary/image-thumbnail-03@3x.png" alt="" onerror="imgError(this);"></a></div>
									<div class="goods-inform">
										<div class="goods-head">
											<div class="goods-title"><a class="goods-name" href="#">품었기 인생의 끓는 착목한는 풍부하게 일월과 실로 스며들어 것이다. 돋고, 것은 불어 길지 없는 못하다 약동하다.</a></div>
											<div class="goods-noti">취소/교환/반품 불가 상품</div>
											<div class="goods-promotional">07월 방문손잡이 베스트 감사제</div>
										</div>
										<div class="goods-body">
											<div class="goods-options">
												<ul class="data-list">
													<li class="data-item"><div class="data-area"><span class="data-head">옵션:</span> <span class="data-body">폭x길이_30mm x 100mm</span></div></li>
													<li class="data-item"><div class="data-area"><span class="data-head">가공:</span> <span class="data-body">두께홈파기, 사각타공</span></div></li>
													<li class="data-item"><div class="data-area"><span class="data-head">무게:</span> <span class="data-body">0.102kg</span></div></li>
												</ul>
											</div>
										</div>
										<div class="goods-foot">
											<span class="goods-price"><strong class="price-list"><span class="value">47,500</span><span class="unit">원</span></strong></span>
											<div class="button-area">
												<button class="btn theme-a style-b type-b normal-03 small" type="button"><span class="btn-text">삭제</span></button>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="goods-item">
								<div class="goods-lamp"><strong class="em style-a normal-01 xx-small">신청일 2020.07.30</strong></div>
								<div class="goods-area">
									<div class="goods-figure"><a class="goods-thumbnail" href="#"><img class="image" src="./../../assets/images/@temporary/image-thumbnail-03@3x.png" alt="" onerror="imgError(this);"></a></div>
									<div class="goods-inform">
										<div class="goods-head">
											<div class="goods-title"><a class="goods-name" href="#">품었기 인생의 끓는 착목한는 풍부하게 일월과 실로 스며들어 것이다. 돋고, 것은 불어 길지 없는 못하다 약동하다.</a></div>
											<div class="goods-noti">취소/교환/반품 불가 상품</div>
											<div class="goods-promotional">07월 방문손잡이 베스트 감사제</div>
										</div>
										<div class="goods-body">
											<div class="goods-options">
												<ul class="data-list">
													<li class="data-item"><div class="data-area"><span class="data-head">옵션:</span> <span class="data-body">폭x길이_30mm x 100mm</span></div></li>
													<li class="data-item"><div class="data-area"><span class="data-head">가공:</span> <span class="data-body">두께홈파기, 사각타공</span></div></li>
													<li class="data-item"><div class="data-area"><span class="data-head">무게:</span> <span class="data-body">0.102kg</span></div></li>
												</ul>
											</div>
										</div>
										<div class="goods-foot">
											<span class="goods-price"><strong class="price-list"><span class="value">47,500</span><span class="unit">원</span></strong></span>
											<div class="button-area">
												<button class="btn theme-a style-b type-b normal-03 small" type="button"><span class="btn-text">삭제</span></button>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
						<!--//goods-list-->
						<!--button-area-->
						<div class="button-area style-a type-a">
							<button class="btn theme-a style-b type-a large normal-05 flex" type="button"><span class="btn-text">더보기 <span class="total-pages"><strong class="current">21</strong><span class="part">/</span><span class="total">52</span></span></span></button>
						</div>
						<!--//button-area-->
					</div>
					<!--//goods-display-->
					<!--section-->
					<div class="section use-guide">
						<div class="section-head">
							<div class="section-title"><h4 class="section-name">이용안내</h4></div>
						</div>
						<div class="section-body">
							<!--data-list-->
							<ul class="data-list style-a type-a">
								<li class="data-item">알림을 받으신 뒤 구매 시점에 따라 품절이 발생할 수 있으며, 판매가는 신청 시점과 차이가 날 수 있습니다.</li>
							</ul>
							<!--//data-list-->
						</div>
					</div>
					<!--//section-->
				</div>
				<!--//content-body-->
				<!--widget-->
				<div class="widget tab-bars">
					<ul class="navi-list">
						<li class="navi-item home"><a class="navi-name" href="#">홈</a></li>
						<li class="navi-item category"><a class="navi-name" href="#">카테고리</a></li>
						<li class="navi-item mypage"><a class="navi-name" href="#">마이페이지</a></li>
						<li class="navi-item community"><a class="navi-name" href="#">커뮤니티</a></li>
						<li class="navi-item more"><a class="navi-name" href="#">더보기</a></li>
					</ul>
				</div>
				<!--//widget-->
			</div>
			<!--//local-body-->
		</div>
		<!--//page-body-->
<%-include('../_templates/_footer.front.ejs') %>
	</div>
	<script stype="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
			
		});
	</script>
</body>
</html>