<div class="goods-item">
	<!--goods-sort-->
	<div class="goods-sort">
		<div class="data-list">
			<span class="data-item category"><span class="head">분류</span> <span class="body">반품신청</span></span>
		</div>
	</div>
	<!--//goods-sort-->
	<!--goods-area-->
	<div class="goods-area">
		<!--goods-figure-->
		<div class="goods-figure">
			<a href="#" class="goods-thumbnail type-image">
				<img class="image" src="./../../assets/images/@temporary/thumbnail_goods_01.jpg" alt="">
				<!-- <span class="more-item">+2</span> -->
			</a>
		</div>
		<!--//goods-figure-->
		<!--goods-inform-->
		<div class="goods-inform">
			<!--goods-head-->
			<div class="goods-head"><div class="goods-title"><a class="goods-name" href="#">고행을 하였으며, 끝에 뿐이다. 그것은 너의 전인 옷을 위하여 할지니, 있음으로써 힘있다.</a></div></div>
			<!--//goods-head-->
			<!--goods-type-->
			<div class="goods-type">
				<div class="data-list">
					<div class="data-item noti"><span class="head">분류</span> <span class="body">취소/교환/반품 불가 상품</span></div>
					<div class="data-item event"><span class="head">분류</span> <span class="body">프로모션 상품</span></div>
				</div>
			</div>
			<!--//goods-type-->
			<!--goods-data-->
			<div class="goods-data">
				<div class="data-list">
					<span class="data-item reply"><span class="head">댓글수</span> <span class="body">32</span></span>
					<span class="data-item view"><span class="head">조회수</span> <span class="body">1.252</span></span>
					<span class="data-item date"><span class="head">등록일</span> <span class="body">3시간 전</span></span>
					<span class="data-item option"><span class="head">옵션</span> <span class="body">용량 473ml, 색상 26, 체다치즈(ML5295)</span></span>
				</div>
			</div>
			<!--//goods-data-->
			<!--goods-foot-->
			<div class="goods-foot">
				<!-- <span class="order-quantity">
					<div class="data-list">
						<span class="data-item quantity"><span class="head">수량</span> <span class="body"><span class="value">1</span> <span class="unit">개</span></span></span>
					</div>
				</span> -->
				<div class="goods-price">
					<div class="data-list">
						<span class="data-item list"><span class="head">정가</span> <span class="body"><del class="text">7,000</del> <span class="unit">원</span></span></span>
						<span class="data-item sale"><span class="head">판매가</span> <span class="body"><ins class="text">9,999,000</ins> <span class="unit">원</span></span></span>
						<span class="data-item off"><span class="head">할인율</span> <span class="body"><span class="text">36</span> <span class="unit">%</span></span></span>
						<span class="data-item quantity"><span class="head">수량</span> <span class="body"><span class="text">1</span> <span class="unit">개</span></span></span>
					</div>
				</div>
			</div>
			<!--//goods-foot-->
		</div>
		<!--//goods-inform-->
	</div>
	<!--//goods-area-->
</div>