					<!--submit-form-->
					<div class="submit-form data-fillter">
						<p class="data-count"><span class="head">전체</span> <span class="body">21,528개</span></p>
						<fieldset class="form-list">
							<legend>필터 적용 항목</legend>
							<div class="form-item active" data-bui-fold="foldItem">
								<div class="form-head"><span class="form-name">혜택</span></div>
								<div class="form-body">
									<!--option-select-->
									<div class="option-select style-a type-b">
										<div class="option-list">
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox" checked="checked"> <span class="form-text">쿠폰</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox" checked="checked"> <span class="form-text">최저가</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">1+1</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">사은품</span></label></div></div></div>
										</div>
									</div>
									<!--//option-select-->
								</div>
							</div>
							<div class="form-item active" data-bui-fold="foldItem">
								<div class="form-head"><span class="form-name">배송구분</span></div>
								<div class="form-body">
									<!--option-select-->
									<div class="option-select style-a type-b">
										<div class="option-list">
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">문고리배송</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">입점사배송</span></label></div></div></div>
										</div>
									</div>
									<!--//option-select-->
								</div>
							</div>
							<div class="form-item attr-brand active" data-bui-fold="foldItem">
								<div class="form-head"><span class="form-name">브랜드</span></div>
								<div class="form-body">
									<!--option-select-->
									<div class="option-select style-a type-b">
										<div class="option-list">
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">문고리닷컴</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">노네임</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">도무스</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">보쉬</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">계양</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">비츠조명</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">문고리닷컴</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">노네임</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">도무스</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">보쉬</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">계양</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">비츠조명</span></label></div></div></div>
										</div>
									</div>
									<!--//option-select-->
								</div>
							</div>
							<div class="form-item attr-category active" data-bui-fold="foldItem">
								<div class="form-head"><span class="form-name">카테고리</span></div>
								<div class="form-body">
									<!--option-select-->
									<div class="option-select style-a type-b">
										<div class="option-list">
											<div class="option-item">
												<div class="option-head"><div class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox" checked="checked"> <span class="form-text">손잡이</span></label></div></div>
												<div class="option-body">
													<!--option-select-->
													<div class="option-select style-a type-b">
														<div class="option-list">
															<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-b"><input class="form-elem" type="checkbox"> <span class="form-text">가구손잡이</span></label></div></div></div>
															<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-b"><input class="form-elem" type="checkbox"> <span class="form-text">방문손잡이</span></label></div></div></div>
															<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-b"><input class="form-elem" type="checkbox"> <span class="form-text">현관 &middot; 디지털도어락</span></label></div></div></div>
															<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-b"><input class="form-elem" type="checkbox"> <span class="form-text">유리 &middot; 강화도어 &middot; 샷시</span></label></div></div></div>
														</div>
													</div>
													<!--//option-select-->
												</div>
											</div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">철물 &middot; 하드웨어</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">공구 &middot; 전동공구</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">페인트 &middot; 스테인</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">조명</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">전기</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">타일</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">DIY 바닥 &middot; 벽</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">수전 &middot; 위생도기</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">목재 &middot; 유리 &middot; 부자재</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">벽지</span></label></div></div></div>
										</div>
									</div>
									<!--//option-select-->
								</div>
							</div>
							<div class="form-item active" data-bui-fold="foldItem">
								<div class="form-head"><span class="form-name">색상</span></div>
								<div class="form-body">
									<!--option-select-->
									<div class="option-select style-a type-b">
										<div class="option-list">
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-d type-a" style="background-color: #ff2501;"><input class="form-elem" type="checkbox" checked="checked"> <span class="form-text">레드</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-d type-a" style="background-color: #ffa500;"><input class="form-elem" type="checkbox" checked="checked"> <span class="form-text">오렌지</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-d type-a" style="background-color: #fed702;"><input class="form-elem" type="checkbox"> <span class="form-text">골드</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-d type-a" style="background-color: #fffb00;"><input class="form-elem" type="checkbox"> <span class="form-text">옐로우</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-d type-a" style="background-color: #9acb32;"><input class="form-elem" type="checkbox"> <span class="form-text">그린</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-d type-a" style="background-color: #008002;"><input class="form-elem" type="checkbox"> <span class="form-text">다크그린</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-d type-a" style="background-color: #87ceea;"><input class="form-elem" type="checkbox"> <span class="form-text">스카이</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-d type-a" style="background-color: #0632ff;"><input class="form-elem" type="checkbox"> <span class="form-text">블루</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-d type-a" style="background-color: #01147f;"><input class="form-elem" type="checkbox"> <span class="form-text">네이비</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-d type-a" style="background-color: #f4f4f4;"><input class="form-elem" type="checkbox"> <span class="form-text">화이트</span></label></div></div></div>
											<div class="option-item"><div class="option-head"><div class="option-name"><label class="form checkbox style-d type-a" style="background-color: #bfbfbf;"><input class="form-elem" type="checkbox"> <span class="form-text">그레이</span></label></div></div></div>
										</div>
									</div>
									<!--//option-select-->
								</div>
							</div>
							<div class="form-item attr-modernize active" data-bui-fold="foldItem">
								<div class="form-head"><span class="form-name">가격</span></div>
								<div class="form-body">
									<p class="price-range">
										<span class="minimum"><span class="value" id="minimumPrice"></span></span>
										<span class="to">~</span>
										<span class="maximum"><span class="value" id="maximumPrice"></span><span class="unit">원</span></span>
									</p>
									<div class="form-area">
										<div class="form range style-a type-a flex">
											<input type="range" class="form-elem range-min" title="최소가격" min="0" max="10000000" step="10000" value="2500000">
											<input type="range" class="form-elem range-max" title="최대가격" min="0" max="10000000" step="10000" value="7500000">
										</div>
									</div>
								</div>
							</div>
							<div class="form-item attr-explorer active" data-bui-fold="foldItem">
								<div class="form-head"><span class="form-name">가격</span></div>
								<div class="form-body">
									<div class="form-area">
										<span class="form textfield style-b type-b normal-03 medium flex">
											<input type="text" class="form-elem" pattern="[0-9]*" inputmode="numeric" placeholder="최소가격">
										</span>
										<span class="sign">~</span>
										<span class="form textfield style-b type-b normal-03 medium flex">
											<input type="text" class="form-elem" pattern="[0-9]*" inputmode="numeric" placeholder="최대가격">
										</span>
									</div>
								</div>
							</div>
						</fieldset>
						<!--button-area-->
						<div class="button-area style-a">
							<button class="btn theme-a style-b type-b normal-03 large flex" type="submit"><span class="btn-text">적용</span></button>
						</div>
						<!--//button-area-->
					</div>
					<!--//submit-form-->
