					<!--20210217 수정 [id="totalPayment" 추가]-->
					<!--section-->
					<div class="section total-payment" id="totalPayment">
						<div class="section-head"><div class="section-title"><h4 class="section-name">총 결제 금액</h4></div></div>
						<div class="section-body">
							<div class="order-detail">
								<!--data-display-->
								<div class="data-display style-a type-c">
									<ul class="data-list">
										<li class="data-item">
											<div class="data-area">
												<span class="data-head"><span class="data-name">총 상품금액</span></span>
												<span class="data-body"><strong class="em normal-01">95,564원</strong></span>
											</div>
										</li>
										<li class="data-item">
											<div class="data-area">
												<span class="data-head"><span class="data-name">총 배송비(선결제)</span></span>
												<span class="data-body"><strong class="em normal-01">+ 3,500원</strong></span>
											</div>
										</li>
										<li class="data-item">
											<div class="data-area">
												<span class="data-head"><span class="data-name">총 할인금액</span></span>
												<span class="data-body"><strong class="em accent-01">- 8,500원</strong></span>
											</div>
											<div class="data-side">
												<div class="data-display style-d type-c attr-reply">
													<!--data-display-->
													<ul class="data-list">
														<li class="data-item">
															<div class="data-area">
																<span class="data-head"><span class="data-name">기본 할인</span></span>
																<span class="data-body">- 10,500원</span>
															</div>
														</li>
														<li class="data-item">
															<div class="data-area">
																<span class="data-head"><span class="data-name">행사 할인</span></span>
																<span class="data-body">- 5,500원</span>
															</div>
														</li>
														<li class="data-item">
															<div class="data-area">
																<span class="data-head"><span class="data-name">상품 쿠폰</span></span>
																<span class="data-body">- 5,500원</span>
															</div>
														</li>
														<li class="data-item">
															<div class="data-area">
																<span class="data-head"><span class="data-name">배송비 쿠폰</span></span>
																<span class="data-body">- 3,000원</span>
															</div>
														</li>
													</ul>
													<!--//data-display-->
												</div>
											</div>
										</li>
										<li class="data-item">
											<div class="data-area">
												<span class="data-head"><span class="data-name">예치금 사용</span></span>
												<span class="data-body"><strong class="em normal-01">- 2,500원</strong></span>
											</div>
										</li>
										<li class="data-item">
											<div class="data-area">
												<span class="data-head"><span class="data-name">포인트 사용</span></span>
												<span class="data-body"><strong class="em normal-01">- 3,500원</strong></span>
											</div>
										</li>
									</ul>
								</div>
								<!--//data-display-->
							</div>
							<div class="total-amount">
								<span class="head">결제 예정금액</span>
								<span class="body"><span class="text">91,164</span><span class="unit">원</span></span>
							</div>
							<!--data-display-->
							<div class="data-display style-c type-c">
								<div class="data-list">
									<div class="data-item">
										<div class="data-area">
											<span class="data-head"><span class="data-name"><a class="em style-a type-a normal-03 small symbol-rtl-help" href="#savedPoints" data-bui-tooltip-button="savedPoints">최대 적립 포인트</a></span></span>
											<span class="data-body">1,339P</span>
										</div>
									</div>
								</div>
							</div>
							<!--//data-display-->
							<!--option-select-->
							<div class="option-select style-b type-b">
								<fieldset class="option-list">
									<legend>약관동의 선택 서식</legend>
									<div class="option-item">
										<div class="option-head">
											<div class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">[필수] 주문 및 결제 관련 약관 동의</span></label></div>
										</div>
										<div class="option-body">
											<!--option-select-->
											<div class="option-select style-a type-b">
												<div class="option-list">
													<div class="option-item">
														<div class="option-head">
															<span class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">개인정보 제3자 제공 동의</span></label></span>
															<span class="option-side"><a class="em normal-04 small" href="#provisionPersonalInformation" data-bui-toggle-button="provisionPersonalInformation">보기</a></span>
														</div>
													</div>
													<div class="option-item">
														<div class="option-head">
															<span class="option-name"><label class="form checkbox style-a type-a"><input class="form-elem" type="checkbox"> <span class="form-text">청약철회 관련 방침에 동의</span></label></span>
															<span class="option-side"><a class="em normal-04 small" href="#withdrawalSubscription" data-bui-toggle-button="withdrawalSubscription">보기</a></span>
														</div>
													</div>
												</div>
											</div>
											<!--//option-select-->
										</div>
									</div>
								</fieldset>
							</div>
							<!--//option-select-->
						</div>
						<div class="section-util">
							<div class="button-area style-a">
								<button class="btn theme-a style-b type-a accent-02 xxx-large flex" type="button"><span class="btn-text"><span class="quantity">총 5개</span> <span class="price"><span class="text">91,164</span><span class="unit">원</span></span> 결제하기</span></button>
							</div>
						</div>
					</div>
					<!--//section-->