<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_header.data.ejs', {
	pageStyle: 'bui.page.snippet.css',
	pageJavascript: ''
}) %>
</head>
<body>
	<!--page-->
	<div id="page">
<%-include('../_templates/_header.snippet.ejs') %>
		<!--page-body-->
		<div class="page-body" id="local">
			<!--local-head-->
			<div class="local-head">
				<div class="local-title"><h2 class="local-name" id="localName">local name</h2></div>
			</div>
			<!--//local-head-->
			<!--local-body-->
			<div class="local-body" id="content">
				<!--content-head-->
				<div class="content-head">
					<div class="content-title"><h3 class="content-name" id="contentName">popup</h3></div>
					<!-- <div class="content-intro">
						<p class="summary"></p>
					</div> -->
				</div>
				<!--//content-head-->
				<!--content-body-->
				<div class="content-body">
					<!--section-->
					<div class="section">
						<div class="section-head"><div class="section-title"><h4 class="section-name">Textfield</h4></div></div>
						<div class="section-body">
							<!--subsection-->
							<div class="subsection">
								<div class="subsection-head"><div class="subsection-title"><h5 class="subsection-name">HTML Structure</h5></div></div>
								<div class="subsection-body">
									<pre class="highlight-js">
<code class="html">&lt;div class="tab-display"&gt;
	&lt;ul class="tab-list"&gt;
		&lt;li class="tab-item current"&gt;&lt;a href="#" class="tab-name"&gt;one&lt;/a&gt;&lt;/li&gt;
		&lt;li class="tab-item"&gt;&lt;a href="#" class="tab-name"&gt;two&lt;/a&gt;&lt;/li&gt;
		&lt;li class="tab-item"&gt;&lt;a href="#" class="tab-name"&gt;three&lt;/a&gt;&lt;/li&gt;
		&lt;li class="tab-item"&gt;&lt;a href="#" class="tab-name"&gt;four&lt;/a&gt;&lt;/li&gt;
		&lt;li class="tab-item"&gt;&lt;a href="#" class="tab-name"&gt;five&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;</code></pre>
								</div>
							</div>
							<!--//subsection-->
							<!--subsection-->
							<div class="subsection">
								<div class="subsection-head"><div class="subsection-title"><h5 class="subsection-name">Class Options</h5></div></div>
								<div class="subsection-body">
									<!--data-table-->
									<div class="data-table theme-bui type-a">
										<table>
											<colgroup>
												<col style="width: 8em;">
												<col>
											</colgroup>
											<tbody>
												<tr>
													<th scope="row">module</th>
													<td>tab-display</td>
												</tr>
												<tr>
													<th scope="row">style</th>
													<td>style-*</td>
												</tr>
												<tr>
													<th scope="row">type</th>
													<td>type-*</td>
												</tr>
												<tr>
													<th scope="row">outline</th>
													<td>to xxx-large</td>
												</tr>
												<tr>
													<th scope="row">options</th>
													<td>attr-scroll, attr-*</td>
												</tr>
											</tbody>
										</table>
									</div>
									<!--//data-table-->
								</div>
							</div>
							<!--//subsection-->
							<!--subsection-->
							<div class="subsection">
								<div class="subsection-head"><div class="subsection-title"><h5 class="subsection-name">style a</h5></div></div>
								<div class="subsection-body">
									<div class="button-area">
										<a class="btn theme-a style-b type-b large normal-01" target="_blank" href="./../../front/_module/popup.style.a.html"><span class="btn-text">type-a</span></a>
										<a class="btn theme-a style-b type-b large normal-01" target="_blank" href="#"><span class="btn-text">type-b</span></a>
										<a class="btn theme-a style-b type-b large normal-01" target="_blank" href="#"><span class="btn-text">type-c</span></a>
									</div>
								</div>
							</div>
							<!--//subsection-->
						</div>
					</div>
					<!--//section-->
				</div>
				<!--content-body-->
			</div>
			<!--//local-body-->
		</div>
		<!--//page-body-->
<%-include('../_templates/_aside.ejs') %>
<%-include('../_templates/_footer.ejs') %>
	</div>
	<!--//page-->
</body>
</html>