<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>event</title>
	<link rel="stylesheet" type="text/css" href="https://dev.moongori.com//data/skin/pc_default/assets/css/page.event.css">
	<script type="text/javascript" src="https://dev.moongori.com//app/javascript/jquery/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js" integrity="sha512-eZB7hQa0bRlrKMQ2njpP0d/Klu6o30Gsr8e5FUCjUT3fSlnVkm/1J14n58BuwgaMuObrGb7SvUfQuF8qFsPU4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<!-- <script type="text/javascript" src="https://dev.moongori.com//app/javascript/plugin/jquery.rwdImageMaps.min.js"></script> -->
	<script type="text/javascript" src="https://dev.moongori.com//data/skin/pc_default/assets/js/page.event.js"></script>
	<script src="https://dev.moongori.com//data/skin/pc_default/assets/slick/slick.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://dev.moongori.com//data/skin/pc_default/assets/slick/slick.min.css">
	<style>
		body {margin: 0}
		.event_frame_wrap {height: 500px; background-color: #f4f4f4;}
		.event_frame_wrap:nth-child(even) {background-color: #d4d4d4;}
	</style>
</head>
<body>
	<div class="event-wrap">