<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.head.front.ejs', {
	pageStyle: 'page.category.css',
	pageJavascript: 'page.category.js'
}) %>
</head>
<body>
	<div id="page">
		<%-include('../_templates/_header.front.ejs') %>
		<!--page-body-->
		<div class="page-body" id="local">
			<!--local-head-->
			<div class="local-head">
				<h2 class="local-title"><span class="local-name">카테고리</span></h2>
				<!--local-control-->
				<div class="local-control">
					<span class="control-item">
						<a class="control-name" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>이전으로</title><path d="M10.8,5.2c0.2,0.2,0.3,0.6,0.1,0.9l-0.1,0.1l-5.3,5.2l14.8,0c0.3,0,0.6,0.3,0.6,0.6c0,0.3-0.2,0.5-0.5,0.6l-0.1,0l-14.8,0l5.3,5.2c0.2,0.2,0.3,0.6,0.1,0.9l-0.1,0.1c-0.2,0.2-0.6,0.3-0.9,0.1l-0.1-0.1L3,12l6.8-6.8C10.1,4.9,10.5,4.9,10.8,5.2z"></path></svg></a>
					</span>
					<span class="control-item">
						<a class="control-name" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>검색</title><path d="M20.8,19.9l-4.4-4.4c1.1-1.3,1.8-3,1.8-4.9c0-4.2-3.4-7.6-7.6-7.6C6.4,3,3,6.4,3,10.6c0,4.2,3.4,7.6,7.6,7.6c1.9,0,3.6-0.7,4.9-1.8l4.4,4.4l0.1,0.1c0.3,0.2,0.6,0.2,0.8-0.1C21.1,20.6,21.1,20.1,20.8,19.9z M10.6,17c-3.5,0-6.4-2.9-6.4-6.4c0-3.5,2.9-6.4,6.4-6.4c3.5,0,6.4,2.9,6.4,6.4C17,14.1,14.1,17,10.6,17z"></path></svg></a>
						<a class="control-name" href="#">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>장바구니</title><path d="M21,19.1l-1.6-9.8l0-0.1C19.2,8.5,18.6,8,17.8,8h-2.2V6.6l0-0.2C15.5,4.5,13.9,3,12,3c-2,0-3.6,1.6-3.6,3.6l0,1.4H6.2C5.5,8,4.8,8.6,4.7,9.3l-1.6,9.8c0,0.1,0,0.2,0,0.3c0,0.9,0.7,1.6,1.6,1.6h14.8c0.1,0,0.2,0,0.3,0C20.6,20.8,21.1,20,21,19.1z M9.6,6.6l0-0.2c0.1-1.3,1.1-2.3,2.4-2.3c1.3,0,2.4,1.1,2.4,2.4V8H9.6V6.6z M19.5,19.8L19.5,19.8l-14.8,0c-0.2,0-0.4-0.2-0.4-0.4v0l1.6-9.8l0-0.1c0.1-0.2,0.2-0.3,0.4-0.3l2.2,0V11h1.2V9.2h4.8V11h1.2V9.2l2.2,0h0c0.2,0,0.4,0.1,0.4,0.3l1.6,9.8C19.9,19.6,19.7,19.8,19.5,19.8z"></path></svg>
							<span class="count">99</span>
						</a>
					</span>
				</div>
				<!--//local-control-->
				<!--local-navigations-->
				<div class="local-navigations">
					<ul class="lnb-list">
						<li class="lnb-item current"><a class="lnb-name" href="#">상품</a></li>
						<li class="lnb-item"><a class="lnb-name" href="#">공간</a></li>
						<li class="lnb-item"><a class="lnb-name" href="#">간편재단</a></li>
						<li class="lnb-item"><a class="lnb-name" href="#">브랜드</a></li>
					</ul>
				</div>
				<!--//local-navigations-->
			</div>
			<!--//local-head-->
			<!--local-body-->
			<div class="local-body category-product" id="content">
				<!--content-head-->
				<div class="content-head"><h3 class="content-title"><span class="content-name">상품</span></h3></div>
				<!--//content-head-->
				<!--content-body-->
				<div class="content-body">
					<!-- section -->
					<div class="section category-display">
						<div class="section-head"><div class="section-title"><h4 class="section-name">시공 &middot; 자재</h4></div></div>
						<div class="section-body">
							<!--navi-list-->
							<ul class="navi-list" data-bui-navi="category-list">
								<li class="navi-item handle"> 
									<span class="navi-name">손잡이</span>
									<ul class="navi-list">
										<li class="navi-item"><a class="navi-name" harf="#">전체</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">인기상품</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">방문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">현관손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">가구손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">유리문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">샤시손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">아이방손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">디지털도어락</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">자물쇠</a></li>
									</ul>
								</li>
								<li class="navi-item hinge">
									<span class="navi-name">철물 &middot; 하드웨어</span>
									<ul class="navi-list">
										<li class="navi-item"><a class="navi-name" harf="#">전체</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">인기상품</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">방문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">현관손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">가구손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">유리문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">샤시손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">아이방손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">디지털도어락</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">자물쇠</a></li>
									</ul>
								</li>
								<li class="navi-item tool">
									<span class="navi-name">공구 &middot; 전동공구</span>
									<ul class="navi-list">
										<li class="navi-item"><a class="navi-name" harf="#">전체</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">인기상품</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">방문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">현관손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">가구손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">유리문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">샤시손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">아이방손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">디지털도어락</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">자물쇠</a></li>
									</ul>
								</li>
								<li class="navi-item paint">
									<span class="navi-name">페인트 &middot; 스테인</span>
									<ul class="navi-list">
										<li class="navi-item"><a class="navi-name" harf="#">전체</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">인기상품</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">방문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">현관손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">가구손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">유리문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">샤시손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">아이방손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">디지털도어락</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">자물쇠</a></li>
									</ul>
								</li>
								<li class="navi-item lighting">
									<span class="navi-name">조명</span>
									<ul class="navi-list">
										<li class="navi-item"><a class="navi-name" harf="#">전체</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">인기상품</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">방문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">현관손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">가구손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">유리문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">샤시손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">아이방손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">디지털도어락</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">자물쇠</a></li>
									</ul>
								</li>
								<li class="navi-item socket">
									<span class="navi-name">전기</span>
									<ul class="navi-list">
										<li class="navi-item"><a class="navi-name" harf="#">전체</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">인기상품</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">방문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">현관손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">가구손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">유리문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">샤시손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">아이방손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">디지털도어락</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">자물쇠</a></li>
									</ul>
								</li>
								<li class="navi-item tile">
									<span class="navi-name">타일</span>
									<ul class="navi-list">
										<li class="navi-item"><a class="navi-name" harf="#">전체</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">인기상품</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">방문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">현관손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">가구손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">유리문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">샤시손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">아이방손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">디지털도어락</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">자물쇠</a></li>
									</ul>
								</li>
								<li class="navi-item floor">
									<span class="navi-name">DIY 바닥 &middot; 벽</span>
									<ul class="navi-list">
										<li class="navi-item"><a class="navi-name" harf="#">전체</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">인기상품</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">방문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">현관손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">가구손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">유리문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">샤시손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">아이방손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">디지털도어락</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">자물쇠</a></li>
									</ul>
								</li>
								<li class="navi-item faucet">
									<span class="navi-name">수전 &middot; 위생도기</span>
									<ul class="navi-list">
										<li class="navi-item"><a class="navi-name" harf="#">전체</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">인기상품</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">방문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">현관손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">가구손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">유리문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">샤시손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">아이방손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">디지털도어락</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">자물쇠</a></li>
									</ul>
								</li>
								<li class="navi-item wood">
									<span class="navi-name">목재 &middot; 유리 &middot; 부자재</span>
									<ul class="navi-list">
										<li class="navi-item"><a class="navi-name" harf="#">전체</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">인기상품</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">방문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">현관손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">가구손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">유리문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">샤시손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">아이방손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">디지털도어락</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">자물쇠</a></li>
									</ul>
								</li>
								<li class="navi-item sheet">
									<span class="navi-name">시트지 &middot; 필름 &middot; 장판</span>
									<ul class="navi-list">
										<li class="navi-item"><a class="navi-name" harf="#">전체</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">인기상품</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">방문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">현관손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">가구손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">유리문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">샤시손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">아이방손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">디지털도어락</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">자물쇠</a></li>
									</ul>
								</li>
								<li class="navi-item wallpaper">
									<span class="navi-name">벽지</span>
									<ul class="navi-list">
										<li class="navi-item"><a class="navi-name" harf="#">전체</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">인기상품</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">방문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">현관손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">가구손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">유리문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">샤시손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">아이방손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">디지털도어락</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">자물쇠</a></li>
									</ul>
								</li>
							</ul>
							<!--//navi-list-->
						</div>
					</div>
					<!--// section -->

					<!-- section -->
					<div class="section category-display">
						<div class="section-head"><h4 class="section-name">인테리어 &middot; 리빙</h4></div>
						<div class="section-body">
							<!--navi-list-->
							<ul class="navi-list" data-bui-navi="category-list">
								<li class="navi-item furniture">
									<span class="navi-name">가구</span>
									<ul class="navi-list">
										<li class="navi-item"><a class="navi-name" harf="#">전체</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">인기상품</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">방문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">현관손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">가구손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">유리문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">샤시손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">아이방손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">디지털도어락</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">자물쇠</a></li>
									</ul>
								</li>
								<li class="navi-item outdoor">
									<span class="navi-name">아웃도어</span>
									<ul class="navi-list">
										<li class="navi-item"><a class="navi-name" harf="#">전체</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">인기상품</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">방문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">현관손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">가구손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">유리문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">샤시손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">아이방손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">디지털도어락</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">자물쇠</a></li>
									</ul>
								</li>
								<li class="navi-item living">
									<span class="navi-name">리빙 &middot; 라이프스타일</span>
									<ul class="navi-list">
										<li class="navi-item"><a class="navi-name" harf="#">전체</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">인기상품</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">방문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">현관손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">가구손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">유리문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">샤시손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">아이방손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">디지털도어락</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">자물쇠</a></li>
									</ul>
								</li>
								<li class="navi-item office">
									<span class="navi-name">사무용품 &middot; 문구</span>
									<ul class="navi-list">
										<li class="navi-item"><a class="navi-name" harf="#">전체</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">인기상품</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">방문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">현관손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">가구손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">유리문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">샤시손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">아이방손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">디지털도어락</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">자물쇠</a></li>
									</ul>
								</li>
								<li class="navi-item fabric">
									<span class="navi-name">홈패브릭</span>
									<ul class="navi-list">
										<li class="navi-item"><a class="navi-name" harf="#">전체</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">인기상품</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">방문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">현관손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">가구손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">유리문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">샤시손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">아이방손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">디지털도어락</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">자물쇠</a></li>
									</ul>
								</li>
								<li class="navi-item appliances">
									<span class="navi-name">가전</span>
									<ul class="navi-list">
										<li class="navi-item"><a class="navi-name" harf="#">전체</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">인기상품</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">방문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">현관손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">가구손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">유리문손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">샤시손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">아이방손잡이</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">디지털도어락</a></li>
										<li class="navi-item"><a class="navi-name" harf="#">자물쇠</a></li>
									</ul>
								</li>
							</ul>
							<!--//navi-list-->
						</div>
					</div>
					<!--// section -->
						
				</div>
				<!--//content-body-->
				<!--widget-->
				<div class="widget tab-bars">
					<ul class="navi-list">
						<li class="navi-item home"><a class="navi-name" href="#">홈</a></li>
						<li class="navi-item category"><a class="navi-name" href="#">카테고리</a></li>
						<li class="navi-item mypage"><a class="navi-name" href="#">마이페이지</a></li>
						<li class="navi-item community"><a class="navi-name" href="#">커뮤니티</a></li>
						<li class="navi-item more"><a class="navi-name" href="#">더보기</a></li>
					</ul>
				</div>
				<!--//widget-->
			</div>
			<!--//local-body-->
		</div>
		<!--//page-body-->
		<%-include('../_templates/_footer.blank.ejs') %>
	</div>
</body>
</html>