<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.head.front.ejs', {
	pageStyle: 'page.snippet.css',
	pageJavascript: ''
}) %>
</head>
<body>
	<div id="page">
		<div class="type-tooltip">
			<div class="button-area style-a type-c">
				<a class="btn theme-a style-b type-b normal-01 large" href="#discountMembershipLevels" data-bui-tooltip-button="discountMembershipLevels"><span class="btn-text">회원등급할인</span></a>
			</div>
		</div>
	</div>
	<%-include('../_popup/_01.01.01.01.A01.ejs') %>
	<script stype="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
		});
	</script>
</body>
</html>