<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.head.front.ejs', {
	pageStyle: 'page.snippet.css',
	pageJavascript: ''
}) %>
</head>
<body>
	<div id="page">
		<div class="type-tooltip">
			<div class="button-area style-a type-c">
				<button class="btn theme-a style-b type-b normal-01 large" type="button" data-bui-tooltip-button="cartAlarm"><span class="btn-text">장바구니 알림</span></button>
			</div>
		</div>
	</div>
	<%-include('../_popup/_01.01.01.01.A02.ejs') %>
	<script stype="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
			
		});
	</script>
</body>
</html>