<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.head.front.ejs', {
	pageStyle: 'page.front.css',
	pageJavascript: ''
}) %>
</head>
<body>
	<div id="page">
		<div style="padding: 1.5rem;">
			<div class="button-area style-a">
				<a class="btn theme-a style-b type-b normal-01 large" href="#photoReviewRead" data-bui-toggle-button="photoReviewRead" onclick="photoReviewRead.update();"><span class="btn-text">사진 후기 상세</span></a>
			</div>
		</div>
	</div>
	<%-include('../_popup/_01.01.01.01.L07.ejs') %>
	<script stype="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
			// openPopup.toggle('photoReviewRead');
			// document.querySelector(goodsDetailsFigure.params.el) ? goodsDetailsFigure.update() : null;
		});
	</script>
</body>
</html>