/* data-table */
.data-table {
	&::before {
		content: '';
		display: block;
		position: relative;
		top: 0;
		right: 0;
		left: 0;
		height: 0.0625rem;
		background-color: $color-base-030;
	}
	
	table {
		table-layout: fixed;
		width: 100%;
		border-spacing: 0;
		border-collapse: collapse;
	}

	&.type-a thead, caption {@include hidden}

	tbody {
		th, td {
			@include font-body(x-small);

			padding: calc(0.75rem - 1px) 0.5rem 0.75rem 0.5rem;
			color: $color-base-070;
			vertical-align: top;
			border-bottom: 1px solid $color-base-030;
		}
		th {
			word-break: break-all;
			font-weight: normal;
			text-align: left;
		}
		.para {
			margin: 0;
			
			& + .para {
				margin-top: 1.5em;
			}
		}
	}
}
.data-table.style-a {
	tbody th {
		border-right: 1px solid $color-base-030;
		background-color: $color-base-010;
	}
}
.data-table.style-b {
	&::before {background-color: $color-base-090}

	tbody th {
		color: $color-base-060;
	}
}
