@import 'variables';
@import 'mixin';


$content-identity: #fff;

.page-head {
	.page-title .page-name {
		color: #000;
	}

	&:before {
		background-color: rgba($content-identity, 0.85);
	}

	.page-skip .skip-item .btn svg {
		fill: $color-base-090;
	}
}

.content-head2 {
	padding-bottom: 3rem;

	@include respond-above(small) {padding-bottom: 4rem;}
	@include respond-above(large) {padding-bottom: 6rem;}

	&:after {
		background-color: rgba($content-identity, 1);
	}

	.content-title .content-name,
	.content-summary {
		color: rgba(255,255,255,0.95);
	}
}

.bui-button-area {
	display: flex;
	flex-wrap: wrap;
	
	.btn {
		margin-right: 0.5rem;
	}
}

.color-variation .section-body .subsection .data-list {
	margin: 0;
	padding: 0;
	list-style: none;

	.data-item {
		@include line-height(1.25rem);
		
		display: flex;
		justify-content: space-between;
		padding: 1rem;
		height: 6rem;
		box-sizing: border-box;
		font-family: Consolas, 'Courier New', monospace, sans-serif;
		color: #fff;

		.data-name {
			display: block;
			align-self: flex-end;
		}
		.data-code {
			display: block;
			align-self: flex-start;
		}

		&:nth-child(n+5) {
			color: rgba(0,0,0,0.75);
		}
	}
}

.highlight-js {
	margin: 1rem 0;
	padding: 0;

	.hljs {
		padding: 1rem;
		font-size: .75rem;
		line-height: 1.25rem;
		font-family: "Consolas", "Courier New", "monospace";
	}
}

html.desktop .highlight-js .hljs {
	scrollbar-width: thin;
	scrollbar-color: #cdcdcd #f0f0f0;
	
	&::-webkit-scrollbar {
		width: .25rem;
		height: 0.5rem;
	}

	&::-webkit-scrollbar-track-piece {
		background-color: #f0f0f0;
	}

	&::-webkit-scrollbar-thumb {
		border: .0625rem solid #f0f0f0;
		background-color: #cdcdcd;

		&:hover {background-color: #a6a6a6}
		&:active {background-color: #606060}
	}
}

.form-option-list {
	display: flex;
	flex-wrap: wrap;

	.form-option-item {
		display: flex;
		position: relative;
		margin-right: 1.5rem;
		padding: 0.75rem 0;

		.form {
			display: inline-flex;
		}

		.form-label {
			display: block;
			flex-grow: 1;
			margin-left: 0.25rem;
		}
	}
}

.toggle-button-demo {
	color: #000;

	&.active {
		color: red;
	}
}

.toggle-target-demo {
	display: none;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 1rem 0;
	min-height: 10rem;
	text-align: center;
	border: 0.062rem solid red;

	&.active {
		display: flex;
	}

	.close {
		position: absolute;
		top: 1rem;
		right: 1rem;
	}

	.button-area {
		margin: 1rem 0;
	}

	&#toggleReactTarget {
		position: fixed;
		z-index: 70;
		top: calc(50% - 5rem);
		left: 1rem;
		right: 1rem;
		background-color: $color-base-000;
	}
}

body.active-toggle-react-target {
	overflow: hidden;

	&::after {
		visibility: visible;
		opacity: 0.75;
	}
}

.tab-target-demo {
	display: none;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 1rem 0;
	min-height: 10rem;
	text-align: center;
	border: 0.062rem solid red;

	&.active {
		display: flex;
	}
}

.data-list.svg-icon {
	display: flex;
	flex-wrap: wrap;

	.data-item {
		margin-right: 1.5rem;
		margin-bottom: 1.5rem;
		
		.data-name {
			@include font-body(x-small);

			display: flex;
			flex-direction: column;
			align-items: center;
			width: 4rem;
			min-height: 5.25rem;
			text-align: center;

			&::before {
				content: '';
				width: 3rem;
				min-width: 3rem;
				height: 3rem;
				min-height: 3rem;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 100% auto;
			}
		}

		@each $name, $color in $symbol-list {
			&.#{$name} .data-name {
				&::before {
					background-image: svgIcon($name, #000);
				}

				&:hover {
					color: $color-primary-080;

					&::before {
						background-image: svgIcon($name, $color-primary-080);
					}
				}
			}
		}
	}
}