@import '_variables';

$bui-color-base-000: #000000;
$bui-color-base-010: #1c1814;
$bui-color-base-020: #3f3c3a;
$bui-color-base-030: #605d5b;
$bui-color-base-040: #8e8c8a;
$bui-color-base-050: #b8b6b4;
$bui-color-base-060: #d2d1d0;
$bui-color-base-070: #e8e8e8;
$bui-color-base-080: #f4f4f4;
$bui-color-base-090: #f8f8f8;
$bui-color-base-100: #ffffff;

$breakpoint-mobile: 425px;
$breakpoint-tablet: 768px;
$breakpoint-labtop: 2014px;

$gutter-xsmall: 1rem;
$gutter-small: 1.5rem;
$gutter-medium: 1.5rem;
$gutter-large: 3rem;

$vertical-rhythm-section: 3rem;
$vertical-rhythm-section-xsmall:	$vertical-rhythm-section * 2;
$vertical-rhythm-section-small:		$vertical-rhythm-section * 2;
$vertical-rhythm-section-medium:	$vertical-rhythm-section * 3;
$vertical-rhythm-section-large:		$vertical-rhythm-section * 3;
$vertical-rhythm-section-xlarge:	$vertical-rhythm-section * 3;

$vertical-rhythm-subsection: 2rem;
$vertical-rhythm-subsection-xsmall:	$vertical-rhythm-section * 1;
$vertical-rhythm-subsection-small:	$vertical-rhythm-section * 1;
$vertical-rhythm-subsection-medium:	$vertical-rhythm-section * 1.5;
$vertical-rhythm-subsection-large:	$vertical-rhythm-section * 1.5;
$vertical-rhythm-subsection-xlarge:	$vertical-rhythm-section * 1.5;

// @mixin font-size($font-size, $line-height: 1.5) {
// 	line-height: $line-height;
// 	font-size: $font-size;
// }


@mixin material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	font-size: 1.5em;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	// Support for all WebKit browsers.
	-webkit-font-smoothing: antialiased;
	// Support for Safari and Chrome.
	text-rendering: optimizeLegibility;
	// Support for Firefox.
	-moz-osx-font-smoothing: grayscale;
	// Support for IE.
	font-feature-settings: 'liga';
}

@mixin font-awesome {
	display: inline-block;
	vertical-align: top;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.5;
	font-size: inherit;
	// font-family: FontAwesome;
    font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	text-align: center;
	
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

hr {
	display: none;
}

body {
	margin: 0;
	font-family: 'Noto Sans KR', AppleSDGothicNeo-Regular, 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif;
	// Consolas, 'Courier New', monospace
	-webkit-text-size-adjust: none;
}

#page {
	position: relative;
	overflow: hidden;
	min-height: 100vh;
}

/*
 * page-head
 */
.page-head2 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	z-index: 20;
	top: 0;
	right: 0;
	left: 0;
	padding: 0 $gutter-xsmall;
	height: 4.5rem;
	box-shadow: 0 0 0.25rem 0 rgba(0,0,0,0.25);
	@include respond-above(small) {padding: 0 $gutter-small;}
	@include respond-above(medium) {padding: 0 $gutter-medium;}
	@include respond-above(large) {padding: 0 $gutter-large;}

	&:before {
		content: '';
		display: block;
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: calc(50% - 50vw);
		width: 100vw;
		border-bottom: 0.0625rem solid rgba(0,0,0,0.25);
	}

	&.active:before {
		box-shadow: 0 0.125rem 0.125rem 0 rgba(0,0,0,0.125);
	}

	.page-title {
		@include line-height(1.5rem);

		margin: 0;
		font-weight: 900;

		.page-name {
			display: flex;
			color: #333;
			text-decoration: none;

			&:after {
				content: 'for Project name';
				display: block;
				margin-left: .25rem;
				font-weight: 300;
			}

			abbr {
				text-decoration: none;
			}
		}
	}

	.page-skip .skip-item .btn {
		display: block;

		svg {
			display: block;
			width: 1.5rem;
			height: 1.5rem;
		}
	}

	.page-navi2 {
		// display: none;
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;

		.navi-list {
			display: flex;
			justify-content: stretch;
			margin: 0;
			padding: 0 1rem;
			list-style: none;

			.navi-item {
				flex: 1;

				.navi-name {
					display: flex;
					align-items: center;
					justify-content: center;
					position: relative;
					height: 2.5rem;
					font-size: 1rem;
					line-height: 1.5;
					color: #000;
					text-decoration: none;
					text-align: center;
					@include respond-above(large) {
						height: auto;
					}
				}
				&.current .navi-name:after {
					content: "";
					display: block;
					position: absolute;
					right: 0;
					bottom: 0;
					left: 0;
					height: .125rem;
					background-color: #000;
				}

				+ .navi-item {
					margin-left: 0.5rem;
					@include respond-above(large) {
						margin-left: 1.5rem;
					}
				}
			}
		}
		@include respond-above(large) {
			position: relative;
		}
	}

	.page-navi {
		display: none;
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;

		.navi-list {
			display: flex;
			justify-content: stretch;
			margin: 0;
			padding: 0 1rem;
			list-style: none;

			.navi-item {
				flex: 1;

				.navi-name {
					display: flex;
					align-items: center;
					justify-content: center;
					position: relative;
					height: 2.5rem;
					font-size: 1rem;
					line-height: 1.5;
					color: #000;
					text-decoration: none;
					text-align: center;
					@include respond-above(large) {
						height: auto;
					}
				}
				&.current .navi-name {
					color: $bui-color-base-090;
				}
				+ .navi-item {
					margin-left: 0.5rem;
					@include respond-above(large) {
						margin-left: 1.5rem;
					}
				}
			}
		}
		@include respond-above(large) {
			position: relative;
		}
	}
}


.page-head {
	display: flex;
	align-items: center;
	position: relative;
	// max-width: 1416px;
	height: 4rem;

	padding: 0 $gutter-xsmall;

	@include respond-above(small) {
		padding: 0 $gutter-small;
	}
	@include respond-above(medium) {
		padding: 0 $gutter-medium;
	}

	@include respond-above(large) {
		padding: 0 $gutter-large;
	}

	.page-skip {
		display: none;
	}

	.page-title {
		@include line-height(3rem);

		margin: 0;
		font-family: Consolas, 'Courier New', monospace, sans-serif;
		font-weight: 900;

		.page-name {
			display: flex;
			color: #333;
			text-decoration: none;

			// &:before {
			// 	display: block;
			// 	margin-right: 0.125em;
			// 	content: 'dashboard';
			// 	@include material-icons;
			// }

			// &:after {
			// 	content: 'for Project name';
			// 	display: block;
			// 	margin-left: 0.25rem;
			// 	font-weight: 300;
			// }
			// &::before {
			// 	content: '</>';
			// }
			abbr {
				display: block;
				text-decoration: none;
			}
		}
	}

	.page-navi {
		margin: 0 2rem;

		.navi-list {
			display: flex;
			margin: 0;
			padding: 0;
			list-style: none;

			.navi-item {
				.navi-name {
					display: flex;
					align-items: center;
					justify-content: center;
					position: relative;
					height: 2.5rem;
					font-size: 1rem;
					line-height: 1.5;
					color: #000;
					text-decoration: none;
					text-align: center;
					@include respond-above(large) {
						height: auto;
					}
				}

				+ .navi-item {
					margin-left: 1em;
					@include respond-above(large) {
						margin-left: 1rem;
					}
				}
			}
		}
		@include respond-above(large) {
			position: relative;
		}
	}
}








.page-side {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000;
	visibility: hidden;
	opacity: 0;
	z-index: -1;
	transition: visibility .4s ease, opacity .4s ease, z-index .4s ease;

	.aside-head {
		@include hidden;
	}

	.aside-body {
		flex-grow: 1;
		max-height: 100vh;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}

	.toc {
		padding: 3rem;

		.toc-title {
			@include hidden;
		}

		> .navi-list {
			margin: 0;
			padding: 0;

			> .navi-item {
				list-style: none;
				line-height: 1.5;
				font-size: 1.5rem;
				font-weight: 300;
				text-align: center;

				@include respond-above(small) {
					font-size: 2rem;
				}

				> .navi-name {
					display: block;
					color: $color-base-000;
					text-decoration: none;
					text-transform: uppercase;

					&:hover:after {
						right: 0;
						left: 0;
					}
				}

				&.current .navi-name {
					opacity: 1;

					&:after {
						right: 0;
						left: 0;
					}
				}

				+ .navi-item {
					margin-top: 2rem;

					@include respond-above(small) {
						margin-top: 3rem;
					}
				}

				.navi-list {
					margin: 1rem 0 0 0;

					@include respond-above(small) {
						margin: 1.5rem 0 0 0;
					}

					padding: 0;

					.navi-item {
						@include line-height(2rem);

						list-style: none;

						.navi-name {
							display: inline-block;
							opacity: .5;
							position: relative;
							vertical-align: top;
							color: $color-base-000;
							text-decoration: none;
							// text-transform: uppercase;

							&:after {
								content: '';
								display: block;
								position: absolute;
								right: 50%;
								bottom: 0;
								left: 50%;
								height: .0625em;
								background-color: #fff;
								transition: right 0.25s ease, left 0.25s ease;
							}

							&:hover:after {
								right: 0;
								left: 0;
							}
						}

						&.current .navi-name {
							opacity: 1;

							&:after {
								right: 0;
								left: 0;
							}
						}

						+ .navi-item {
							margin-top: 0.25rem;
		
							@include respond-above(small) {
								margin-top: 0.5rem;
							}
						}
					}
				}
			}
		}
	}

	.close {
		display: block;
		position: absolute;
		top: 1.25rem;
		right: 1.25rem;
		background-color: #000;

		svg {
			display: block;
			fill: rgba(255, 255, 255, 1);
			width: 1.5rem;
			height: 1.5rem;
		}
	}

	@include toggle-hide(0.4s);

	&.active {
		@include toggle-show;
		z-index: 999;
	}
}

body {
	&:after {
		content: '';
		display: block;
		visibility: hidden;
		opacity: 0;
		position: fixed;
		z-index: 60;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #000;
		transition: opacity 0.25s ease, visibility 0.25s ease;
	}

	&.active-aside {
	height: 100%;
	overflow: hidden;

		&:after {
			visibility: visible;
			opacity: 0.5;
		}
	}
}

/*
 * page-body
 */
.page-body {
	max-width: 1416px;
	margin: 0 auto;	
	padding: 0 $gutter-xsmall;

	@include respond-above(small) {
		padding: 0 $gutter-small;
	}
	@include respond-above(medium) {
		padding: 0 $gutter-medium;
	}

	@include respond-above(large) {
		padding: 0 $gutter-large;
	}
}
.local-head {
	@include hidden;
}
.local-body {
	position: relative;
}
.content-head {
	position: relative;
	padding-top: 2rem;
	margin-bottom: 3rem;

	&:after {
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: calc(50% - 50vw);
		width: 100vw;
	}
	&:first-child {padding-top:0 !important}
	
	@include respond-above(small) {
		padding-top: 3rem;
		margin-bottom: 4rem;
	}
	@include respond-above(medium) {
		padding-top: 5rem;
		margin-bottom: 6rem;
	}
}
.content-title {
	margin: 0;

	@include respond-above(small) {
		@include line-height(5.5rem);
	}
	@include respond-above(medium) {
		@include line-height(6rem);
	}
}

.content-name {
	@include line-height(5rem);

	display: inline-block;
	margin: 0;
	font-weight: 300;
	text-transform: capitalize;
	vertical-align: top;
}
.content-summary {
	margin: 1.5rem 0;
	line-height: 1.5;
}
.content-body .section {
	margin-bottom: $vertical-rhythm-section-xsmall;

	@include respond-above(small) {
		margin-bottom: $vertical-rhythm-section-small;
	}
	@include respond-above(medium) {
		margin-bottom: $vertical-rhythm-section-medium;
	}

	+ .section {
		margin-top: $vertical-rhythm-section-xsmall;

		@include respond-above(small) {
			margin-top: $vertical-rhythm-section-small;
		}
		@include respond-above(medium) {
			margin-top: $vertical-rhythm-section-medium;
		}
	}
		
		
	.section-head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: $vertical-rhythm-section / 2;
	
		@include respond-above(small) {
			margin-bottom: $vertical-rhythm-section / 2;
		}
		@include respond-above(medium) {
			margin-bottom: $vertical-rhythm-section / 2;
		}
		.section-title .section-name {
			@include line-height($vertical-rhythm-section);

			margin: 0;
			font-weight: 400;
			text-transform: capitalize;
		}
	}

	.section-body {
		.subsection {
			margin-bottom: $vertical-rhythm-subsection-xsmall;
	
			@include respond-above(small) {
				margin-bottom: $vertical-rhythm-subsection-small;
			}
			@include respond-above(medium) {
				margin-bottom: $vertical-rhythm-subsection-medium;
			}
			@include respond-above(large) {
				margin-bottom: $vertical-rhythm-subsection-large;
			}
			
			.subsection-head {
				margin-bottom: $vertical-rhythm-subsection / 2;

				.subsection-title .subsection-name {
					@include line-height($vertical-rhythm-subsection);

					margin: 0;
					font-weight: 400;
					text-transform: capitalize;
				}
			}

			.subsection-item {
				font-size: 1rem;
				font-weight: 400;
				color: #008080;
				margin: 2rem 0 1rem 0;
			}

			+ .subsection {
				margin-top: $vertical-rhythm-subsection-xsmall;
	
				@include respond-above(small) {
					margin-top: $vertical-rhythm-subsection-small;
				}
				@include respond-above(medium) {
					margin-top: $vertical-rhythm-subsection-medium;
				}
				@include respond-above(large) {
					margin-top: $vertical-rhythm-subsection-large;
				}
			}
		}
	}
}

.justify-content {
	@include respond-above(small) {
		display: flex;
		// align-items: center;
		justify-content: stretch;
	}

	.subsection {
		flex: 1;
		& + .subsection {
			@include respond-above(small) {
				margin-top: 0;
				margin-left: $gutter-medium;
			}
			@include respond-above(large) {
				margin-left: $gutter-large;
			}
		}
	}
}
.content-list {
	display: flex;

	.content-item {
		flex: 1;
		width: 100%;

		+ .content-item {
			margin-left: $gutter-xsmall;

			@include respond-above(small) {
				margin-left: $gutter-small;
			}
			@include respond-above(medium) {
				margin-left: $gutter-medium;
			}
		}
		.btn {
			display: block;
			width: 100%;

			+ .btn {
				margin-top: 0.5rem;
			}
		}
	}
}

.content-control {
	position: fixed;
	right: 0;
	bottom: 2rem;

	.control-item {
		.btn {
			display: block;
			float: right;
			width: 1.5rem;
			height: 1.5rem;
			padding: .75rem;
			box-shadow: inset 0 0 0 .0625rem red;
			background-color: #fff;

			&.home {
				background-color: red;
			}

			svg {
				display: block;
				width: 1.5rem;
				height: 1.5rem;
			}
		}
		&:after {
			@include clear;
		}
	}
}

/*
 * page-foot
 */
.page-foot {
	position: relative;
	padding-top: 2rem;
	padding-right: 1.5rem;
	padding-bottom: 2rem;
	padding-left: 1.5rem;

	&:before {
		content: '';
		display: block;
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: calc(50% - 50vw);
		width: 100vw;
		box-shadow: 0 -0.0625rem 0 0 rgba(0,0,0,0.25);
	}

	.informations, .contact-us {
		display: none;
	}

	.copyright {
		margin: 0;
		line-height: 1.5;
		font-size: 1rem;
		text-align: center;
	}
}

.page-control {
	position: fixed;
	z-index: 50;
	top: 0;
	right: 0;

	@include respond-above(large) {
		// right: calc(50% - (1416px / 2));
		right: 0;
	}

	.control-list {
		margin: 0;
		padding: 0;
		list-style: none;

		.control-item {
			position: relative;

			.control-name {
				display: block;
				padding: 1.25rem;
				background-color: #000;

				svg {
					display: block;
					fill: rgba(255, 255, 255, 1);
					width: 1.5rem;
					height: 1.5rem;
				}
	
				&.active svg {
					fill: rgba(255, 255, 255, 1);
				}
			}

			ul {
				all: unset;
				position: absolute;
				top: 4rem;
				left: 0;
			}
		}
	}
}

.page-baseline {
	visibility: hidden;
	opacity: 0;
	opacity: .125;
	position: absolute;
	z-index: 40;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij48cGF0aCBmaWxsPSIjZmYwMDAwIiBkPSJNMjQsNEgwVjNoMjRWNHogTTI0LDdIMHYxaDI0Vjd6IE0yNCwxMUgwdjFoMjRWMTF6IE0yNCwxNUgwdjFoMjRWMTV6IE0yNCwxOUgwdjFoMjRWMTl6IE0yNCwyM0gwdjFoMjRWMjN6Ii8+PC9zdmc+);
	transition: opacity .25s ease, visibility .25s ease;

	&.active {
		visibility: visible;
		opacity: 0.125;
	}
}

.page-grid {
	justify-content: center;
	align-content: stretch;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	z-index: 40;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	// background: url(../images/bg_grid.png) repeat 0 0;
	// transition: opacity 0.25s ease, visibility 0.25s ease;
	box-sizing: border-box;
	padding: 0 $gutter-xsmall;

	@include respond-above(small) {
		padding: 0 $gutter-small;
	}
	@include respond-above(medium) {
		padding: 0 $gutter-medium;
	}
	@include respond-above(large) {
		padding: 0 $gutter-large;
	}

	&.active {
		visibility: visible;
		opacity: 0.5;
	}

	.grid-list {
		display: flex;
		justify-content: space-between;
		align-content: stretch;
		max-width: 1416px;
		flex-grow: 1;

		.grid-item {
			display: none;
			width: 8rem;
			background-color: rgba(255,0,0,0.125);

			&:nth-child(n + 5) {
				display: block;
			}
		}
	}
}

/* bui-table */
.data-table.theme-bui.type-a table {
	margin-top: -.0625rem;
	table-layout: fixed;
	width: 100%;
	border-spacing: 0;
	border: 0 none transparent;
	border-collapse: collapse;
	border-top: .0625rem solid $bui-color-base-060;
	// box-shadow: 0 -0.0625rem 0 0 $color-base-060;
	// background-color: $color-base-060;
	// outline-style: solid;
	// outline-width: 0.0625rem;
	// outline-color: $color-base-060;
	// outline-offset: -0.0625rem;

	caption {
		overflow: hidden;
		margin: -.0625rem;
		padding: 0;
		width: .0625rem;
		height: .0625rem;
		line-height: .0625rem;
		font-size: .0625rem;
		border: 0;
		clip: rect(0 0 0 0);
		clip: rect(0,0,0,0);
	}
	th {
		padding: 0.75rem 0.75rem calc(.75rem - .0625rem) 0.75rem;
		// padding: 0.5rem;
		height: 1.5rem;
		font-size: 1rem;
		line-height: 1.5;
		color: #303233;
		word-break: break-all;
		font-weight: 400;
		// border-top: 0.0625rem solid $bui-color-base-060;
		border-right: 0.0625rem solid $bui-color-base-060;
		border-bottom: 0.0625rem solid $bui-color-base-060;
		border-left: 0.0625rem solid $bui-color-base-060;
		background-color: $bui-color-base-080;
		// box-shadow: inset -0.0625rem -0.0625rem 0 0 $bui-color-base-060;
	}
	td {
		padding: 0.75rem 0.75rem calc(.75rem - .0625rem) 0.75rem;
		// padding: 0.5rem;
		height: 1.5rem;
		font-size: 1rem;
		line-height: 1.5;
		word-break: break-all;
		// border-top: 0.0625rem solid $bui-color-base-060;
		border-right: 0.0625rem solid $bui-color-base-060;
		border-bottom: 0.0625rem solid $bui-color-base-060;
		border-left: 0.0625rem solid $bui-color-base-060;
		background-color: $bui-color-base-100;
		// box-shadow: inset -0.0625rem -0.0625rem 0 0 $bui-color-base-060;

		.para {
			margin: 0;

			+ .para {
				margin-top: 1.5em;
			}
		}
	}
}

.bui-data-display.style-a.type-a {
	margin: 0;
	padding: 0;
	border: .0625rem solid $bui-color-base-060;
	border-radius: .25rem;
	overflow: hidden;

	.data-item {
		list-style: none;
		
		.data-area {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 1rem;
			height: 3rem;
			background-color: $bui-color-base-080;
			color: $bui-color-base-010;

			&:not(:hover) {
				text-decoration: none;
			}

			&:hover {
				background-color: $bui-color-base-070;
			}
		}

		+ .data-item {
			border-top: 0.0625rem solid $bui-color-base-060;
		}

		&[title=미정] {
			.data-head,	.data-body {
				opacity: 0.25;
			}
		}

		&[title=진행] {
			.data-area {
				color: #1ec68c;
			}
		}

		&[title=완료] {

		}
	}
}