@import 'variables';
@import 'mixin';
//@import 'layout.front';

h3.docs-title {
	@include font-body(large);

	margin: 1.5rem 0 1rem;
	color: $color-base-090;
}

h4.docs-title {
	@include font-body(small);

	margin: 2rem 0 1rem;
	color: $color-base-090;
}

h5.docs-title {
	@include font-body(x-small);

	margin: 1rem 0 0.5rem;
	color: $color-base-090;
}

.docs-para {
	margin: 0.5rem 0;

	&.style-a {
		@include font-body(x-small);

		color: $color-base-070;
	}

	&.style-b {
		@include font-body(x-small);

		color: $color-base-090;
	}

	&.type-b {text-align: right;}
	&.type-c {text-align: center;}
}

.docs-table {
	border-top: 1px solid $color-base-090;
	box-sizing: border-box;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {display: none;}

	table {
		table-layout: fixed;
		width: 100%;
		border-spacing: 0;
		border-collapse: collapse;

		caption {
			@include hidden;
		}
	}

	&.style-a {
		table {
			th, td {
				@include font-body(x-small);
				
				padding: calc(.75rem - 1px) .5rem .75rem .5rem;

			}
			th {
				word-break: break-all;
				font-weight: normal;
				border-bottom: 1px solid $color-base-030;
				color: $color-base-090;
			}
			thead {
				th {
					vertical-align: top;
					background-color: $color-base-010;

					&:first-child {
						border-right: 1px solid $color-base-030;
					}
				}
			}

			tbody {
				th {
					color: $color-base-060;
					border-right: 1px solid $color-base-030;
				}

				td {
					color: $color-base-070;
					vertical-align: middle;
				}
			}
		}
	}

	&.style-b {
		thead {
			@include hidden;
		}

		tbody {
			th {
				@include font-body(x-small);

				padding: calc(.75rem - 1px) 0.5rem .75rem 0.5rem;
				word-break: break-all;
				font-weight: 400;
				text-align: left;
				vertical-align: middle;
				color: $color-base-090;
				background-color: $color-base-010;
				border-bottom: 1px solid $color-base-030;
				border-right: 1px solid $color-base-030;
			}

			td {
				@include font-body(x-small);
				
				padding: calc(.75rem - 1px) 0.5rem 0.75rem 0.5rem;
				color: $color-base-070;
				vertical-align: middle;
				border-bottom: 1px solid $color-base-030;
			}
		}
	}

	&.type-b table tbody td {
		text-align: right;
	}

	&.type-c table {
		thead th:not(:last-child) {
			border-right: 1px solid $color-base-030;
		}

		tbody td {
			text-align: center;

			&:not(:last-child) {
				border-right: 1px solid $color-base-030;
			}
		}
	}
}