@import 'variables';
@import 'mixin';
//@import 'layout.front';

.page-head {
	@include hidden;
}

.local-body {
	padding: 0 0.5rem;

	@include respond-above(x-small) {padding: 0 1rem;}
	@include respond-above(small) {padding: 0 1.25rem;}

	.content-head {
		@include hidden;
	}

	.content-body {
		padding: 0 !important;
		margin: 0 0 2rem 0;

		// no-data
		.info-board.no-data {
			padding: 4rem 0;
		}
	}

	//layout.front.scss 이동 확인
	.content-panel .btn.share {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 2.5rem;
		min-width: 2.5rem;
		text-align: center;

		svg {
			margin: 0 auto;
			fill: $color-base-070;
		}
	}
}

.content-navigations {
	&.active .more-data {
		display: none;

		.btn.symbol-rtl-chevron-under::after {
			transform: rotate(180deg);
		}
	}

	.navi-list {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;

		.navi-item {
			@include font-body(small);

			display: flex;
			align-items: stretch;
			list-style: none;
			width: calc(50% - .125rem);

			&:nth-child(even) {margin-left: 0.25rem}
			&:nth-child(n+3) {margin-top: 0.25rem}

			&.current .navi-name {
				font-weight: 700;
				color: $color-primary-080;
				background-color: $color-primary-010;
			}

			.navi-name {
				display: flex;
				align-items: center;
				flex-grow: 1;
				padding: 0.5rem 1rem;
				color: $color-base-070;
				text-decoration: none;
				background-color: $color-base-010;
			}
		}
	}

	.more-data {
		display: flex;
		justify-content: center;
		margin-top: 1rem;
	}
}

// 기획전 상세 01.01.T04.01
.exhibition-read .exhibition-text {
	position: relative;
	left: calc(50% - 50vw);
	width: 100vw;

	.image {
		display: block;
	}
}

// 테마 상세 01.01.T05.01
.theme-read .section.default {
	padding-top: 2rem;

	+ .section.default {
		margin-top: 1.5rem;
		box-shadow: 0 -.0625rem 0 0 $color-base-020;
	}

	.section-head {
		margin-bottom: 1rem;

		.section-title {
			display: flex;
			align-items: center;

			.section-name {
				@include font-head(small);

				margin: 0;
				color: $color-base-090;
			}

			.section-data {
				@include font-body(small);

				color: $color-base-060;
				margin-left: 0.25rem;
			}
		}
	}
}