@import 'variables';
@import 'mixin';
//@import 'layout.front';

.page-head {
	.page-title {@include hidden;}
	.page-control {display: none;}
}

.local-head {box-shadow: 0 0.0625rem 0 0 $color-base-020;}

.local-body .content-head {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 7rem;
	left: 7rem;
	padding: 0;
	height: 3rem;
	background-color: #ffffff;

	.content-title {
		margin: 0;

		.content-name {
			@include font-body(medium);

			display: block;
			margin: 0;
			color: $color-base-090;
			white-space: nowrap;
			overflow: hidden;
			font-weight: normal;
			text-overflow: ellipsis;
		}
	}
}

/*
 * page global
 */
.section.shopping-cart {
	.section-head {@include hidden;}
}

.section-body {
	> *, .subsection-body > * {margin: 1rem 0;}
}

.section.default {
	position: relative;

	* + & {
		border-top: 0.5rem solid $color-base-020;

		&::before {
			content: '';
			display: block;
			position: absolute;
			left: calc(50% - 50vw);
			top: -0.5rem;
			width: 100vw;
			height: 0.5rem;
			background-color: $color-base-020;
		}
	}

	.section-head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		margin: 1rem 0;

		.section-title {
			display: flex;

			.section-name {
				@include font-body(medium);

				flex-grow: 1;
				order: 2;
				margin: 0;
				padding: 0;
				font-weight: 700;
				color: $color-base-090;
				white-space: nowrap;
			}

			.form {
				order: 1;
				margin-right: 0.25rem;

				.form-label {
					@include hidden;
				}
			}
		}

		.section-intro {
			display: flex;
			align-items: center;
			margin-left: 1rem;

			.summary {
				@include ellipsis(1);
				@include font-body(small);

				margin: 0;
				color: $color-base-060;
				visibility: visible;
				opacity: 1;
				transform: translateX(0);
				transition: visibility 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
			}

			.order-number {
				@include ellipsis(1);
				@include font-body(x-small);

				margin: 0;
				color: $color-base-060;
			}

			.btn.fold {
				display: block;
				margin-left: 0.5rem;
				width: 1.5rem;
				min-width: 1.5rem;
				height: 1.5rem;

				svg {
					display: block;
					fill: $color-base-050;
				}
			}
		}
	}

	.section-body {
		> * {
			margin: 1rem 0;
		}
		.subsection-name {
			@include font-body(small);

			margin: 0;
			font-weight: 400;
			color: $color-base-090;
		}
	}

	&[data-bui-fold=section] {
		&.active {
			.summary {
				visibility: hidden;
				opacity: 0;
				transform: translateX(-1em);
			}
		}

		&:not(.active) .section-body {
			display: none;
		}
	}
}

.info-board.style-a.type-b,
.info-board.style-b.type-b {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

/*
 * 장바구니
 */
.cart .info-board.style-g::before {
	content: '';
	display: block;
	position: relative;
	left: calc(50% - 50vw);
	width: 100vw;
	height: 0.5rem;
	background-color: $color-base-020;
	margin-bottom: 2rem;
}
.shopping-cart {
	.section-head {@include hidden;}
}

// 웰컴 포인트
.display-board.get-point {
	position: relative;
    z-index: 1;
}


// 카트 목록
.cart-list .cart-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	min-height: 3rem;
	border-bottom: 0.5rem solid $color-base-020;

	&::before {
		content: '';
		display: block;
		position: absolute;
		left: calc(50% - 50vw);
		bottom: -0.5rem;
		width: 100vw;
		height: 0.5rem;
		background-color: $color-base-020;
	}

	.cart-title {
		display: flex;
		align-items: center;

		.cart-name {
			@include font-body(small);

			font-weight: 700;
			color: $color-base-090;
		}

		.cart-data {
			@include font-body(small);

			margin-left: 0.25rem;
			color: $color-base-050;
		}
	}

	.cart-aside {
		display: flex;
		align-items: center;
	}

	.form {
		margin-right: 0.25rem;
	}
}

 // 총 결제 금액
.section.total-payment {
	padding-bottom: 1rem;

	.section-head {
		padding-bottom: 1rem;
		box-shadow: inset 0 -0.0625rem 0 #1c1814;

		.price-data {
			justify-self: flex-end;
			margin: 0;

			.value {
				@include font-head(small);

				font-weight: 700;
			}
			.unit {
				@include font-body(small);

				margin-left: 0.125rem;
				font-weight: 700;
			}
		}
	}
	.subsection {
		padding-top: 1rem;
		box-shadow: 0 -0.0625rem 0 0 $color-base-020;
	}

	.data-side .data-body {
		color: $color-base-060;
	}

	&::after {
		content: '';
		position: absolute;
		z-index: 1;
		top: auto;
		bottom: -0.5rem;
		left: calc(50% - 50vw);
		width: 100vw;
		height: 1.0625rem;
		background-color: $color-base-020;
		background-image: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%), linear-gradient(-135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%), linear-gradient(to bottom, rgba(0,0,0,0.075) 0%, rgba(0,0,0,0) 100%);
		background-position: top center, top center, top center;
		background-size: 0.5625rem 0.5625rem, 0.5625rem 0.5625rem, 100% 75%;
		background-repeat: repeat-x;
	}
}

// 배송지 정보
.section.shipping-address {
	.subsection-head {@include hidden;}
	.same-orderer .form-body {
		display: flex;
		justify-content: flex-end;
	}
}