@import 'variables';
@import 'mixin';
//@import 'layout.front';
@import 'goods';
@import 'posts'; 

.page-head {
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 3rem;
	padding: .5rem .5rem 0;

	@include respond-above(x-small) {padding: .5rem 1rem 0;}
	@include respond-above(small) {padding: .5rem 1.25rem 0}

	.page-title {
		position: relative;
		z-index: 1;
		margin: 0;

		.page-name {
			display: block;

			svg {
				display: block;
				height: 1.5rem;
				fill: $color-base-090;
			}
		}
	}
}

.page-body .local-head .local-control {
	justify-content: flex-end;
}

.local-title,
.content-head {
	@include hidden;
}

.local-body {
	padding: 0 0.5rem;

	@include respond-above(x-small) {padding: 0 1rem;}
	@include respond-above(small) {padding: 0 1.25rem;}

	.content-title {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		right: 7rem;
		left: 7rem;
		margin: 0;
		padding: 0;
		height: 3rem;
		background-color: $color-base-000;

		.content-name {
			@include font-body(medium);

			display: block;
			margin: 0;
			color: $color-base-090;
			white-space: nowrap;
			overflow: hidden;
			font-weight: normal;
			text-overflow: ellipsis;
		}
	}

	.content-body {
		padding: 0 !important;
		margin: 0 0 2rem 0;

		// no-data
		.info-board.no-data {
			margin: 4rem 0;
		}
	}

	//layout.front.scss 이동 확인
	.content-panel .button-area .btn.share {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 2.5rem;
		min-width: 2.5rem;
		text-align: center;

		svg {
			margin: 0 auto;
			fill: $color-base-070;
		}
	}
}

.local-navigations {
	position: relative;
	display: flex;
	left: calc(50% - 50vw);
	width: 100vw;
	box-shadow: inset 0 -.0625rem 0 0 $color-base-030;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {display: none;}

	.lnb-list {
		flex-grow: 1;
		display: flex;
		margin: 0;
		padding: 0 0.5rem;

		@include respond-above(x-small) {padding: 0 1rem;}
		@include respond-above(small) {padding: 0 1.25rem;}

		.lnb-item {
			list-style: none;

			+ .lnb-item {
				margin-left: 0.5rem;

				@include respond-above(x-small) {margin-left: 1rem;}
				@include respond-above(small) {margin-left: 1.25rem;}
			}

			.lnb-name {
				@include font-body(medium);

				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0 .25rem;
				height: 3rem;
				color: $color-base-060;
				white-space: nowrap;
				text-decoration: none;
			}

			&.current .lnb-name {
				position: relative;
				font-weight: 700;
				color: $color-primary-080;

				&::after {
					content: '';
					display: block;
					position: absolute;
					height: .1875rem;
					right: 0;
					bottom: 0;
					left: 0;
					background-color: $color-primary-070;
				}
			}
		}
	}
}

.display-board.leader-board.attr-stretch {
	position: relative;

	.board-area {
		padding: 0 1.25rem;
		justify-content: center;

		.board-figure .image {width: 20rem;}
	}

	.btn.board-close {
		position: absolute;
		top: calc(50% - 1.5rem);
		padding-left: .75rem;
		width: 3.5rem;
		height: 3rem;

		svg {
			width: 1rem;
			height: 1rem;
			fill: $color-base-070;
		}
	}

	&:not(.active) {display: none;}
}

// 홈 01.01.T01, 01.01.T02, 01.01.T03, 01.01.T04, 01.01.T05, 01.01.T06
.local-body.home-intro .content-title {@include hidden;}

// 홈 01.01.T01
#home {
	.section.default {
		margin-top: 2.5rem;
	}

	.section-head {
		margin-bottom: 1rem;

		.section-name {
			@include font-head(small);

			color: $color-base-090;
			margin: 0;
		}
	}

	.content-body > .display-board.swiper-container {
		background-color: $color-base-030;
		left: calc(50% - 50vw);
		width: 100vw;

		.swiper-util {
			position: absolute;
			z-index: 10;
			right: 0;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 .5rem;
			height: 2rem;
			border-top-left-radius: .25rem;
			// overflow: hidden;
			background-color: rgba(0,0,0,0.2);

			.swiper-control button {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0;
				padding: 0;
				height: 1.25rem;
				width: 1.25rem;
				border: 0 none;
				background-color: transparent;
				cursor: pointer;

				&:not(.active) {
					display: none;
				}

				svg {
					display: block;
					width: 1.25rem;
					height: 1.25rem;
					fill: $color-base-000;
				}
			}

			.swiper-number-page {
				display: flex;
				align-items: center;
				margin-left: 0.5rem;

				.swiper-pagination {
					line-height: 1.25rem;
					font-size: .75rem;
					font-family: 'Lato', sans-serif;
					color: rgba(255,255,255,0.6);

					.swiper-pagination-current {
						color: rgba(255,255,255,1);
					}
				}
				.goto-total {
					display: block;
					margin-left: 0.5rem;

					svg {
						display: block;
						width: 1.25rem;
						height: 1.25rem;
						fill: $color-base-000;
					}
				}
			}
		}
	}

	.trend-keyword {
		margin-top: 2rem;

		.section-head {
			@include hidden;
		}

		.section-body {
			position: relative;
			left: calc(50% - 50vw);
			width: 100vw;
			flex-grow: 1;
			display: flex;
			box-sizing: border-box;
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
			-ms-overflow-style: none;
			scrollbar-width: none;

			&::-webkit-scrollbar {display: none;}

			.keyword-area.style-a {
				flex-shrink: 0;
				flex-wrap: nowrap;
				padding: 0 .5rem;
				box-sizing: border-box;

				@include respond-above(x-small) {padding: 0 1rem;}
				@include respond-above(small) {padding: 0 1.25rem;}

				.keyword.theme-a {
					flex-shrink: 0;

					&:last-child {margin-right: 0;}

					.keyword-text {
						white-space: nowrap;
						align-items: flex-start;
					}
				}
			}
		}
	}

	.trend-category {
		position: relative;
		margin-top: 2rem;

		.section-body {
			position: relative;
			left: calc(50% - 50vw);
			width: 100vw;
			box-sizing: border-box;
			padding: 0 0.5rem;

			@include respond-above(x-small) {padding: 0 1rem;}
			@include respond-above(small) {padding: 0 1.25rem;}
			
			@include shortcut-display('navi', 'large');

			&:not(.swiper-container-initialized) .navi-list .navi-item {
				margin-top: 1rem;
				margin-right: .7rem;

				&:nth-child(4n) {
					margin-right: 0;
				}
			}
		}
	}

	.section.time-deal {
		margin-top: 2rem;

		.section-head {
			position: relative;
			left: calc(50% - 50vw);
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100vw;
			height: 5rem;
			padding: 0 0.5rem;
			background-image: url(../images/main/img_timedeal.png);
			background-size: auto 100%;
			background-repeat: no-repeat;
			background-color: #ffe73e;
			box-sizing: border-box;

			@include respond-above(x-small) {padding: 0 1rem;}
			@include respond-above(small) {padding: 0 1.25rem;}

			.section-title {
				flex-shrink: 0;

				.section-name {
					margin: 0;
					font-family: 'Lato', sans-serif;
					font-weight: 700;

					&::after {
						content: '';
						display: inline-block;
						vertical-align: top;
						width: 1.5rem;
						min-width: 1.5rem;
						height: 1.5rem;
						background-image: svgIcon(chevron-right, $color-base-090);
						margin-left: 0.25rem;
					}
				}
			}

			.time-display {
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-end;
				align-items: center;

				& + .goods-display {
					margin-top: 1.5rem;
				}

				.head {
					@include font-body(x-small);

					display: flex;
					align-items: center;
					height: 1.4rem;
				}

				.body {
					display: flex;
					align-items: center;
					margin: 0 0 0 0.25rem;

					.time {
						@include font-body(medium);

						display: flex;
						justify-content: center;
						align-items: center;
						width: 2rem;
						height: 2rem;
						font-weight: 700;
						color: $color-base-000;
						font-family: Loto, sans-serif;
						border-radius: 0.125rem;
						background-color: $color-base-090;

						+.time {
							position: relative;
							margin-left: 0.75rem;

							&::before {
								content: ':';
								display: flex;
								justify-content: center;
								align-items: center;
								position: absolute;
								top: 0;
								bottom: 0;
								left: -0.75rem;
								width: 0.75rem;
								color: $color-base-090;
								font-weight: 400;
							}
						}
					}
				}
			}
		}
	}

	.section.today-best {
		margin-top: 2.5rem;

		.section-body + .section-body {margin-top: 0.5rem;}

		.title {@include hidden;}

		.tab-display.style-b {
			position: relative;
			left: calc(50% - 50vw);
			width: 100vw;

			.tab-list {
				padding: 0 0.5rem;

				@include respond-above(x-small) {padding: 0 1rem;}
				@include respond-above(small) {padding: 0 1.25rem;}
			}
		}

		.subsection {
			margin-top: 1.5rem;

			.subsction-head {@include hidden;}
		}
	}

	// 바로가기
	.display-board.get-coupon {margin: 2rem 0;}

	.section.recommend-brand {
		margin-top: 2.5rem;

		.section-body {
			display: flex;
			position: relative;
			left: calc(50% - 50vw);
			width: 100vw;
			box-sizing: border-box;
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
			-ms-overflow-style: none;
			scrollbar-width: none;
			&::-webkit-scrollbar {display: none;}

			@include shortcut-display('data', 'large');

			.data-list {
				padding: 0 0.5rem;

				@include respond-above(x-small) {padding: 0 1rem;}
				@include respond-above(small) {padding: 0 1.25rem;}

				.data-item {
					@include display-column(4);

					max-width: 5rem;

					.data-name {
						@include font-body(x-small);

						color: $color-base-070;

						&::before {box-shadow: inset 0 0 0 0.0625rem $color-base-030;}
					}
				}
			}
		}
	}

	.section.try-it {margin-top: 2.5rem;}
}

//베스트 01.01.T02
#best {
	.info-board {
		margin-bottom: 0;

		&::after {
			content: '';
			display: block;
			position: relative;
			left: calc(50% - 50vw);
			width: 100vw;
			height: 0.5rem;
			margin-top: 1.5rem;
			background-color: $color-base-010;
		}
	}

	.tab-display.style-b {
		position: relative;
		left: calc(50% - 50vw);
		width: 100vw;
	}

	.section.default .section-head {@include hidden;}

	.sort-display {
		display: flex;
		position: relative;
		left: calc(50% - 50vw);
		width: 100vw;
		box-sizing: border-box;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: none;
		scrollbar-width: none;
		padding: 1rem 0;
		box-shadow: 0 0.0625rem 0 0 $color-base-020;

		&::-webkit-scrollbar {display: none;}

		.sort-list {
			flex-grow: 1;
			display: flex;
			padding: 0 0.5rem;

			@include respond-above(x-small) {padding: 0 1rem;}
			@include respond-above(small) {padding: 0 1.25rem;}

			.sort-item {
				text-decoration: none;
				display: flex;
				flex-direction: column;
				width: 3rem;
				min-width: 3rem;
				text-align: center;

				+ .sort-item {margin-left: 1.5rem;}

				.sort-name {
					@include font-body(x-small);

					order: 2;
					margin-top: 0.25rem;
					color: $color-base-070;
				}

				&::before {
					content: '';
					width: 3rem;
					height: 3rem;
					order: 1;
					justify-content: center;
					align-items: center;
					border-radius: 50%;
					background-image: inherit;
					background-repeat: no-repeat;
					background-color: $color-base-010;
					background-size: 1.5rem 1.5rem;
					background-position: center center;
				}

				&.all::before		{background-image: svgIcon(all, $color-base-070)}
				&.handle::before	{background-image: svgIcon(handle, $color-base-070)}
				&.hinge::before		{background-image: svgIcon(hinge, $color-base-070)}
				&.tool::before		{background-image: svgIcon(tool, $color-base-070)}
				&.paint::before 	{background-image: svgIcon(paint, $color-base-070)}
				&.lighting::before	{background-image: svgIcon(lighting, $color-base-070)}
				&.socket::before	{background-image: svgIcon(socket, $color-base-070)}
				&.tile::before		{background-image: svgIcon(tile, $color-base-070)}
				&.floor::before		{background-image: svgIcon(floor, $color-base-070)}
				&.faucet::before	{background-image: svgIcon(faucet, $color-base-070)}
				&.wood::before		{background-image: svgIcon(wood, $color-base-070)}
				&.sheet::before		{background-image: svgIcon(sheet, $color-base-070)}
				&.wallpaper::before	{background-image: svgIcon(wallpaper, $color-base-070)}
				&.furniture::before	{background-image: svgIcon(furniture, $color-base-070)}
				&.outdoor::before	{background-image: svgIcon(tent, $color-base-070)}
				&.living::before	{background-image: svgIcon(mirror, $color-base-070)}
				&.office::before	{background-image: svgIcon(stationery, $color-base-070)}
				&.fabric::before	{background-image: svgIcon(fabric, $color-base-070)}
				&.appliances::before{background-image: svgIcon(computer, $color-base-070)}
				&.kitchen::before	{background-image: svgIcon(kitchen, $color-base-070)}

				&.current {
					&::before			{background-color: $color-primary-070;}
					&.all::before		{background-image: svgIcon(all, $color-base-000);}
					&.handle::before	{background-image: svgIcon(handle, $color-base-000);}
					&.hinge::before		{background-image: svgIcon(hinge, $color-base-000);}
					&.tool::before		{background-image: svgIcon(tool, $color-base-000);}
					&.paint::before		{background-image: svgIcon(paint, $color-base-000);}
					&.lighting::before	{background-image: svgIcon(lighting, $color-base-000);}
					&.socket::before	{background-image: svgIcon(socket, $color-base-000);}
					&.tile::before		{background-image: svgIcon(tile, $color-base-000);}
					&.floor::before		{background-image: svgIcon(floor, $color-base-000);}
					&.faucet::before	{background-image: svgIcon(faucet, $color-base-000);}
					&.wood::before		{background-image: svgIcon(wood, $color-base-000);}
					&.sheet::before		{background-image: svgIcon(sheet, $color-base-000);}
					&.wallpaper::before	{background-image: svgIcon(wallpaper, $color-base-000);}
					&.furniture::before	{background-image: svgIcon(furniture, $color-base-000);}
					&.outdoor::before	{background-image: svgIcon(tent, $color-base-000);}
					&.living::before	{background-image: svgIcon(mirror, $color-base-000);}
					&.office::before	{background-image: svgIcon(stationery, $color-base-000);}
					&.fabric::before	{background-image: svgIcon(fabric,  $color-base-000);}
					&.appliances::before{background-image: svgIcon(computer, $color-base-000);}
					&.kitchen::before	{background-image: svgIcon(kitchen, $color-base-000);}

					.sort-name {color: $color-base-090;}
				}
			}
		}

		& + .goods-display.style-a {margin-top: 1.5rem;}
	}
}

//추천 01.01.T03
#recommend {
	.section.default + .section.default {margin-top: 3rem}
	.section-head {@include hidden}
}

//기획전 01.01.T04
#exhibition .display-board.style-a .board-item +.board-item {margin-top: 0.5rem;}

//테마 01.01.T05
#theme {
	.info-board.style-h {
		padding-bottom: 1.5rem;
		box-shadow: 0 0.0625rem 0 0 $color-base-020;
	}

	.section.default {
		margin-top: 2rem;

		.section-head {
			margin-bottom: 1rem;

			.section-name {
				@include font-head(small);

				font-weight: 400;
				color: $color-base-090;
				margin: 0;

				.em {
					display: block;
					font-weight:700;
				}
			}
		}
	}
}

// 슈퍼세일 01.01.T06
#supersale {
	// 바로가기
	.display-board.get-point {
		margin: 1.5rem 0;
	}

	.tab-display.style-f {
		position: relative;
		left: calc(50% - 50vw);
		width: 100vw;
		background-color: $color-base-010;
		padding: 0.75rem 0;

		.tab-list {
			padding: 0 0.5rem;

			@include respond-above(x-small) {padding: 0 1rem;}
			@include respond-above(small) {padding: 0 1.25rem;}

			.tab-item:not(.current) .tab-name {background-color: $color-base-000;}
		}
	}
}