	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Basic User Interface</title>
	<link rel="shortcut icon" href="./../../assets/images/global/bui_favicon.ico">
	<link rel="stylesheet" type="text/css" href="./../../assets/css/module.global.css">
	<link rel="stylesheet" type="text/css" href="./../../assets/css/bui.layout.front.css">
	<% if (pageStyle) { %><link rel="stylesheet" type="text/css" href="./../../assets/css/<%= pageStyle %>"><% } %>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/github.min.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/languages/bash.min.js"></script>
	<script type="text/javascript">hljs.initHighlightingOnLoad();</script>
	<script type="text/javascript" src="./../../assets/js/module.all.js"></script>
	<script type="text/javascript" defer src="./../../assets/js/module.bui.js"></script>
	<script type="text/javascript" defer src="./../../assets/js/module.bui.template.js"></script>
	<% if (pageJavascript) { %><script type="text/javascript" defer src="./../../assets/js/<%= pageJavascript %>"></script><% } %>