<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.head.front.ejs', {
	pageStyle: 'page.login.css',
	pageJavascript: ''
}) %>
</head>
<body>
	<div id="page">
<%-include('../_templates/_header.blank.ejs') %>
		<!--page-body-->
		<div class="page-body" id="local">
			<!--local-head-->
			<div class="local-head">
				<div class="local-title"><h2 class="local-name">아이디 찾기</h2></div>
				<!--tab-display-->
				<div class="tab-display style-d type-a xxx-large">
					<ul class="tab-list">
						<li class="tab-item current"><a class="tab-name" href="#">이메일</a></li>
						<li class="tab-item"><a class="tab-name" href="#">휴대폰번호</a></li>
					</ul>
				</div>
				<!--//tab-display-->
			</div>
			<!--//local-head-->
			<!--local-body-->
			<div class="local-body find-id-email" id="content">
				<!--content-head-->
				<div class="content-head">
					<div class="content-title"><h3 class="content-name">이메일</h3></div>
				</div>
				<!--//content-head-->
				<!--content-body-->
				<div class="content-body">
					<!--submit-form-->
					<div class="submit-form theme-a style-a type-a">
						<fieldset class="form-list">
							<legend>개인정보 입력 서식</legend>
							<div class="form-item">
								<div class="form-head"><span class="form-name">이름</span></div>
								<div class="form-body">
									<div class="form-area">
										<span class="form textfield style-b type-b normal-03 x-large flex">
											<input class="form-elem invalid" type="text" maxlength="20" placeholder="이름">
											<span class="form-util"><span class="form-clear"></span></span>
										</span>
									</div>
								</div>
							</div>
							<div class="form-item">
								<div class="form-head"><span class="form-name">이메일</span></div>
								<div class="form-body">
									<div class="form-area">
										<span class="form textfield style-b type-b normal-03 x-large flex">
											<input class="form-elem invalid" type="email" placeholder="이메일 주소">
											<span class="form-util"><span class="form-clear"></span></span>
										</span>
									</div>
									<div class="form-noti invalid">이름을 입력해 주세요</div>
									<div class="form-noti invalid">이메일 주소를 입력해 주세요</div>
									<div class="form-noti invalid">입력하신 정보와 일치하는 회원정보가 없습니다.</div>
								</div>
							</div>
						</fieldset>
						<!--button-area-->
						<div class="button-area style-a">
							<button class="btn theme-a style-b type-a accent-01 xxx-large flex" type="submit"><span class="btn-text">아이디 찾기</span></button>
						</div>
						<!--//button-area-->
					</div>
					<!--//submit-form-->
					<!--leave-page-->
					<div class="leave-page">
						<a class="em style-a normal-03 small symbol-rtl-chevron-right" href="#">비밀번호 재설정</a>
					</div>
					<!--//leave-page-->
				</div>
				<!--//content-body-->
			</div>
			<!--//local-body-->
		</div>
		<!--//page-body-->
<%-include('../_templates/_footer.blank.ejs') %>
	</div>
</body>
</html>