<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.head.front.ejs', {
	pageStyle: 'page.login.css',
	pageJavascript: ''
}) %>
</head>
<body>
	<div id="page">
<%-include('../_templates/_header.blank.ejs') %>
		<!--page-body-->
		<div class="page-body" id="local">
			<!--local-head-->
			<div class="local-head">
				<div class="local-title"><h2 class="local-name">비밀번호 재설정</h2></div>
				<!--tab-display-->
				<div class="tab-display style-d type-a xxx-large">
					<ul class="tab-list">
						<li class="tab-item"><a class="tab-name" href="#">이메일</a></li>
						<li class="tab-item current"><a class="tab-name" href="#">휴대폰번호</a></li>
					</ul>
				</div>
				<!--//tab-display-->
			</div>
			<!--//local-head-->
			<!--local-body-->
			<div class="local-body password-reset-mobile" id="content">
				<!--content-head-->
				<div class="content-head">
					<div class="content-title"><h3 class="content-name">휴대폰번호</h3></div>
				</div>
				<!--//content-head-->
				<!--content-body-->
				<div class="content-body">
					<!--info-board-->
					<div class="info-board style-a type-a medium">
						<div class="board-body"><p class="board-summary">회원정보의 휴대폰 번호로 비밀번호 재설정 정보를 발송해 드립니다.</p></div>
					</div>
					<!--//info-board-->
					<!--submit-form-->
					<div class="submit-form theme-a style-a type-a">
						<fieldset class="form-list">
							<legend>개인정보 입력 서식</legend>
							<div class="form-item">
								<div class="form-head"><span class="form-name">아이디</span></div>
								<div class="form-body">
									<div class="form-area">
										<span class="form textfield style-b type-b normal-03 x-large flex">
											<input class="form-elem" type="text" maxlength="20" placeholder="아이디">
											<span class="form-util"><span class="form-clear"></span></span>
										</span>
									</div>
								</div>
							</div>
							<div class="form-item">
								<div class="form-head"><span class="form-name">이름</span></div>
								<div class="form-body">
									<div class="form-area">
										<span class="form textfield style-b type-b normal-03 x-large flex">
											<input class="form-elem" type="text" maxlength="20" placeholder="이름">
											<span class="form-util"><span class="form-clear"></span></span>
										</span>
									</div>
								</div>
							</div>
							<div class="form-item">
								<div class="form-head"><span class="form-name">이메일</span></div>
								<div class="form-body">
									<div class="form-area">
										<span class="form select style-b type-b normal-03 x-large" style="width: 7.5rem; min-width: 7.5rem;">
											<select class="form-elem">
												<option>010</option>
											</select>
										</span>
										<span class="form textfield style-b type-b normal-03 x-large flex">
											<input class="form-elem" type="tel" placeholder="숫자만 입력">
											<span class="form-util"><span class="form-clear"></span></span>
										</span>
									</div>
								</div>
							</div>
						</fieldset>
						<!--button-area-->
						<div class="button-area style-a">
							<button class="btn theme-a style-b type-a accent-01 xxx-large flex" type="submit"><span class="btn-text">비밀번호 재설정</span></button>
						</div>
						<!--//button-area-->
					</div>
					<!--//submit-form-->
					<!--leave-page-->
					<div class="leave-page">
						<a class="em style-a normal-03 small symbol-rtl-chevron-right" href="#">아이디 찾기</a>
					</div>
					<!--//leave-page-->
				</div>
				<!--//content-body-->
			</div>
			<!--//local-body-->
		</div>
		<!--//page-body-->
<%-include('../_templates/_footer.blank.ejs') %>
	</div>
</body>
</html>