		</div>
		<!--// [e] content -->
	</div>
	<!--// [e] wrap -->

	<script type="text/javascript">
		// default
		var path = $(location).attr('pathname')?$(location).attr('pathname'):"/moongori-convention/dist/doc/basic.html";
		var snbName = "doc";// default

		if	   (path.indexOf("/ui/") != -1)		snbName = "ui";		// (PC) UI
		else if(path.indexOf("/ui-m/") != -1)	snbName = "ui-m";	// (모바일) UI
		else if(path.indexOf("/doc/") != -1)	snbName = "doc";	// (PC) 정책
		//else if(path.indexOf("/doc-m/") != -1)	snbName = "doc-m";	// (모바일) 정책

		$.get('/moongori-convention/layout/snb_' + snbName + '.html', function (response) {
			$('#snb').append(response);
			$("#lnb a[href*='"+snbName+"/']").parents("li").addClass("current");
			$("#snb a[href='"+path+"']").parents("li").addClass("current");
		});
	</script>
</body>
</html>