<!DOCTYPE html>
<html lang="ko">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<title>Moon Convention</title>
	<script src="//code.jquery.com/jquery-latest.min.js"></script>
	<script src="/moongori-convention/assets/js/common.js"></script>

	<link rel="stylesheet" href="/moongori-convention/assets/css/common.css">
	<link rel="stylesheet" href="/moongori-convention/assets/css/layout.css">
	<link rel="stylesheet" href="/moongori-convention/assets/css/content.css">

	<!-- [s] highlight.js -->
	<!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/rainbow.min.css"> 하이라이트 rainbow 스타일 라이브러리 -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css"><!-- 하이라이트 rainbow 스타일 라이브러리 -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"><!-- 메시지 알람 라이브러리 -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"><!-- 아이콘 라이브러리 -->
	<link rel="stylesheet" href="/moongori-convention/assets/lib/highlight.js/highlight_common.css">

	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>
	<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushXml.min.js"></script> -->
	<script src="/moongori-convention/assets/lib/highlight.js/highlight_common.js"></script>
	<!--// [e] highlight.js -->

	<!-- inject -->
	<!-- endinject -->
</head>
<body class="convention">
	<!-- [s] wrap -->
	<div id="wrap">
		<!-- [s] header -->
		<header id="header">
			<p class="logo"><a href="/">Moon Convention v1.0</a></p>
			<nav id="lnb">
				<ul class="lnb-list">
					<li><a href="/moongori-convention/dist/doc/basic.html">정책</a></li>
					<li><a href="/moongori-convention/dist/ui/color.html">UI</a></li>
					<li><a href="/moongori-convention/dist/ui-m/color.html">UI_Mobile</a></li>
				</ul>
			</nav>
			<button type="button" id="snb-btn"><span>SNB 메뉴</span></button>
			<aside id="snb">				
			</aside>
		</header>
		<!--// [e] header -->
		<!-- [s] content -->
		<div id="content">