<style>
	.ing a {color:blue !important}
	.stop a {color:red !important}
</style>
<!-- [s] snb - 정책 -->
<ul class="snb-list">
	<li><a href="/moongori-convention/dist/doc/basic.html">기본정의</a></li>
	<li><a href="/moongori-convention/dist/doc/directory.html">디렉토리</a>
		<ul class="snb-list-dept2">
			<li><a href="/moongori-convention/dist/doc/directory.html">디렉토리 구성 (PC)</a></li>
			<li><a href="/moongori-convention/dist/doc/directory_css.html">CSS 파일 정의 (PC)</a></li>
			<li><a href="/moongori-convention/dist/doc/directory_m.html">디렉토리 구성 (Mobile)</a></li>
			<li><a href="/moongori-convention/dist/doc/directory_css_m.html">CSS 파일 정의 (Mobile)</a></li>
		</ul>
	</li>
	<li><a href="/moongori-convention/dist/doc/makup.html">마크업</a>
		<ul class="snb-list-dept2">
			<li><a href="/moongori-convention/dist/doc/makup.html">마크업구조</a></li>
			<li><a href="/moongori-convention/dist/doc/markup_rule.html">마크업 규칙</a></li>
		</ul>		
	</li>
	<li><a href="/moongori-convention/dist/doc/scss_setting.html">SCSS</a>
		<ul class="snb-list-dept2">
			<li><a href="/moongori-convention/dist/doc/scss_setting.html">환경설정</a></li>
			<li><a href="/moongori-convention/dist/doc/scss_naming.html">네이밍규칙</a></li>
			<li><a href="/moongori-convention/dist/doc/scss_rule.html">작성규칙</a></li>
			<li><a href="/moongori-convention/dist/doc/scss_keyword.html">정의된 예약어</a></li>
			<li><a href="/moongori-convention/dist/doc/scss_variables.html">전역변수</a></li>
			<li><a href="/moongori-convention/dist/doc/scss_mixin.html">@mixin 검색</a></li>
		</ul>
	</li>
	<!-- <li><a href="/moongori-convention/dist/doc/button.html">요소별 정의</a>
		<ul class="snb-list-dept2">
			<li><a href="/moongori-convention/dist/doc/button.html">버튼</a></li>
			<li><a href="/moongori-convention/dist/doc/table.html">table</a></li>
			<li><a href="/moongori-convention/dist/doc/form.html">폼요소</a></li>
		</ul>
	</li>
	<li><a href="/moongori-convention/dist/doc/wai-aria.html">웹표준 / 웹접근성</a>
		<ul class="snb-list-dept2">
			<li class="stop"><a href="/moongori-convention/dist/doc/wai-aria.html">WAI-ARIA</a></li>
		</ul>
	</li> -->
</ul>
<!-- [e] snb - 정책 -->