@charset "UTF-8";

//@import "variables";

@import "//fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Quicksand:wght@300;400&display=swap";
@import "//fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap";
@import "//fonts.googleapis.com/icon?family=Material+Icons";

/*// defalut - NotoSansKR
$url:"../font/"+$font-family+"-"; 

@font-face {
	$url: $url + 'Light';

	font-family:$font-family;
	src:url($url+'.otf');
	src:url($url+'.otf?#iefix') format('embedded-opentype'),
		url($url+'.woff2') format('woff2'),
		url($url+'.woff') format('woff');
}
@font-face {
	$url: $url + 'Regular';

	font-family:$font-family;
	font-weight:500;
	src:url($url+'.otf');
	src:url($url+'.otf?#iefix') format('embedded-opentype'),
		url($url+'.woff2') format('woff2'),
		url($url+'.woff') format('woff');
}
@font-face {
	$url: $url + 'Medium';

	font-family:$font-family;
	font-weight:600;
	src:url($url+'.otf');
	src:url($url+'.otf?#iefix') format('embedded-opentype'),
		url($url+'.woff2') format('woff2'),
		url($url+'.woff') format('woff');
}
@font-face {
	$url: $url + 'Bold';

	font-family:$font-family;
	font-weight:700;
	src:url($url+'.otf');
	src:url($url+'.otf?#iefix') format('embedded-opentype'),
		url($url+'.woff2') format('woff2'),
		url($url+'.woff') format('woff');
}
*/