@charset "UTF-8";

// default
$font-family: 'Noto Sans KR';
$font-family2: 'Lato';
$font-family3: 'Material Icons';
$default-color : #4c4c4c;
$default-fsize: 16px;
$default-fsize-m: 14px;

// layout
$layout-padding : 2%;
// Layout
$layout-width : 1748px;

$screen-pc : 1937px;
$screen-pc2 : 1600px;
$screen-tablet : 1007px; // 1024 - 17(스크롤 사이즈)
$screen-mobile : 751px; // 768 - 17(스크롤사이즈)

// header
$header-height: 70px;
$header-bg: #3f3c3a;//#00b076;
$header-fcolor: #fff;