<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.head.front.ejs', {
	pageStyle: 'page.etc.css',
	pageJavascript: ''
}) %>
</head>
<body>
	<div id="page">
		<%-include('../_templates/_header.front.ejs') %>
		<!--page-body-->
		<div class="page-body" id="local">
			<!--local-head-->
			<div class="local-head">
				<h2 class="local-title"><span class="local-name">최근 본</span></h2>
				<!--local-control-->
				<div class="local-control">
					<span class="control-item">
						<a class="control-name" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>이전으로</title><path d="M10.8,5.2c0.2,0.2,0.3,0.6,0.1,0.9l-0.1,0.1l-5.3,5.2l14.8,0c0.3,0,0.6,0.3,0.6,0.6c0,0.3-0.2,0.5-0.5,0.6l-0.1,0l-14.8,0l5.3,5.2c0.2,0.2,0.3,0.6,0.1,0.9l-0.1,0.1c-0.2,0.2-0.6,0.3-0.9,0.1l-0.1-0.1L3,12l6.8-6.8C10.1,4.9,10.5,4.9,10.8,5.2z"></path></svg></a>
					</span>
					<span class="control-item">
						<a class="control-name" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>검색</title><path d="M20.8,19.9l-4.4-4.4c1.1-1.3,1.8-3,1.8-4.9c0-4.2-3.4-7.6-7.6-7.6C6.4,3,3,6.4,3,10.6c0,4.2,3.4,7.6,7.6,7.6c1.9,0,3.6-0.7,4.9-1.8l4.4,4.4l0.1,0.1c0.3,0.2,0.6,0.2,0.8-0.1C21.1,20.6,21.1,20.1,20.8,19.9z M10.6,17c-3.5,0-6.4-2.9-6.4-6.4c0-3.5,2.9-6.4,6.4-6.4c3.5,0,6.4,2.9,6.4,6.4C17,14.1,14.1,17,10.6,17z"></path></svg></a>
						<a class="control-name" href="#">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" focusable="false"><title>장바구니</title><path d="M21,19.1l-1.6-9.8l0-0.1C19.2,8.5,18.6,8,17.8,8h-2.2V6.6l0-0.2C15.5,4.5,13.9,3,12,3c-2,0-3.6,1.6-3.6,3.6l0,1.4H6.2C5.5,8,4.8,8.6,4.7,9.3l-1.6,9.8c0,0.1,0,0.2,0,0.3c0,0.9,0.7,1.6,1.6,1.6h14.8c0.1,0,0.2,0,0.3,0C20.6,20.8,21.1,20,21,19.1z M9.6,6.6l0-0.2c0.1-1.3,1.1-2.3,2.4-2.3c1.3,0,2.4,1.1,2.4,2.4V8H9.6V6.6z M19.5,19.8L19.5,19.8l-14.8,0c-0.2,0-0.4-0.2-0.4-0.4v0l1.6-9.8l0-0.1c0.1-0.2,0.2-0.3,0.4-0.3l2.2,0V11h1.2V9.2h4.8V11h1.2V9.2l2.2,0h0c0.2,0,0.4,0.1,0.4,0.3l1.6,9.8C19.9,19.6,19.7,19.8,19.5,19.8z"></path></svg>
							<span class="count">99</span>
						</a>
					</span>
				</div>
				<!--//local-control-->
			</div>
			<!--//local-head-->
			<!--local-body-->
			<div class="local-body recently-view" id="content">
				<!--content-head-->
				<div class="content-head">
					<h3 class="content-title"><span class="content-name">상세 내역</span></h3>
				</div>
				<!--//content-head-->
				<!--content-body-->
				<div class="content-body">
					<!--tab-display-->
					<div class="tab-display style-b type-c" data-bui-tab="normal">
						<ul class="tab-list">
							<li class="tab-item current"><a class="tab-name" href="#goods">상품</a></li>
							<li class="tab-item"><a class="tab-name" href="#story">스토리 <span class="info-lamp"><span class="info-body">new</span></span></a></li>
						</ul>
					</div>
					<!--tab-display-->

					<!--section-->
					<div class="section goods" id="goods">
						<div class="section-head"><div class="section-title"><h4 class="subseciton-name">상품</h4></div></div>
						<div class="section-body">
							<!--goods-display-->
							<div class="goods-display style-a type-b medium">
								<!--data-util-->
								<div class="data-util">
									<div class="util-item">
										<span class="data-total">
											<span class="head">최근 본 상품</span> <span class="body">30개</span>
										</span>
									</div>
									<div class="util-item">
										<button class="btn style-text type-b xxx-small normal-02" type="button">전체삭제</button>
									</div>
								</div>
								<!--//data-util-->
								<!--goods-list-->
								<ul class="goods-list">
									<li class="goods-item">
										<div class="goods-area">
											<div class="goods-figure">
												<a class="goods-thumbnail" href="#"><img class="image" src="./../../assets/images/@temporary/image-thumbnail-01@3x.png" alt="" onerror="imgError(this);"></a>
											</div>
											<div class="goods-inform">
												<div class="goods-head">
													<div class="goods-title"><a class="goods-name" href="#">인더프레임 마이스터 6인 테이블(6size)</a></div>
												</div>
												<div class="goods-foot">
													<span class="goods-price">
														<!-- <span class="price-list"><del class="value">7,000</del> <span class="unit">원</span></span> -->
														<span class="price-sale"><ins class="value">99,000</ins> <span class="unit">원</span></span>
														<span class="price-discount"><span class="value">36</span> <span class="unit">%</span></span>
													</span>
												</div>
											</div>
										</div>
									</li>
									<li class="goods-item">
										<div class="goods-area">
											<div class="goods-figure">
												<a class="goods-thumbnail" href="#"><img class="image" src="./../../assets/images/@temporary/image-thumbnail-01@3x.png" alt="" onerror="imgError(this);"></a>
											</div>
											<div class="goods-inform">
												<div class="goods-head">
													<div class="goods-title"><a class="goods-name" href="#">인더프레임 마이스터 6인 테이블(6size)</a></div>
												</div>
												<div class="goods-foot">
													<span class="goods-price">
														<!-- <span class="price-list"><del class="value">7,000</del> <span class="unit">원</span></span> -->
														<span class="price-sale"><ins class="value">99,000</ins> <span class="unit">원</span></span>
														<span class="price-discount"><span class="value">36</span> <span class="unit">%</span></span>
													</span>
												</div>
											</div>
										</div>
									</li>
									<li class="goods-item">
										<div class="goods-area">
											<div class="goods-figure">
												<a class="goods-thumbnail" href="#"><img class="image" src="./../../assets/images/@temporary/image-thumbnail-01@3x.png" alt="" onerror="imgError(this);"></a>
											</div>
											<div class="goods-inform">
												<div class="goods-head">
													<div class="goods-title"><a class="goods-name" href="#">인더프레임 마이스터 6인 테이블(6size)</a></div>
												</div>
												<div class="goods-foot">
													<span class="goods-price">
														<!-- <span class="price-list"><del class="value">7,000</del> <span class="unit">원</span></span> -->
														<span class="price-sale"><ins class="value">99,000</ins> <span class="unit">원</span></span>
														<span class="price-calc">/ cm²</span>
													</span>
												</div>
											</div>
										</div>
									</li>
								</ul>
								<!--//goods-list-->
							</div>
							<!--//goods-display-->

							<!--info-board-->
							<div class="info-board style-b type-b attr-cart no-data">
								<p class="board-body">
									<span class="wbr">최근 조회한 상품이 없습니다.</span>
								</p>
							</div>
							<!--//info-board-->

							<p class="para style-a type-b normal-03 xxx-small">최근 캐쉬 기준 내 조회한 내용만 노출됩니다.</p>
						</div>
					</div>
					<!--//section-->

					<!--section-->
					<div class="section story" id="story">
						
					</div>
					<!--//section-->
				</div>
				<!--//content-body-->
			</div>
			<!--//local-body-->
		</div>
		<!--//page-body-->
		<%-include('../_templates/_footer.front.ejs') %>
	</div>
</body>
</html>