	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">

	<meta name="format-detection" content="telephone=no, date=no, address=no, email=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>셀프인테리어 파트너,DIY의 선두주자! 문고리닷컴</title>
	<link rel="shortcut icon" href="./../../assets/images/global/favicon.ico">
	<link rel="stylesheet" type="text/css" href="./../../assets/css/module.global.css">
	<% if (pageStyle) { %><link rel="stylesheet" type="text/css" href="./../../assets/css/<%= pageStyle %>"><% } %>
	<script type="text/javascript" src="./../../assets/js/module.all.js"></script>
	<script type="text/javascript" src="./../../assets/js/module.bui.js"></script>
	<script type="text/javascript" defer src="./../../assets/js/module.bui.template.js"></script>
	<% if (pageJavascript) { %><script type="text/javascript" defer src="./../../assets/js/<%= pageJavascript %>"></script><% } %>