				<!--local-navi-->
				<div class="local-navi">
					<ul class="navi-list">
						<li class="navi-item current"><a class="navi-name" href="#">자주 묻는 질문</a></li>
						<li class="navi-item"><a class="navi-name" href="#">회원 혜택 안내</a></li>
						<li class="navi-item"><a class="navi-name" href="#">공지사항</a></li>
						<li class="navi-item"><a class="navi-name" href="#">입금자를 찾습니다</a></li>
						<li class="navi-item"><a class="navi-name" href="#">1:1 문의하기</a></li>
						<li class="navi-item"><a class="navi-name" href="#">시공의뢰</a></li>
						<li class="navi-item"><a class="navi-name" href="#">입점/제휴문의</a></li>
						<li class="navi-item"><a class="navi-name" href="#">대량구매문의</a></li>
						<li class="navi-item"><a class="navi-name" href="#">배송/교환/반품 안내</a></li>
					</ul>
				</div>
				<!--//local-navi-->