				<!--local-navi-->
				<div class="local-navi">
					<ul class="navi-list">
						<li class="navi-item">
							<a class="navi-name" href="#">나의 쇼핑</a>
							<ul class="navi-list">
								<li class="navi-item current"><a class="navi-name" href="#">주문 배송 조회</a></li>
								<li class="navi-item"><a class="navi-name" href="#">상품 후기</a> <span class="navi-data">4</span></li>
								<li class="navi-item"><a class="navi-name" href="#">개인 결제</a> <span class="navi-data">1</span></li>
								<li class="navi-item"><a class="navi-name" href="#">쿠폰</a> <span class="navi-data">99</span></li>
								<li class="navi-item"><a class="navi-name" href="#">포인트</a> <span class="navi-data">11,100</span></li>
								<li class="navi-item"><a class="navi-name" href="#">예치금</a> <span class="navi-data">156,000</span></li>
								<li class="navi-item"><a class="navi-name" href="#">나의 등급혜택</a></li>
								<li class="navi-item"><a class="navi-name" href="#">위시리스트</a> <span class="navi-data">36</span></li>
								<li class="navi-item"><a class="navi-name" href="#">관심 스토어</a> <span class="navi-data">15</span></li>
								<li class="navi-item"><a class="navi-name" href="#">재입고 알림</a> <span class="navi-data">2</span></li>
								<li class="navi-item"><a class="navi-name" href="#">1:1 문의</a></li>
								<li class="navi-item"><a class="navi-name" href="#">상품 Q&amp;A</a></li>
							</ul>
						</li>
						<li class="navi-item">
							<a class="navi-name" href="#">나의 스토리</a>
							<ul class="navi-list">
								<li class="navi-item"><a class="navi-name" href="#">내가 쓴 글</a> <span class="navi-data">17</span></li>
								<li class="navi-item"><a class="navi-name" href="#">스크랩한 글</a> <span class="navi-data">21</span></li>
								<li class="navi-item"><a class="navi-name" href="#">댓글 단 글</a> <span class="navi-data">235</span></li>
							</ul>
						</li>
						<li class="navi-item">
							<a class="navi-name" href="#">나의 정보</a>
							<ul class="navi-list">
								<li class="navi-item"><a class="navi-name" href="#">회원정보 수정</a></li>
								<li class="navi-item"><a class="navi-name" href="#">배송지/환불계좌 관리</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<!--//local-navi-->